[2021-04-22 18:57] greg0ire commented on #4504
Yes, that's the issue I was pointing at. You got some help with your issue, and didn't think of giving back. Well to be fair, the reminder is still appreciated, just… it feels a bit like piling work on the collective desk. We get a lot of +1, and "me too" and reminders like that. Feels nice to get PRs instead once in a while. So next time, please consider it :pray:

[2021-04-22 19:14] rhift commented on #4504
wow. "got some help with your issue, and didn't think of giving back"??? - lol I would consider "see upgrade docs" equivalent to the effort of me pointing out that the documentation was incorrect. if your behavior is indicative of the Doctrine community y'all have some cultural problems to work at making better. goodness, dial back the pedantic rhetoric

[2021-04-22 19:51] greg0ire commented on #4504
You're right, I'm sorry. I could have asked nicely. I guess I got angry because I read another issue right before where several people were complaining that something had not been implemented for years, and they could not fathom how that was even possible. Too much OSS I guess.

Nah that's just me thankfully.

[2021-04-22 20:02] rhift commented on #4504
np, thanks, and being unappreciated feels terrible when you put so much into something, I get it =) thanks for your contributions to OSS, and best of luck in the future

[2021-04-22 20:08] greg0ire opened #4616 "Add `inTransaction()` to the API"
### Feature Request

As pointed out in https://github.com/doctrine/dbal/pull/4544#issuecomment-799596645 and https://github.com/getsentry/sentry-symfony/issues/488#issuecomment-825108702 , it would be useful to have an `inTransaction()` method in the `Driver\Connection` API (and even in the Connection class?)

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC

[2021-04-23 14:36] satishjunghareewebcore opened #4617 "Giving could not find doctrine/dbal"
### Bug Report

I have tried following command to install this package in my laravel project.

`composer require doctrine/dbal`

#### Output

  Could not find package doctrine/dbal.

What could be the reason of unable to install this package?

[2021-04-23 18:38] morozov commented on #4602
If it's claimed to be a DBAL issue, can anybody reproduce it in the DBAL?

[2021-04-23 20:38] beberlei commented on #4617
Do you have a key `"repositories": {"packagist": false}` in your composer.json?

[2021-04-23 21:19] ostrolucky commented on #4602
I have added failing test at https://github.com/doctrine/dbal/pull/4618

I mentioned this in https://github.com/symfony/symfony/issues/40566#issuecomment-821851299, but actual issue with DBAL is that it binds string to `PDOStatement:bindValue`, then what happens next is undefined, because it depends on php driver extension.

Solution might be to either throw exception here because this was clearly

[2021-04-23 22:18] morozov commented on #4602
At least in the `mysqli` case, it looks like the DBAL loses the binding metadata somewhere. If used directly, the driver seems to work as expected:
[code]

[2021-04-23 22:26] morozov commented on #4602
It's actually MySQL itself to blame:
[code]

[2021-04-24 08:05] greg0ire commented on #4602
:thinking: what the hell? :scream:

`1 warning` : will that be about a loose comparison?

[2021-04-24 09:12] ostrolucky commented on #4602
Folks, this issue isn't about mysql returning non-empty results, but about difficulty of debugging such problem in DBAL. I have created test case with result assertion only to demonstrate this WTF. Now imagine this happening accidentally - DBAL logger shows values you passed but they aren't the values passed to mysql server. This is very tricky for user and I have posted some proposal to improve i

[2021-04-24 09:37] greg0ire commented on #4616
As hinted before by @morozov , it looks like this cannot be implemented with all drivers, for instance `mysqli` [1]. With that in mind, would it be ok to have `TheInterface`, let's call it `TransactionStatusAware` from now on, partially implemented? Would that depend on the percentage of drivers that can implement it? I'm fairly sure I have read comments from @morozov saying that partial implement

[2021-04-24 11:15] ostrolucky commented on #4616
What about `Connection::isTransactionActive`? It exists already and in my opinion is currently broken by implicit transactions. We would avoid creating new API by fixing it.

[2021-04-24 12:35] greg0ire commented on #4616
:thinking: indeed that would be interesting. We would still need to implement the interface I'm mentioning at the driver level, but we could indeed change `Connection::isTransactionActive` instead of adding a new method to the connection class 👍

[2021-04-24 15:06] morozov commented on #4602
Yes:
[code]

[2021-04-24 15:07] morozov commented on #4602
These are the values that are passed to the underlying driver (see https://github.com/doctrine/dbal/issues/4602#issuecomment-825952148). How do you propose to log what the driver sends to the server?

[2021-04-24 15:13] ostrolucky commented on #4602
I've proposed one idea before - we know how mysql is going to cast it, so dbal can cast it itself before passing it to driver, result would be same - except correct values would be logged. Or throw exception, it doesn't make sense to bind non-numeric string as integer type.

[2021-04-24 15:15] morozov commented on #4602
Definitely not the logger's (nor the DBAL's in general) responsibility. I'd try digging into the underlying DBs configuration and see if it's possible to disable such insane behavior in the first place. Alternatively, enable query logging on the server side, that would be the real source of truth.

[2021-04-24 15:47] morozov commented on #4602
A more adequate solution would be to enforce parameter types _during_ binding. E.g.:
[code]
This would also solve a ton of other API-related issues.

[2021-04-25 18:51] morozov commented on #4616
That would make sense. It's [implemented in PDO](https://github.com/php/php-src/blob/e3403d80af19486e7e517cbbfc4db3b3fe22ae16/ext/pdo/pdo_dbh.c#L583-L588) in a similar way:
[code]
If the underlying driver supports `in_transaction`, it sources the state from the state of the underlying driver connection. Otherwise, it uses the `in_txn` flag defined at the PDO level.

Also, it should be trivial to i

[2021-04-25 22:30] morozov commented on #4616
Here's the PoC for `mysqli`: https://github.com/php/php-src/compare/PHP-8.0...morozov:mysqli-in-transaction.
[code]

@greg0ire do you maybe want to start a thread on PHP internals and see if we could contribute this?

[2021-04-26 06:48] satishjunghareewebcore commented on #4617
No, in my composer.json having private repository details inside..
`repositories" : [{ "type": "vcs", "url": "https://github.com/*******************************"}]`

[2021-04-26 07:15] ostrolucky commented on #4602
Yeah that's second solution. But new API wouldn't help here when passing an array of types and values.

[2021-04-26 07:47] greg0ire commented on #4616
[Done](https://news-web.php.net/php.internals/114181).

[2021-04-26 09:54] greg0ire commented on #4616
For SQLSrv, it seems doable too: https://stackoverflow.com/questions/980143/how-to-check-that-there-is-transaction-that-is-not-yet-committed-in-sql-server-2 . Might have a performance impact though.

For IBMDB2… I don't know.

[2021-04-26 16:30] morozov commented on #4602
Why not?
[code]

[2021-04-26 16:42] ostrolucky commented on #4602
I'm talking about cases where you bind multiple placeholders in one call. ::bindSomething always binds only one parameter
[code]

[2021-04-26 16:48] morozov commented on #4616
For SQL Server, it should be doable at the driver level via [`SQLGetConnectAttr`](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqlgetconnectattr-function?view=sql-server-ver15) which is apparently part of the ISO 92 standard and may be in theory supported by the Oracle and IBM DB2 drivers as well. But it will likely have to be implemented in the PHP extensions additionally.

The very

[2021-04-26 16:51] morozov commented on #4602
Really? Is it the user input that should define the binding type? The types should be defined by the code. In this case, it will get passed to `bindIntegerArray()` internally and fail.

[2021-04-26 17:02] greg0ire commented on #4616
Interesting… what happens when you call `PDO::inTransaction` and it is not implemented then? Is there an error?

[2021-04-26 17:16] morozov commented on #4616
Probably not. See https://github.com/doctrine/dbal/issues/4616#issuecomment-826371637.

[2021-04-26 18:02] ostrolucky commented on #4602
I guess I'm not explaining the problem clearly, but at the same time I don't quite get why you don't see the problem. So let's see concrete case. How would you replace this line in your test case so it works with your new proposed API? https://github.com/doctrine/dbal/blob/cfd53c97231fab078bc52c5814660e6ca4366c81/tests/Functional/NamedParametersTest.php#L237? Input can be
[code]
as well as
[code]

[2021-04-26 19:18] morozov commented on #4602
`fetchAllAssociative()` will internally call the typed methods, so it shouldn't be a problem.

[2021-04-26 19:36] greg0ire commented on #4616
Ah right it uses the counter, got it 👍

[2021-04-26 22:28] bizurkur opened #4619 "ensureForwardCompatibilityStatement broke existing code"
### Bug Report

This is likely a low priority.

|    Q        |   A
|------------ | ------
| BC Break    | yes?
| Version     | 2.13.1, but it looks like 2.12.x branch has the issue too. 2.12.1 worked fine

#### Summary

Commit 4297f5027011027529fdccfa3b1fbbb3090a7d25 broke `Connection` when passing in `$params['pdo']`

https://github.com/doctrine/dbal/pull/4590 says it should have fixed the issue

[2021-04-26 22:51] bizurkur commented on #4619
A possible solution: Modify the change made in https://github.com/doctrine/dbal/pull/4590 but call `$params['pdo']->setAttribute(\PDO::ATTR_STATEMENT_CLASS, [PDODriverStatement::class, []]);` inside the `Doctrine\DBAL\Connection` class instead of the `Doctrine\DBAL\DriverManager` class. Thoughts?

This is basically what I did as a temporary fix (call the `setAttribute()` code before passing into `

[2021-04-27 03:31] michaljusiega commented on #4619
I Can confirm same issue with custom PDO.

[2021-04-27 06:35] greg0ire commented on #4619
@mdumoulin can you please advise?

[2021-04-27 08:33] alexander-schranz commented on #4619
We have the same  problem when using when using https://github.com/crate/crate-dbal implementation which is build on top of https://github.com/crate/crate-pdo which errors with following message:

[code]

[2021-04-27 20:15] mdumoulin commented on #4619
@alexander-schranz  The issue is on crate project side, the crate driver connection should implements DBAL\Driver\Connection interface : https://github.com/doctrine/dbal/blob/2.13.x/lib/Doctrine/DBAL/Driver/Connection.php

To be specific, the PDOConnection::exec() method should return a DBAL\Driver\Statement object instead of a \PDOStatement object to be compatible with DBAL.

You may take inspira

[2021-04-27 20:24] drochette commented on #950
Hi here,

I got the same issue too. I deal with it by creating a custom PlatformService

[code]

And then in the `CustomPostgreSqlPlatform` class, you can set the correct schema by providing this value in the constructor or like you want .. By example:

[code]

[2021-04-27 21:52] alexander-schranz commented on #4619
@mdumoulin  Thx for the response. The Connection interface is used over the ServerInfoAwareInterface. I hope crate pdo support that attribute for the statement, tried to fix it in there [repository](https://github.com/crate/crate-dbal/pull/113/files).

[2021-04-29 21:37] bakiro opened #4627 "Support for postgres 10 in version v2.5.13"
Hello!  in the file lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php replace line 292 with

### Feature Request

$version = floatval($this->_conn->getWrappedConnection()->getServerVersion());
        if ($version >= 10) {
            $data = $this->_conn->fetchAll('SELECT min_value, increment_by FROM pg_sequences WHERE schemaname = \'public\' AND sequencename = ' . $this->_conn->quote($sequenc

[2021-04-30 06:23] greg0ire commented on #4627
@bakiro this is best done with a pull request, please open one so that we can discuss this properly.

[2021-04-30 06:23] #4627 closed, assigned to nobody

[2021-05-01 18:27] BonBonSlick opened #4629 "Duplicate tag element #ID in docs"
https://www.doctrine-project.org/projects/doctrine-orm/en/2.8/reference/annotations-reference.html#index

This page contains 2 the same id="index" as a result its impossible to give a link to second id="index" ;(
Dunno exactly where to post it. Could commit a fix  if I knew.

[2021-05-02 16:57] morozov commented on #4617
@satishjunghareewebcore, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or in one of the channels mentioned at https://www.doctrine-project.org/community/index.html

[2021-05-02 16:57] #4617 closed, assigned to nobody

[2021-05-02 21:29] fmonts opened #4631 "utf8mb4_0900_ai_ci should be the default collation for server_version: '8.0'"
The default collation for MySQL is `utf8mb4_0900_ai_ci` since MySQL 8.0.1.

Doctrine is still using the older `utf8mb4_unicode_ci` to create new tables, when the server_version settings is set to 8.0

### Feature Request

Update the default collate to the newest version, to guarantee the best out-of-the-box configuration.

[2021-05-03 20:57] D4ni3lr commented on #3338
the link is broken, you can use this: https://github.com/doctrine/dbal/blob/3.1.x/docs/en/reference/types.rst

[2021-05-04 10:17] DavideBicego opened #4637 "DriverManager::getConnection with wrapperClass static analysis problem"
After updating to `doctrine/orm 2.8.4` from `2.8.1` I have a static analysis issue with the function DriverManager::getConnection().

The specific Psalm error is:

[code]

ServiceDatabaseConnection extends Connection so the function call is:

[code]

Any suggestion?

[2021-05-04 17:06] mareeo commented on #2505
I'm guessing the fix for this would be modifying this.
https://github.com/doctrine/dbal/blob/3ebe5d77bbf33dee8ee6db805c7ef3c56c06cb55/src/Platforms/PostgreSQL94Platform.php#L202

PostgreSQL seems to truncate long sequence names to 59 characters and then appends `_seq` from what I've seen. Doctrine does no sequence name truncation which results in it querying non-existent sequence.

The fix at this

[2021-05-04 23:04] davidrans commented on #4279
FYI, this may be related: https://github.com/php/php-src/commit/7b9519a792a04d6943ff7082ff343a96ec00157f

[2021-05-05 07:53] Seldaek opened #4634 "executeCacheQuery + fetchOne is a footgun"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | maybe
| Version     | 2.13.1

#### Summary

When running a cached query, the docs do mention you have to [fetch all results](https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/caching.html#caching) (`In order for the data to actually be cached its necessary to ensure that the entire result set is re

[2021-05-05 13:39] Zaqueu96 commented on #3161
This solve for my: https://github.com/doctrine/dbal/issues/3161#issuecomment-635419448

[2021-05-06 08:16] greg0ire commented on #4634
This does not look like a bug, so I don't think we should fix it in 2.x. I think it still exist on 3.x though, and on 3.x, `executeQuery` and `executeCacheQuery` return a `Result`. We might split that interface into 2 parts, and add deprecations in `CachingResult` saying that `fetchOne` and methods part of the non-cacheable interface will no longer be implemented in what is returned from `executeC

[2021-05-06 08:18] flaushi opened #4636 "Possible memory leak in postgres connection"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.12.0

#### Summary

I found a memleak in ORM https://github.com/doctrine/orm/issues/7649, but this leak **only happens with postgres** so I wanted to forward this problem to the  DBAL project.

I guess https://github.com/doctrine/orm/issues/7748 is the same problem.

#### Current behaviour
When issuing

[2021-05-06 08:31] Seldaek commented on #4634
No it's definitely not a bug in itself, more something that's unclear if you don't read the docs carefully, and so it makes it easy to write bugs using this code. IMO it'd be great if it can be made harder to misuse, but I'll leave the how up to you because I'm definitely not familiar enough with the doctrine internals.

I think there are a few ways to use this result:

- `fetchAll*` => no problem

[2021-05-06 08:59] greg0ire commented on #4634
@morozov WDYT? Maybe we could target 2.x with the suggested docblock improvements, and then do what I described above?

2.x could also receive a doc improvement, IMO we could make this a stronger warning, based on @Seldaek 's comment, right now it does not catch the eye enough I think:

[2021-05-06 12:47] Ocramius commented on #4637
This is an issue for `doctrine/dbal`, not `doctrine/orm`.

The change is from `doctrine/dbal:2.12.1` to `doctrine/dbal:2.13.1`: https://github.com/doctrine/dbal/compare/2.12.1...2.13.1

Relevant diff:

[code]

[2021-05-06 12:57] Ocramius commented on #4637
Minimal reproducer: https://psalm.dev/r/62a0a5854d

[code]

Which produces:

[code]

The issue is that the `Param` alias type is not templated: this is potentially a psalm limitation, but also an understandable one, since there is no syntax to specify template arguments for an imported type (AFAIK).

Here is a potential fix:

https://psalm.dev/r/8ef9909bb9

[code]

It's a bit ugly, but the idea is

[2021-05-06 15:52] morozov commented on #4634
I'm not touching this (https://github.com/doctrine/dbal/pull/4189#pullrequestreview-460427821).

[2021-05-06 17:32] greg0ire commented on #4634
Okay noted!

[2021-05-06 18:41] greg0ire commented on #4634
Gave the documentation a try at https://github.com/doctrine/dbal/pull/4640

[2021-05-07 10:03] greg0ire opened #4641 "Adjust caching.rst"
Indeed! I'll try to do that within the next days. Feel free to open an issue so we (I) don't forget.

_Originally posted by @derrabus in https://github.com/doctrine/dbal/issues/4640#issuecomment-834215668_

[2021-05-07 14:27] morozov commented on #4636
@flaushi diagnosing this issue will require a reproducer using only the DBAL API.

[2021-05-07 15:05] flaushi commented on #4636
I was expecting that.

To realize that I will have to really step into ORM's internals to find the crucial code lines. Will take some time

[2021-05-09 18:21] #4637 closed, assigned to nobody

[2021-05-11 03:23] morozov commented on #4631
I don't think the DBAL should be responsible for setting any platform- or even version-specific defaults. We should remove them instead which might be a breaking change.

[2021-05-11 06:36] zajca opened #4643 "SQLServer platform quoteIdentifier wrong escaping"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | all

#### Summary

It looks like that escaping identifier for sql platform is broken since day one.

#### Current behaviour

This is in tests:
https://github.com/doctrine/dbal/blob/6611e6d24560944e0a299cfd619013597833efc2/tests/Platforms/AbstractSQLServerPlatformTestCase.php#L576
But if I try for example

[2021-05-12 08:53] mbrodala opened #4645 "PHP warning on unknown database with Doctrine DBAL 2.13.x"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.13.1

#### Summary

Connection attempts to a missing database lead to a PHP warning.

#### Previous behaviour

No warning was shown.

#### Current behavior

A PHP warning is issued:

#### How to reproduce

1. Do a connection to a missing database.
2. With Doctrine DBAL 2.11.x no error occurs
3. Wi

[2021-05-12 22:51] morozov commented on #4645
Could be solved by backporting c9ce80acd7fc480c6c4585dc285741722919efe3. This will also solve the test failure on non-Linux operating systems:
[code]

[2021-05-13 07:30] mbolka opened #4649 "OCI8Statement not executing toString"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.12.1

#### Summary

Deleting objects by id, where id is an value object it not working.

#### Current behaviour
If you pass to bindParam method in OCI8Statement class  value that is an value object, method __toString() is not executed prior to calling  oci_bind_by_name on the line 311.
This causes a $va

[2021-05-14 09:26] bmack commented on #4645
@morozov Thank you for this super quick fix 🙇

[2021-05-14 10:08] mezcaspider opened #4651 "IN operator limitation in ORACLE database queries"
Hello,

Let me take this point back to you:

The ORM engine does not take into account the limitation of the ORACLES databases concerning the use of the IN operator.
Queries are generated with an IN operator containing more than 1000 elements. This generates an error message from the database.

ORA-01795: maximum number of expressions in a list is 1000

This type of request should be generated wit

[2021-05-14 16:09] morozov commented on #4645
@bmack, you're welcome. Closed via #4647.

[2021-05-14 16:09] #4645 closed, assigned to nobody

[2021-05-15 13:34] holymp2006 commented on #2566
As of today, when changing between text types (text, mediumText, or longText), this is still the fix.

[2021-05-15 15:52] morozov commented on #4651
I believe Oracle does that for a reason: it might be more efficient to use a join in the case of so many values. Additionally, databases usually have a limit on the number of prepared statement parameters (I believe the default for [Oracle](https://docs.oracle.com/cd/E57185_01/SQRLG/apas02s02.html) is 4096), so even if this limit is bypassed, another one may kick in.

I don't believe this workarou

[2021-05-15 15:54] morozov commented on #4649
What prevents the caller from converting the object to a string? The DBAL shouldn't be in the business of figuring out the implementation details of the client code.

[2021-05-15 15:55] morozov commented on #4643
Closed via #4648.

[2021-05-15 15:55] #4643 closed, assigned to nobody

[2021-05-17 18:06] morozov commented on #4649
The proposed fix would break the reference to the originally passed variable, and in general, implicit type casting at the library level isn't a good idea.

[2021-05-17 18:06] #4649 closed, assigned to nobody

[2021-05-17 18:07] #4651 closed, assigned to nobody

[2021-05-20 20:12] glynnforrest commented on #3780
Here are some working examples for nullable datetime columns:

* PostgreSQL 9.6
* doctrine/dbal 2.13.1
* doctrine/orm 2.8.4

[code]

Multiple columns need another layer of brackets:

[code]

Note the **uppercase** keywords (looks like the lowercase booleans mentioned [here](https://github.com/doctrine/dbal/issues/3780#issuecomment-381138100) act differently).

[2021-05-23 07:58] Dilshan97 commented on #4439
it's woking for me

[2021-05-24 11:54] jacekkarczmarczyk opened #4658 "fetchFirstColumn - not found when searching 3.1 docs"
https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/data-retrieval-and-manipulation.html

![image](https://user-images.githubusercontent.com/15625235/119344096-86a55d80-bc97-11eb-8c97-02bf42d52b3d.png)

[2021-05-24 17:34] cs-alok-agarwal opened #4657 "Partitioning Support in Doctrine for Relational Database"
Partitioning Support in Doctrine for Relational Databases

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Request a support for partitioning support in native doctrine.
https://www.postgresql.org/docs/12/ddl-partitioning.html

Main Challenge in implementing partitioning currently is, partitioning needs to be defined while create

[2021-05-24 19:00] greg0ire commented on #4658
@jacekkarczmarczyk how is this an issue with `doctrine-website`? `fetchFirstColumn` does not appear under `docs`, does it?

[2021-05-24 19:06] jacekkarczmarczyk commented on #4658
Not sure if understand, I assument that the site I've linked is a Doctrine website and the name of this repo suggest that it's the source of this site. So if the `fetchFirstColumn` is a method that Doctrine DBAL provides then I'd expect I could find some information on that on the Doctrine website, am I right?
And since I can't find any information on this method then I'm pretty sure that it's the

[2021-05-24 20:00] greg0ire commented on #4658
Not really, this repo actually just builds from every `docs` directory it finds on every Doctrine repository.

Correct, but that should be reported to the dbal repo instead. I'm transferring your issue.

[2021-05-24 20:02] greg0ire commented on #4658
Also, for some reason, you linked to data-retrieval-and-manipulation.html . The source of this document is at https://github.com/doctrine/dbal/blob/3.1.x/docs/en/reference/data-retrieval-and-manipulation.rst in case you want to send a pull request.

[2021-05-24 20:04] jacekkarczmarczyk commented on #4658
Ah sorry for that, I thought `doctrine-website` repo contains DBAL docs as well

[2021-05-28 13:11] Grundik commented on #2395
Doctrine\DBAL\Schema\Schema code for that are not platform-specific and about 12 years old now:
[code]

See also: https://github.com/doctrine/migrations/issues/17

This method should not exist with such name, its a trap.

[2021-05-31 20:16] neoacevedo commented on #4439
I installed the version 3.1 via composer require in L6: same result.

I checked the documentation in laravel: https://laravel.com/docs/6.x/migrations#modifying-columns

Downgrading the version to 2.* did the trick. @greg0ire please, more than one people reporting the same issue is a call of attention.

[2021-05-31 20:50] greg0ire commented on #4439
@neoacevedo but I have already given this attention, and a proper response:

Did anybody act on that? If not, please give my messages some attention, folks. I can elaborate in case this was unclear.

In https://github.com/doctrine/dbal/issues/4439#issuecomment-729540505 , we can see that a class present in DBAL 2, and removed in DBAL 3 is referenced from `laravel/framework/src/Illuminate/Database/

[2021-06-01 14:03] nreynis commented on #4441
@beberlei
Not all exceptions are rethrown, for example when you fetch data, you get a DriverException.

1. https://github.com/doctrine/dbal/blob/2.13.x/lib/Doctrine/DBAL/ForwardCompatibility/Result.php#L128
2. https://github.com/doctrine/dbal/blob/2.13.x/lib/Doctrine/DBAL/Driver/Result.php#L19

I don't see where this could be rethrown, since the Result object is the public object we use.

EDIT: ca

[2021-06-01 14:10] nreynis commented on #4444
@beberlei

When you [use a fetch method](https://github.com/doctrine/dbal/issues/4441#issuecomment-852152447)

[2021-06-01 16:55] morozov commented on #4444
The only driver-level exception that is meant to be caught is `Doctrine\DBAL\Driver\Exception` but it's meant to be caught by the wrapper and handled (wrapped into a `Doctrine\DBAL\Exception` which is meant to be caught by the user code). If it doesn't happen, then it's a bug. Note that there are quite some bugs like this in `2.x` and fewer of them in `3.x`.

[2021-06-03 09:31] VincentChalnot opened #4660 "Array of parameters are not resolved properly in query parameters"
### Bug Report

See https://github.com/symfony/symfony/issues/41526 for further information.

|    Q        |   A
| ------------ | ------
| BC Break    | ?
| Version     | 2.13.1

#### Summary

When passing a parameter in the form of an array, there is no way that the values of the array could get resolved properly.

#### Current behaviour

During a query, when passing a parameter in the form of a

[2021-06-03 09:33] VincentChalnot commented on #4660
Note that once this behavior is fixed, doctrine/orm will also require a fix for the example to work properly.

[2021-06-04 18:29] morozov commented on #4660
@VincentChalnot please reproduce the issue using the DBAL APIs to make sure that it's indeed a DBAL issue.

[2021-06-05 08:25] VincentChalnot commented on #4660
@morozov I'm writing a test case in a fork of doctrine/dbal in order to highlight this issue, however I'm not very familiar with the way doctrine/dbal works without doctrine/orm, for example:

- I'm writing a object value to the database using a custom type: check
- I'm fetching the value of this object using Connection::fetchOne but the convertToPHPValue is never called.

I'm guessing this is nor

[2021-06-05 08:43] VincentChalnot commented on #4660
I just realized that this is a necessary behavior as the queries made in dbal can be complicated and potentially not match the content of a table. So ok, we just have to manually call convertToPHPValue on the results. Seems logical.

[2021-06-05 09:25] VincentChalnot commented on #4660
Test case added:
https://github.com/VincentChalnot/dbal/commit/f2f4e4e2741d06a2000ee04b5f786244907e6939#diff-acdb7c674b950428bb4d6085f25456543d251fe4d92638c33eaa129d9f67c20aR106

I think we need a new type to represent an array of types accurately AND also change the order in which `SQLParserUtils::expandListParameters` and `Connection::getBindingInfo` are called.

[2021-06-05 09:49] VincentChalnot commented on #4660
Also, I think that `convertToPHPValue` is very misleading and shouldn't even exists in dbal. This example highlights perfectly well that dbal's types should only be used to deal with SQL vendor native types and not custom types.

[2021-06-05 10:04] VincentChalnot commented on #4660
Nevermind this issue would still be a problem without custom types, it's exactly the same issue with datetimes:
https://github.com/VincentChalnot/dbal/commit/77e91f56fa476b8c73b82c7ef601b1a92cedd0ad#diff-ff5f64e24b58f2f4b6feacbc55c20840fb0155b1d4db9f28823f4c49bd562ee9R97

I'm really surprised no one noticed this before.

[2021-06-05 11:21] VincentChalnot commented on #4660
Fixed in PR.

[2021-06-06 19:03] #4631 closed, assigned to nobody

[2021-06-09 11:28] algimantas commented on #2977
Same issue happens when:

- Person A runs migration that drops a column with custom type
- Person A removes custom type because it is obsolete
- Person B pulls the changes and tries to run `doctrine:schema:drop`

[2021-06-10 15:44] fmonts opened #4670 "ResultStatement::fetchAllClass() and fetchClass() missing?"
Let's say I have a snippet like this:

    $result = $db->executeQuery('SELECT * FROM users WHERE ...;');
    $users = $result->fetchAll(\PDO::FETCH_CLASS, User::class);

fetchAll() is deprecated and "one of the fetch- methods" should be used instead.

But isn't there a way to replicate \PDO::FETCH_CLASS?

Same for ResultStatement::fetchClass() if I want to retrieve only one record

[2021-06-11 07:29] mikvet commented on #2977
Ran into a very similar problem
1) I have a custom doctrine type column which is used in DB
2) I remove the column in the Entity
3) `doctrine:schema:update` crashes and does'n remove the colum

I would be happy to help, but how can I contribute to document this issue ?

[2021-06-11 14:52] flack opened #4671 "SchemaManager::createSchema wrongly quotes default values on MariaDB(?)"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.13.1

#### Summary

I have a field in the database that looks like this in the mysqldump:

[code]

I read the database structure like this:

[code]

If I dump the field, it looks like this:

![Screenshot_20210611_164106](https://user-images.githubusercontent.com/425166/121704211-d37c9700-cad3-11eb-86da-

[2021-06-11 21:25] morozov commented on #4671
This must be related to how MariaDB represents the default value during schema introspection. See "MariaDB 10.2.7 information changes schema for default values" in https://github.com/doctrine/dbal/pull/2825.

In theory, this case should be handled by https://github.com/doctrine/dbal/blob/628e84627dfb3ecc14dacf30a3796b81735813cb/lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php#L230-L241

[2021-06-12 11:18] flack commented on #4671
@morozov maybe I'm reading the code wrong, but shouldn't the snippet you quoted only replace `''` with `'`? So it would turn `''0001-01-01 00:00:00''` into `'0001-01-01 00:00:00'`, but not `'0001-01-01 00:00:00'` into `0001-01-01 00:00:00`

[2021-06-12 14:09] morozov commented on #4671
It's the `preg_replace()` call that removes the surrounding quotes. There's the `DefaultValueTest::testEscapedDefaultValueCanBeIntrospected()` that covers this code. I ran it [with your example](https://github.com/doctrine/dbal/compare/2.13.x...morozov:issues/4671), and it passes on MariaDB.
Here's the DDL being reported back by MariaDB:
[code]

[2021-06-15 00:57] morozov commented on #4670
This fetch mode isn't supported starting DBAL 3.0 (see https://github.com/doctrine/dbal/pull/3070), so there's no upgrade path provided.

[2021-06-15 00:58] #4670 closed, assigned to nobody

[2021-06-15 01:08] #4468 closed

[2021-06-15 10:21] flack commented on #4671
I've debugged this some more today and noticed that `_getPortableTableColumnDefinition` (and thus `getMariaDb1027ColumnDefault`) never gets called for datetime fields.
This is because I have a `onSchemaColumnDefinition` function that performs some other operations on datetime fields and then calls `$args->preventDefault()`. So I guess there is no other way than duplicating the normalization code i

[2021-06-15 16:15] morozov commented on #4671
I don't know what exactly your code does and why it disables the default event handler but it sounds right.

[2021-06-15 16:15] #4671 closed, assigned to nobody

[2021-06-15 17:47] derrabus commented on #4641
I think we can close this issue now, can't we?

[2021-06-15 18:03] #4641 closed, assigned to nobody

[2021-06-15 18:03] greg0ire commented on #4641
Absolutely! Thank you!

[2021-06-16 12:46] flack commented on #4671
@morozov well, the thing is if you want to use the callback to set some info for the column, you have to call `preventDefault`, otherwise your changes are immediately overwritten:

https://github.com/doctrine/dbal/blob/628e84627dfb3ecc14dacf30a3796b81735813cb/lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php#L811-L821

It would be nice if `$column` from the event callback would be passed into `_g

[2021-06-16 15:27] morozov commented on #4671
That's indeed a clumsy extension API. If you need to do some customization of the column definitions before they get created, it might be easier to register a custom platform and just override `_getPortableTableColumnDefinition()` (assuming your application supports only one platform).

Passing the column to the event handler would likely solve your problem but I don't think it's worth an API brea

[2021-06-16 15:48] flack commented on #4671
One idea might be to have `_getPortableTableColumnDefinition` run before the event gets called and then pass `$column` as a parameter to `SchemaColumnDefinitionEventArgs`. Then you could modify (or replace) `$column` in your callback. If there's interest in something like that, I can put together a ticket for it

[2021-06-16 16:13] morozov commented on #4671
I don't really like the idea of events here. The caller of an event handler doesn't usually expect anything to be returned. Using events to implement certain API is a bit weird. It would make more sense to define an interface (e.g. `ColumnProvider`), create a default implementation, and let users use their own. This way, there will be a single extensible API instead of two APIs that don't achieve

[2021-06-16 22:49] morozov commented on #4488
I'm curious if as a temporary solution the following might work for you:
[code]
Since PHP doesn't support unsigned or decimal numbers, the only reliable way to represent numbers in PHP is a string.

[2021-06-18 14:49] flack opened #4676 "SchemaTool: Better way to manipulate Column definitions"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | don't know
| BC Break    | depends :-)

#### Summary

I am maintaining a Doctrine based emulation layer for a different ORM API. For various backwards compatibility reasons, among other things I replace DBAL's `DateTimeType` with my own implementation. This gets set in my `MappingDriver`, and to all

[2021-06-18 14:49] flack commented on #4671
alright, I've submitted #4676

[2021-06-18 17:53] chriskapp opened #4678 "Connection add interface"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

I would suggest to add two new interfaces to the `Connection` class:

[code]

[code]

This would allow implementations to narrow down the scope of the connection and it would also help to migrate legacy database abstractions to DBAL since they could start to use

[2021-06-20 15:28] morozov commented on #4676
Is it the primary goal of your listener? In this case, you can try using `Type::overrideType('datetime', MyVerySpecialDateTime::class)` instead.

[2021-06-21 14:39] flack commented on #4676
So I did a bit of code archaeology, it seems I added the datetime code in 2014 to an already existing event listener which translates ENUM fields from legacy databases. I guess I didn't notice `Type::overrideType` back then (I did have some code with `Type::addType`, but that only works if there isn't a `datetime` type already. I've switched to `Type::overrideType` now and it seems to work fine.

[2021-06-21 15:26] flack commented on #1861
I think this can be closed (implemented by #3141)

[2021-06-21 15:49] morozov commented on #4676
You'll have to be more specific. What translation does the listener perform?

[2021-06-21 15:58] flack commented on #4676
nothing fancy, really. I sets the type to string and saves the original type information in the comment field:

[code]

[2021-06-21 16:51] morozov commented on #4676
Thanks, @flack. This looks like a valid, generic enough case where you'd just like to override the default behavior. IMO, it deserves a BC break and an API change since the current API doesn't allow it to do it reasonably.

[2021-06-21 22:39] #1861 closed

[2021-06-23 18:52] morozov opened #4687 "Current sequence value should not be used for tracking last inserted ID"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | all

#### Summary

DBAL replicates the PDO function `PDO::lastInsertId(string $name)` which will return the current value of the sequence `$name`. As the function name implies, this should allow doing an `INSERT` and then getting the value of an auto-increment column that is internally implemented via a s

[2021-06-25 14:33] semeniukv commented on #2146
I have exactly the same issue. I've even filetred all tables a i have, but it keeps generating sequences for all of them. The tables were not created by Doctrine migrations.

[2021-06-27 19:22] #4619 closed, assigned to nobody

[2021-06-28 02:09] #4687 closed, assigned to nobody

[2021-06-28 02:17] morozov commented on #4678
How is the scope of the interface relevant to migration to DBAL? Since the `Connection` class is not final, you can define the interfaces in your project, introduce a new class that extends the connection and implements the interfaces, and you'll get exactly what this issue is about.

PDO and the DBAL are already sort of JDBC APIs. Why would there be a need for another standard?

I agree that the

[2021-06-28 08:36] chriskapp commented on #4678
Hi, yes regarding the interface, this would also work as you described, but in the best case I dont want to maintain those interfaces in my project. I would like to say, I want build a connection which fulfils the contract of the DBAL connection, then I can implement those interface at my legacy project and in the future I could swap my implementation with doctrine DBAL.

Regarding JDBC, I see it

[2021-06-28 12:58] rquadling commented on #2873
Just in case anyone is using a VERY old version of PHP and Doctrine, and is wondering why it may be that fractional seconds are not working as expected, there was a [bug:76386](https://bugs.php.net/bug.php?id=76386) in mysqlnd that was fixed in [PHP 7.3.0](https://www.php.net/ChangeLog-7.php#7.3.0).

[2021-06-28 19:42] morozov commented on #4678
One of the problems I'd like to potentially solve by introducing a set of wrapper-level connection interfaces is getting rid of the cache being part of the API. Instead, I'd like it to be just a middleware. It might be a good example of a read-only connection. The introduction of the new interfaces as is including copying previous poor design decisions may make these changes even harder.

Don't ge

[2021-06-28 19:44] morozov commented on #4678
As long as the API is stable, there shouldn't be much maintenance.

And you can totally do it. I'd rather have you learn about all the pros and cons in your project and come back with a proposal based on your experience rather than make DBAL a playground for a legacy migration project.

[2021-06-29 07:41] chriskapp commented on #4678
No problem, there is no need to rush, if you like we can keep this issue open to grow the idea and see whether there is also some interest from other users and thanks for maintaining this project.

[2021-06-29 22:44] morozov commented on #4345
This is by design. Calling a method on a class that can be extended is part of the contract. Not calling it might cause a BC break,

[2021-06-29 22:44] #4345 closed

[2021-06-29 22:45] morozov commented on #4331
A timeout issue is unlikely related to the DBAL.

[2021-06-29 22:45] #4331 closed

[2021-06-29 22:46] #4280 closed

[2021-06-29 22:48] morozov commented on #3982
Closing as this API is no longer supported.

[2021-06-29 22:48] #3982 closed

[2021-07-02 19:50] Tobion commented on #4155
Duplicate of #2541

[2021-07-04 02:52] bitwombat opened #4700 "sqlite doesn't compare dates properly"
[sql_datetime_query_bug.zip](https://github.com/doctrine/dbal/files/6759300/sql_datetime_query_bug.zip)
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | ??
| Version     | doctrine/orm 2.9, Ubuntu's sqlite3_7.4.3

#### Summary

When I run a >= query comparing a DateTime, it only works if I set the year to be one less than the actual year.

#### Current behaviour
Here's my

[2021-07-04 09:19] greg0ire commented on #4700
This date format does not seem valid, does it?

For reference:
![xkcd about iso 8601](https://imgs.xkcd.com/comics/iso_8601.png)

Also, have you tried reproducing the bug via sqlitemanager ?

[2021-07-04 11:54] bitwombat commented on #4700
Thanks for the quick response.

The format was my first suspicion. I got it from looking at the DQL that was being produced by another piece of code that works - turns out that code was using MySQL, which happily takes the YYYY/MM/DD format.

Trying the YYYY-MM-DD format in my testcase makes the testcase work, but trying it in my original code, and it doesn't work.  Back to the drawing board maybe

[2021-07-04 13:17] greg0ire commented on #4700
Maybe, but it's not the responsibility of the DBAL to validate what formats underlying platforms support or don't support. Since you have reproduced the issue without the DBAL, it means this bug (if it really is one) should not be reported here, but to SQLite directly

[2021-07-04 13:17] #4700 closed, assigned to nobody

[2021-07-07 09:28] jpswade commented on #3714
I think dateTime is missing from that list.

[2021-07-08 11:58] pierre-cba commented on #4657
I'm looking for this feature !

[2021-07-09 01:18] morozov commented on #3402
Closing as SQLAnywhere is no longer supported.

[2021-07-09 01:18] #3402 closed

[2021-07-09 01:19] morozov commented on #2780
Closing as SQLAnywhere is no longer supported.

[2021-07-09 01:19] #2780 closed

[2021-07-09 01:44] morozov commented on #2566
Closing as stale and missing tests. This will be likely resolved by https://github.com/doctrine/dbal/pull/4659.

[2021-07-09 06:48] simPod opened #4705 "Is there an API way to get underlying connection (PDO)?"
|    Q        |   A
|------------ | -----
| Version     | 2.x/3.x

### Support Question

I have started my issue here https://github.com/getsentry/sentry-symfony/issues/522. I was using `getWrappedConnection()` in a while loop to get the most lower level connection so I could get to PDO instance.

Now https://github.com/getsentry/sentry-symfony introduced wrapping connection that no longer has a w

[2021-07-10 14:47] uncaught commented on #4289
@morozov I am a bit confused about the interfaces returned by `executeQuery()` and I am not getting code completion for `fetchAllKeyValue()`. Is the method missing somewhere? I am not seeing it in `Doctrine\DBAL\Driver\PDOStatement` nor in `Doctrine\DBAL\Driver\Result` where I find the other mapping fetches like `fetchAllAssociative()`.

(I'm still on 2.12.x, but not seeing it in the 2.13 branch,

[2021-07-10 15:50] uncaught commented on #4206
In case someone needs this or this could be incorporated, too, these are replacements for more PDO modes:

[code]

[2021-07-10 18:34] Evgeny1973 commented on #4206
Anyway, I think this is a stupid decision. If you don't want to support, leave it, don't touch it. And then people used it and suddenly everything was deleted.

[2021-07-12 17:45] morozov commented on #1004
The schema introspection issue is a side effect of the DBAL silently dropping the timezone part in DDL and the values if the underlying platform doesn't timezones on the given column type:
https://github.com/doctrine/dbal/blob/25496429ef4bba2352b0ced7daffe1b3dec83d13/src/Platforms/AbstractPlatform.php#L3314-L3317
https://github.com/doctrine/dbal/blob/25496429ef4bba2352b0ced7daffe1b3dec83d13/src/Pl

[2021-07-12 17:45] #1004 closed

[2021-07-12 22:17] morozov commented on #4705
It doesn't seem to be a DBAL issue in this case. The wrapper-level connection provides access to the driver connection: https://github.com/doctrine/dbal/blob/e6add2943187cdf01599e198a77bb6d3672703ab/src/Connection.php#L1518-L1525

And the PDO driver connection provides access to the underlying PDO connection: https://github.com/doctrine/dbal/blob/60fe440a762109c216db94612334bbae8e51f613/src/Driver

[2021-07-13 07:40] simPod commented on #4705
@morozov hmm, guys from sentry sent me here 🤔 . Based on that I thought, the issue is that there's no dbal API, that would tell 3rd party wrapping connections to keep the door open to PDO.

So it's easy to access underlying PDO in dbal connections but it is not guaranteed by any other 3rd party wrapper because that wrapper does not allow you to go to the connection it actually wraps. Or am I missi

[2021-07-13 18:48] morozov commented on #2371
Closing as no longer supported (https://github.com/doctrine/dbal/pull/3602).

[2021-07-13 18:48] #2371 closed

[2021-07-14 03:13] phil-davis opened #4711 "VERSION is out-of-date in 2.13.* release series"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.13.2

#### Summary
`lib/Doctrine/DBAL/Version.php` has out-of-date version.

#### Current behaviour
`public const VERSION = '2.12.2-DEV';`

#### How to reproduce

Look at the source code.

#### Expected behaviour
Should have been released as:
`public const VERSION = '2.13.2';`

And maybe in the branch i

[2021-07-14 04:20] morozov commented on #4705
No, you're right. Those methods are not enforced by any interfaces and aren't even supported by all drivers.

Only you can tell them to do that or use reflection. The underlying connection is an implementation detail that is different for every implementation. There's no interface possible that would force each implementation to expose its implementation details. For instance, I want to implement

[2021-07-14 04:24] #2298 closed

[2021-07-14 04:25] #3462 closed

[2021-07-14 04:27] #3646 closed

[2021-07-14 04:27] #3707 closed

[2021-07-14 09:01] greg0ire commented on #4711
That class was deprecated in https://github.com/doctrine/dbal/pull/3861

It was not stated, but I think one of the goals was to stop bumping it on every release. Also, since it's removed in 3.x, merging this will mean a conflict when merging up 2.x into 3.x.

[2021-07-14 10:01] phil-davis commented on #4711
OK - feel free to close this, and PR #4712 if the decision is that the value of VERSION will no longer be incremented.

That will mean that consumers of this in 2.13.* will see changed behavior - the VERSION will not be reliably up-to-date. They will "see" more than just a deprecation annotation. (Whoever the consumers are that care - I don't ;) )

[2021-07-14 10:59] simPod commented on #4705
Thank you!

[2021-07-14 10:59] #4705 closed, assigned to nobody

[2021-07-14 12:46] greg0ire commented on #4711
Let's close then, and let's reopen if a consumer that cares pops up :)

[2021-07-14 12:46] #4711 closed, assigned to nobody

[2021-07-14 18:08] morozov commented on #4711
FWIW, the version of 2.x releases is increased manually by commits like adce7a954a1c2f14f85e94aed90c8489af204086 which is easy to forget (the process is described in https://github.com/doctrine/dbal/issues/3406).

The fact that this API is deprecated and bumping the release version will produce merge conflicts doesn't prevent us from maintaining the proper version for the next 2.x releases but the

[2021-07-14 20:08] morozov commented on #4657
I don't think we can just add a platform-specific feature to the DBAL API. Even if partitioning is supported by multiple platforms, there are high chances that their APIs and capabilities are different. The only reasonable way to support features like this is to break the Platform API down to smaller pieces and make them extensible independently. Something along the lines documented in https://git

[2021-07-15 03:11] phil-davis commented on #4711
Someone please decide - do I reopen PR #4712 ?

By applying the change there, then even if nothing else happens, the next release will have `VERSION` `2.13.3-DEV`, which will be closer to reality.

[2021-07-15 06:43] greg0ire commented on #4711
This has been labeled with "Can't fix", so to me, the decision is pretty clear :stuck_out_tongue:

[2021-07-15 19:20] #4538 closed, assigned to nobody

[2021-07-15 23:28] morozov opened #4718 "Transaction nesting level is not reset when the connection is closed"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.1

#### Summary

If a wrapper-level connection is closed during an active transaction, it still reports that the transaction is active.

#### How to reproduce

[code]

After the first test passes, the connection is closed, but the teardown procedure assumes an active transaction and tries to roll it b

[2021-07-16 06:37] #4718 closed, assigned to nobody

[2021-07-17 15:52] #4522 closed, assigned to nobody

[2021-07-17 15:55] morozov commented on #3596
Superseded by https://github.com/doctrine/dbal/issues/4687.

[2021-07-17 15:55] #3596 closed

[2021-07-19 03:06] morozov commented on #2369
Closing as the issue doesn't seem to be fixable at the driver level:
[code]
Even if an integer is bound as a string, it remains to be an integer when it comes to comparison. We cannot cast the value at the DBAL level since the variable may be passed by reference.

[2021-07-19 03:06] #2369 closed

[2021-07-19 03:08] #3057 closed

[2021-07-19 03:09] morozov commented on #3152
Closing as the issue is by design. The builder accepts SQL expressions as column names, so the consumer of the API is responsible for building proper SQL.

[2021-07-19 03:09] #3152 closed

[2021-07-19 03:10] #4043 closed

[2021-07-20 19:08] jove4015 commented on #4206
I agree - PDO is a fairly solid system already and offers this.  Why block it unnecessarily just because it may not work for everyone?  With no workaround or better offering?  It's just making your software less functional.

[2021-07-21 05:18] oojacoboo commented on #4603
@mdumoulin I'm still a bit confused on all of this.  2.13 has broken our implementation and is a bit of a circular dependency for us as well.  I'm getting the following error:

Does `Doctrine\DBAL\Connection` support `\PDO` directly?  The constructor doesn't do any validation.  We have to share a PDO connection with 2 different ORMs.  What's the proper way of handling this now?  I can't seem to fi

[2021-07-21 10:09] mdumoulin commented on #4603
@oojacoboo You can use a PDOConnection, but the result of query execution must return a DBAL\Driver\Statement object instead of a \PDOStatement object to be compatible with DBAL.

This comment give a way of doing it : https://github.com/doctrine/dbal/issues/4619#issuecomment-827900550

[2021-07-21 13:37] mondrake opened #4725 "OraclePlatform::getCreateAutoincrementSql forces sequence value in autoincrement column"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.0

#### Summary

The trigger that OraclePlatform::getCreateAutoincrementSql() adds to the database when an autoincrement column is defined does not take into account values passed in directly in the INSERT statements and always overwrites them with the next value of the sequence.

#### Current behavio

[2021-07-22 02:06] oojacoboo commented on #4603
@mdumoulin I'm not using `\Doctrine\DBAL\Driver\PDOConnection` though.  I tried to make that clear with the comments.  `$pdoConnection instanceof \PDO`.  I think you're saying you must pass a `\Doctrine\DBAL\Driver\PDOConnection` object to the `Doctrine\DBAL\Connection` constructor?

[2021-07-22 08:14] mdumoulin commented on #4603
@oojacoboo Yes, I think, I understood. You have to make your PDO connection return a Dbal statement instead of PDOStatement when executing a query.

I haven't the full context here, but this may work for you :
[code]

[2021-07-23 10:04] mondrake commented on #4725
So, MySql and SQLite behave as per expected behavior.

DB2 and PostgresSQL allow to force an arbitrary value on the autoincrement column on INSERT, but are not updating the sequence, i.e. a further INSERT without passing a value to the autoincrement column will get a value == 2.

Oracle ignores the arbitrary value, and forces the sequence's next value, silently.

MSSQL cannot insert explicit value

[2021-07-25 22:23] morozov commented on #4725
@mondrake a PR is welcome.

[2021-07-25 22:45] #4602 closed, assigned to nobody

[2021-07-25 22:46] morozov commented on #4541
@rgrellmann please feel free to send a PR with the fix and a test.

[2021-07-25 23:07] morozov commented on #4636
Closing giving the lack of details.

[2021-07-25 23:07] #4636 closed, assigned to nobody

[2021-07-25 23:08] #4634 closed, assigned to nobody

[2021-07-25 23:10] #4528 closed, assigned to nobody

[2021-07-25 23:13] morozov commented on #4486
@Einenlum since the issue is reported in the DBAL repository, please reproduce it using only the DBAL.

[2021-07-25 23:15] morozov commented on #4479
@elfin-sbreuers please provide steps to reproduce the issue.

[2021-07-25 23:18] #4445 closed

[2021-07-25 23:22] morozov commented on #4436
Closing as non-actionable.

[2021-07-25 23:22] #4436 closed

[2021-07-25 23:22] #4183 closed

[2021-07-25 23:27] Bilge commented on #4436
The action is to rename. It's that simple.

[2021-07-25 23:28] #4032 closed

[2021-07-25 23:29] morozov commented on #4013
A working solution is documented in https://github.com/doctrine/dbal/pull/4209.

[2021-07-25 23:29] #4013 closed

[2021-07-25 23:32] #3962 closed

[2021-07-25 23:32] #3882 closed

[2021-07-25 23:36] morozov commented on #3895
It's currently supported via the `driverOptions` configuration parameter. See https://github.com/doctrine/dbal/pull/3033.

[2021-07-25 23:36] #3895 closed

[2021-07-25 23:38] morozov commented on #3929
This doesn't seem to be a DBAL issue.

[2021-07-25 23:38] #3929 closed

[2021-07-25 23:39] morozov commented on #3910
Unlikely to happen since it's a proprietary API. Keeping the support for it in a separate package looks like the right approch.

[2021-07-25 23:39] #3910 closed

[2021-07-25 23:43] morozov commented on #3805
Please feel free to implement one outside of the DBAL.

[2021-07-25 23:43] #3805 closed

[2021-07-25 23:54] morozov commented on #3742
As far as the parser is concerned, this is fixed in https://github.com/doctrine/dbal/pull/4397.

[2021-07-25 23:54] #3742 closed

[2021-07-25 23:57] morozov commented on #3749
Will be fixed by https://github.com/doctrine/dbal/pull/4644.

[2021-07-25 23:57] #3749 closed

[2021-07-26 00:00] morozov commented on #3625
Fixed in https://github.com/doctrine/dbal/pull/4387.

[2021-07-26 00:00] #3625 closed

[2021-07-26 00:02] morozov commented on #3449
I took an initial stab at it in https://github.com/doctrine/dbal/pull/4731. Since there doesn't seem to be a way to make failures optional on GitHub, running tests in random order on CI doesn't seem feasible.

[2021-07-26 00:02] #3449 closed

[2021-07-26 00:04] morozov commented on #3198
Closing as per https://github.com/doctrine/dbal/issues/3198#issuecomment-400549461.

[2021-07-26 00:04] #3198 closed

[2021-07-26 00:06] morozov commented on #3191
Closing as stale.

[2021-07-26 00:06] #3191 closed

[2021-07-26 00:07] morozov commented on #3111
Fixed in https://github.com/doctrine/dbal/pull/4293.

[2021-07-26 00:07] #3111 closed

[2021-07-26 00:09] morozov commented on #3047
Closing as this seems to be specific for `2.x`.

[2021-07-26 00:09] #3047 closed

[2021-07-26 00:11] morozov commented on #3066
Closing as the API is no longer supported. See https://github.com/doctrine/dbal/pull/3070.

[2021-07-26 00:11] #3066 closed

[2021-07-26 00:13] morozov commented on #2991
Closing per https://github.com/doctrine/dbal/pull/4077.

[2021-07-26 00:13] #2991 closed

[2021-07-26 00:14] morozov commented on #2930
Will be fixed by https://github.com/doctrine/dbal/pull/4746.

[2021-07-26 00:15] morozov commented on #2904
Closing as stale.

[2021-07-26 00:15] #2904 closed

[2021-07-26 00:25] morozov commented on #2805
Closing as stale.

[2021-07-26 00:25] #2805 closed

[2021-07-26 00:25] morozov commented on #2784
Closing as stale.

[2021-07-26 00:25] #2784 closed

[2021-07-26 00:26] #2738 closed

[2021-07-26 00:27] morozov commented on #2676
Closing as stale. Please send the above as a PR if still relevant.

[2021-07-26 00:28] morozov commented on #2713
Closing as stale.

[2021-07-26 00:28] #2713 closed

[2021-07-26 00:30] morozov commented on #2769
Closing per https://github.com/doctrine/dbal/pull/4128.

[2021-07-26 00:30] #2769 closed

[2021-07-26 00:31] morozov commented on #2661
It doesn't look like a valid addition. On the contrary, it will help input take over control of the application behavior.

[2021-07-26 00:31] #2661 closed

[2021-07-26 00:33] morozov commented on #2580
Closing as stale and likely unrelated to the DBAL.

[2021-07-26 00:33] #2580 closed

[2021-07-26 00:37] morozov commented on #2806
It doesn't look like we can do anything here: PDO reports the same error in two different ways, and an external handler hijacks flow control. Relying on `errorInfo()` may have its side effects since it's a shared global state and there's no guarantee that it will be always clean.

[2021-07-26 00:37] #2806 closed

[2021-07-26 05:33] kk156677 opened #4732 "AN EXCEPTION OCCURRED IN DRIVER: ORA-01017: INVALID USERNAME/PASSWORD; LOGON DENIED in PHP"
### Bug Report
File: /appfolder/apps/appname/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/AbstractOracleDriver.php:65
Message: An exception occurred in driver: ORA-01017: invalid username/password; logon denied

ADDITIONAL INFORMATION:
Doctrine\DBAL\Exception\ConnectionException

Stack trace:
#0 /appfolder/apps/appname/vendor/doctrine/dbal/lib/Doctrine/DBAL/DBALException.php(176): Doctrine\DBAL\D

[2021-07-26 06:23] morozov commented on #4460
@senyahnoj please reproduce the issue using only the DBAL APIs.

[2021-07-26 09:25] mondrake commented on #4725
@morozov filed PR #4733

[2021-07-26 17:52] morozov commented on #4658
I'm still confused whether the issue is about the method missing from the documentation or not searching for it. The method is documented:
https://github.com/doctrine/dbal/blob/891ec185b0a0740a0dfeede0a3eddd2f399bb009/docs/en/reference/data-retrieval-and-manipulation.rst#L179

But I can confirm the search for "fetchFirstColumn" doesn't yield anything, it just hangs. Maybe it's a search/website bug

[2021-07-26 18:11] jacekkarczmarczyk commented on #4658
It wasn't there when I created the issue, added about month ago (https://github.com/doctrine/dbal/commit/c0935b610e86eefa7f9ae4b27ce1ee392fcab716)

[2021-07-26 18:13] morozov commented on #4658
Should we close the issue then?

[2021-07-26 18:16] #4658 closed, assigned to nobody

[2021-07-27 04:18] oojacoboo commented on #4603
@mdumoulin this results in the following error:

It might be helpful to have some boilerplate code or docs on how to use a `\PDO` connection with DBAL.  Or maybe I missed that somewhere?

[2021-07-27 08:21] mdumoulin commented on #4603
@oojacoboo

The PDODriverStatement in my example is derived of \PDOStatement : https://github.com/doctrine/dbal/blob/2.13.x/lib/Doctrine/DBAL/Driver/PDO/Statement.php#L7

I can't find it either, but this feature has been removed from version 3.0. You may find some useful informations here : https://github.com/doctrine/dbal/issues/3545

[2021-07-27 18:58] morozov commented on #4732
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or in one of the channels mentioned at https://www.doctrine-project.org/community/index.html.

The above behavior seems to be caused by the logic outside of the DBAL. We cannot fix it here.

[2021-07-27 18:58] #4732 closed, assigned to nobody

[2021-07-29 10:26] vkost opened #4737 "Doctrine DBAL picks wrong DateTime format when using multiple EntityManagers"
|    Q        |   A
|------------ | -----
| Version     | 2.12

### Support Question

Hi,

I have an API project with two entity managers, one connecting to MySQL (5.7) and another connecting to MSSQL (2019-CU6). Everything seems to be working fine, but I noticed that datetime values in MySQL lack the time portion (the date is set OK, but the time is always 00:00:00). Checking the logs, I found th

[2021-07-29 17:02] gregor-tb opened #4738 "postConnect event not able to access DatabasePlatform"
### Bug Report

When **postConnect** event is triggered, the Platform is not ready yet, but the Getter is available, what ends up in multiple instances and broken setup.

#### Summary / Current behaviour

I want to register type mapping on platform:

Because I don't want to connect to the database without need by calling this in bootstrap, I use the EventSubscriber and put the call in the **postCo

[2021-07-31 06:46] morozov commented on #4737
Please provide a way to reproduce this.

[2021-07-31 16:32] #4725 closed, assigned to nobody

[2021-07-31 21:01] y4roc commented on #4265
I'm looking for some people who like to create a third party package to connect doctrine/dbal with cockroachdb. I found a package [doctrine-cockroachdb](https://github.com/lapaygroup/doctrine-cockroachdb), but this isn't working currently with the doctrine-migrations commands.

So we need to fix it and can use it soon. My problem is, that the error message makes no sense. I know the connection is

[2021-07-31 22:13] morozov commented on #4738
I think I understand the scenario but I don't understand what's wrong from the API consumer standpoint. Here's my example:
[code]
The above works with the `3.1.x` branch.

[2021-08-01 15:54] morozov commented on #4541
After double-checking the description:

The expectation is wrong since the primary key is unique, so having a different set of columns, it cannot fulfill another constraint.

[2021-08-01 15:54] #4541 closed, assigned to nobody

[2021-08-01 23:23] #4443 closed

[2021-08-02 06:57] gregor-tb commented on #4738
Hi, thank you for your feedback!

Example in my scenario is:

Tested with 2.10 branch only (still on php 7.2), but I checked the master code, the procedure and result should be similar.

[2021-08-02 16:28] #4434 closed

[2021-08-02 17:00] morozov commented on #4738
Thanks for the details, @gregor-tb.

This looks like the right approach to me. In 3.x we can emit a deprecation error and in 4.0 we can promote it to an exception.

This isn't the best idea IMO: on the one hand, it's a silent change in the event semantics, a BC break without an upgrade path; on the other, the platform isn't required for the connection to be usable. Introducing a new event seems be

[2021-08-02 17:03] morozov commented on #4616
It seems like the conversation started in https://github.com/doctrine/dbal/issues/4616#issuecomment-826594978 didn't get any interest from the mailing list users. Without a decision on the PHP side, this RFC won't get anywhere.

[2021-08-02 17:07] greg0ire commented on #4616
Yup :cry: … let's close I suppose.

[2021-08-02 17:07] #4616 closed, assigned to nobody

[2021-08-02 17:48] morozov commented on #4616
Well, I thought if there's still interest from the Migrations' side, the conversation in internals might be renewed. Maybe by poking some of the maintainers personally. But I'm fine with closing it as well.

[2021-08-03 07:03] greg0ire commented on #4506
Sorry, can you please explain how the memleak(s) work? I don't get it.

[2021-08-03 15:24] morozov commented on #4506
There is a circular reference between the `Table` and its `ForeignKeyConstraint`'s: the table contains a collection of foreign keys, each of the foreign keys points back to its table. When the local variables referencing pointing to these objects get unset, there are still references from the FKs to the table, so from the garbage collector's standpoint, the table refcount is greater than zero, so

[2021-08-09 21:09] greg0ire commented on #5614
I think until this is supported, using the `IDENTITY` ID generator strategy might result with `SERIAL` being used and this problem being solved. Would be great if somebody could confirm that.

[2021-08-09 21:12] greg0ire opened #4744 "Identity columns"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

As of now, it seems that [identity columns](https://www.sqltutorial.org/sql-identity/) are not supported by the DBAL. [This feature is available since Oracle 12.1](https://github.com/doctrine/dbal/issues/2695) and [PostgreSQL 10](https://www.postgresqltutorial.c

[2021-08-10 05:59] greg0ire commented on #4744
Not sure why I originally made the title so shouty, this isn't SQL

[2021-08-10 14:59] morozov commented on #4744
This looks a bit misleading given that there is an API for that: https://github.com/doctrine/dbal/blob/e974d4deca8c430d9eba0975f441538145a5a8f1/src/Platforms/AbstractPlatform.php#L3056

It's implemented natively by the SQL Server and IBM DB2 platforms: https://github.com/doctrine/dbal/blob/e974d4deca8c430d9eba0975f441538145a5a8f1/src/Platforms/SQLServer2012Platform.php#L1305-L1308
https://github.c

[2021-08-10 21:16] greg0ire commented on #4744
Yes, you're right, what's missing is native support for the SQL standard (as opposed to PG-specific `SERIAL` notation). It looks like there is already some support for that in `DB2Platform.php`, maybe part of it could be moved up in `AbstractPlatform.php`, since that syntax is supposed to be standard?

[2021-08-10 23:18] morozov commented on #4744
I believe it's not problem #​1 from the DBAL perspective: as long as it behaves as the identity column, it shouldn't be a problem from the API standpoint. For instance, MySQL and SQLite will keep using their own syntax anyways.

What's more important is that as long as not all platforms support identity columns, the API consumers have to use two different APIs to achieve effectively the same goal

[2021-08-11 20:29] greg0ire commented on #4744
Because it will make the diff between a database and its in-memory equivalent not empty, and will suddenly generate a lot of migrations when using `doctrine/migrations`, right? I wonder how painful a migration from `SERIAL` to standard identity columns would be, and if the DBAL would generate the correct diff for those :thinking:

[2021-08-12 16:19] morozov commented on #4744
Yes. Handling this diff automatically in the DBAL may be non-trivial: not only we'd have to properly migrate the table, trigger definitions, etc. we'd have to migrate their state (i.e. next sequence value). It might be easier to document a manual migration path, although even this will take quite some time.

[2021-08-15 02:07] morozov opened #4745 "Improper management of autoincrement sequence in PostgreSQL platform"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.x

The issue is reproducible by running the same existing test twice:
[code]
The reasons are:
1. The sequence used to implement the autoincrement column isn't dropped together with the table: https://github.com/doctrine/dbal/blob/210737b3aec1dfe6416613ca157a280ae6b5c3dc/src/Platforms/PostgreSQL94Platf

[2021-08-18 09:36] gregor-tb opened #4747 "Default value not changed for Text Type on MariaDB 10.2 platform"
### Bug Report

Caused by `MysqlPlatform`: https://github.com/doctrine/dbal/blob/96990667d5373ad651e05adb03116f1009cf1ef4/src/Platforms/MySQLPlatform.php#L571-L579

Try to set (new) default value here, but run into the condition with a (long)text field.
Doing it manually works fine, cannot see any missing support?

Version: mysql  Ver 15.1 Distrib 10.3.31-MariaDB, for debian-linux-gnu (x86_64) usi

[2021-08-19 05:52] greg0ire commented on #4335
@morozov to be clear, this means calls to `getSQLResultCasing` should be removed from the ORM, and people should be advised to use https://github.com/doctrine/dbal/blob/3.1.x/docs/en/reference/portability.rst ?

[2021-08-19 06:23] morozov commented on #4335
In my understanding, the ORM itself currently relies on the column casing, so it should be using the portability middleware instead.

[2021-08-19 06:47] greg0ire commented on #4335
Ok, so in `Doctrine\ORM\Configuration::__construct()`, there should be the following call: `$this->setMiddlewares([new \Doctrine\DBAL\PortabilityMiddleware(NOT_SURE_WHAT_TO_PASS_HERE, NOT_SURE_WHAT_TO_PASS_HERE_EITHER)])`?

[2021-08-19 07:56] beberlei commented on #4335
Referencing https://github.com/doctrine/orm/issues/8887 here as the first step in the 2.x branches.

[2021-08-19 09:22] karabash22 opened #4748 "change column type from string to json not works"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.1

#### Summary

After update from version 2.* to 3.1.1 laravel migrations that change field type to Json stopped working with QueryException 'Datatype mismatch: 7 ERROR:  column "field" cannot be cast automatically to type json
HINT:  You might need to specify "USING field::json". (SQL: ALTER TABLE t

[2021-08-19 12:06] svitiashchuk commented on #3780
I had the similar experience with partial index and Postgres (`Postgres 12.6`, `doctrine/dbal 2.13.1`, `doctrine/orm 2.9.2`).
So here is example how I resolved this issue in my case when i had to use predicate on text column:

Annotation:
[code]

Generated SQL in migration generated with `doctrine:migrations:diff:
[code]

Running `doctrine:migrations:diff` second time will not try to recreate inde

[2021-08-19 15:52] morozov commented on #4335
The arguments should be `(Connection::PORTABILITY_FIX_CASE, ColumnCase::LOWER)`.

[2021-08-19 17:45] greg0ire opened #4749 "RFC: deprecate AbstractPlatform::getName()"
I should have asked when reviewing https://github.com/doctrine/orm/pull/8870/files#diff-3e426fe47b58d2d4b970b1b7a0cbf5999af950e4f84e48dce4bee5061b57ed31R657 (cc @derrabus ), but what good is a `getName()` method when you can use `instanceof`? Isn't it more fragile?

In the past I remember Symfony deprecating form names, and recommending avoidance of services IDs that are not FQCN, and IMO this has

[2021-08-19 18:13] derrabus commented on #4749
I still like `getName()` and does it really hurt to keep it? We've just used it recently, see symfony/symfony#42011.

[2021-08-19 18:17] derrabus commented on #4749
If I have to support multiple versions of DBAL, I would need to check for multiple base classes in order to detect a specific database engine. For instance, on DBAL 2.13, there is `PostgreSQLPlatform`, but that class is gone in DBAL 3.

[2021-08-19 19:49] greg0ire commented on #4749
Oh so the possible values of `getName` is more stable than the hierarchy across DBAL versions? I didn't realize that… in that case yes, I think deprecating `getName` would be a bad idea. Still, there is a lot to dislike here, for instance when you use `postgresql` in client code, it's hard to understand where that magic string is defined. Also, unlike `getName()` in Symfony forms, the name is not

[2021-08-20 08:26] derrabus commented on #4749
I don't see a big problem with magic strings here, but sure, having an enum might be helpful.

[2021-08-20 21:06] bendavies commented on #4744
@morozov it doesn't look *too bad*.
looking at: https://www.postgresql.org/docs/12/sql-altertable.html and https://www.postgresqltutorial.com/postgresql-identity-column/
As long as you can determine the current sequence value (easy), you can then:
[code]
where `restart` is the current sequence value.

[2021-08-20 22:58] morozov commented on #4749
Yes, it's been for a long time on my mind, just didn't ever get to it. We got rid of most of other `getName()`s previously.

[2021-08-20 23:00] morozov commented on #4747
~~This should be addressed by the work being done in https://github.com/doctrine/dbal/pull/4659. As long as two types produce different SQL (except for some edge cases like character set and collation matching the table defaults), they should be considered different.~~

Not really. The issue needs to be fixed individually.

[2021-08-21 17:25] morozov commented on #4744
@bendavies if you want to give it a try, go for it.

[2021-08-21 17:39] bendavies commented on #4744
Apologies. I didn't realise comments weren't welcome unless accompanied by a PR. Let me know if you'd like me to delete my comment.

[2021-08-21 17:48] morozov commented on #4744
Not at all. Thank you for the details.

[2021-08-21 18:45] bendavies commented on #4744
Apologies for my irritability. Rough day

[2021-08-22 13:51] tchapi commented on #5614
hi @greg0ire

As far as I can tell `IDENTITY` does not seem to work properly (doctrine/orm 2.9). I have a  PostgreSQL database (10.3 and tested on 11.12 too) and a 'Department' entity that uses :

[code]

And Doctrine uses sequences anyway:

[code]

So the documentation (https://www.doctrine-project.org/projects/doctrine-orm/en/2.9/reference/basic-mapping.html#identifier-generation-strategies) see

[2021-08-22 14:19] greg0ire commented on #5614
:thinking: indeed, `usesSequenceEmulatedIdentityColumns()` returns `true` in the case of postgresql: https://github.com/doctrine/dbal/blob/a55eb4849b03c0c760535446cc126534e8c8c964/lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php#L191-L194 , and it has been like this since 2013: https://github.com/doctrine/dbal/commit/6b4ba50f7eab49a49c00a21e19ce6081ead79b2a

I have some faint memories of using `

[2021-08-22 14:29] tchapi commented on #5614
Yes it's clearly a problem, and the documentation is misleading. For those that pull some hair over this, I use custom migrations with stuff like that to achieve my goals (in a Symfony app) and I don't use auto-generated migrations:

[code]

I still leave `@ORM\GeneratedValue(strategy="IDENTITY")` in the Entity though. It seems to work like that

[2021-08-25 04:40] masadi opened #4757 "Class 'Doctrine\DBAL\Driver\PDOPgSql\Driver' not found"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.1.1

#### Summary
![image](https://user-images.githubusercontent.com/5530849/130727575-bbf8665d-fd16-4458-980e-b092b2123b66.png)

#### Current behaviour

#### How to reproduce

#### Expected behaviour

[2021-08-25 06:19] greg0ire commented on #4757
Seems related to 99c1b213fef5b23c5c0a1c2087a16d158a09b5e2 . What version of the DBAL are you using?

[2021-08-25 09:15] braisdesousa commented on #3298
Same Problem here.

[2021-08-25 09:20] masadi commented on #4757
3.1.1

[2021-08-25 15:58] morozov commented on #4748
Please provide the steps to reproduce the issue.

[2021-08-25 17:37] greg0ire commented on #4757
Duplicate of #4439

[2021-08-25 17:37] #4757 closed, assigned to nobody

[2021-08-25 18:13] morozov commented on #2663
This bug will be indirectly covered by the `Doctrine\DBAL\Tests\Functional\Schema\MySQL::testLobLengthIncrementOverLimit` test in https://github.com/doctrine/dbal/pull/4746.

Additionally,
[code]

[2021-08-25 22:03] morozov commented on #2566
This bug will be covered by the `Doctrine\DBAL\Tests\Functional\Schema\MySQL::testLobLengthIncrementOverLimit` test in https://github.com/doctrine/dbal/pull/4746.

Additionally,
[code]

[2021-08-25 22:06] morozov commented on #2331
This should be fixed by https://github.com/doctrine/dbal/pull/4746:
[code]

[2021-08-25 22:29] morozov commented on #2665
Steps to reproduce:
[code]

[2021-08-25 22:44] morozov commented on #2538
Cannot reproduce on `3.2.x`:
[code]

[2021-08-25 22:51] morozov commented on #2411
This will be fixed by https://github.com/doctrine/dbal/pull/4746:
[code]

[2021-08-27 00:42] morozov opened #4760 "SQL Server schema manager introspects BLOB columns as BINARY"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.x

[code]
Found during the work on #4759 ([build](https://github.com/doctrine/dbal/pull/4759/checks?check_run_id=3438387653)).

[2021-08-27 01:05] morozov opened #4761 "Oracle schema manager doesn't introspect BINARY column length"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.x

[code]
Found during the work on #4759 ([build](https://github.com/doctrine/dbal/pull/4759/checks?check_run_id=3438645215)).

[2021-08-27 06:06] #4749 closed, assigned to nobody

[2021-08-28 14:44] #4760 closed, assigned to nobody

[2021-08-29 23:10] #4761 closed, assigned to nobody

[2021-09-02 03:48] morozov commented on #4357
Object names are normalized assuming that all target platforms are case-insensitive about object names:

https://github.com/doctrine/dbal/blob/0e398ec80cc877acb7fdde653503638b78f30b8c/src/Schema/Table.php#L984-L991

This is not true at least for PostgreSQL, Oracle, IBM DB2 and SQL Server (if the database uses a case sensitive collation).
[code]

[2021-09-02 04:07] morozov commented on #4357
The schema implementation assumes that the object names need to be quoted only if they are keywords or in some other platform-specific cases. For instance:
[code]
An identifier obtained by introspecting the schema should be always quoted since it was introspected in its original case.

[2021-09-02 04:27] morozov commented on #4357
But it's not only about proprietary platforms. A similar issue is reproducible on any platform, e.g. MySQL:
[code]
The same logic as above applies: an identifier obtained by introspecting the schema should be always quoted.

[2021-09-02 04:36] morozov commented on #4357
As an API consumer, I know that I need to quote identifiers in some cases and I do so:
[code]
The schema implementation parses the identifier even if it's quoted.

[2021-09-02 04:44] morozov commented on #4357
Another example of manually quoting an identifier. Most suitable for PostgreSQL which supports schemas but fails on any platform:
[code]
The schema implementation fails to determine that the identifier is quoted and parses it incorrectly.

[2021-09-02 04:54] morozov commented on #4357
Even if the object name is not qualified but is quoted, the schema implementation may fail to parse its name:
[code]
Instead of parsing the name which requires an SQL parser, schema assets should accept the name as a string and a flag defining whether it's quoted.

[2021-09-03 23:09] morozov opened #4772 "RFC: Improve the APIs around handling SQL object names"
## Motivation

There's a bunch of issues around handling object names that exist due to the existing design assumptions (e.g. https://github.com/doctrine/dbal/issues/4357). The assumptions are:

1. Only the identifiers that are SQL keywords should be quoted. The list of keywords managed by the DBAL is always up to date.
2. Object names are case-insensitive on all platforms under any circumstances.

[2021-09-04 17:45] morozov commented on #4748
The same issue is reproducible on `2.13.x`:
[code]

[2021-09-04 17:47] morozov commented on #4748
Related issue: https://github.com/doctrine/dbal/pull/3615.

[2021-09-06 11:06] jephdev commented on #4603
I am using doctrine/dbal:2.10.2 but having the same issue when trying to run migration. How can I fix this please?

[2021-09-07 22:14] morozov opened #4775 "SQLite platform changes the position of the renamed or altered column"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.x

#### Summary

If a column is renamed or altered, and it's not part of the PK or an FK, it's moved to the end of the table.

#### How to reproduce

1. Renaming the column
[code]

2. Altering the column
[code]

#### Expected behaviour

The column retains its position within the table.

[2021-09-08 15:30] hvt commented on #4279
Think this might be related to the fact there is no exception conversion being done inside `Doctrine\DBAL\Driver\PDO::commit()`.

Is there a particular reason why that is not being done there?

Let me add to that, that in my case when issuing the commit, a deadlock is detected. In vanilla MySQL (or MariaDB), in my knowledge this never happens. However, when using Galera in a master-master configur

[2021-09-08 22:44] #4775 closed, assigned to nobody

[2021-09-11 09:19] greg0ire commented on #4772
Really nice RFC! Here are the few remarks I could come up with:

Wouldn't it be easier for static analysis to catch that if the method was
really not implemented? Technically, it is.

That would require splitting `Name`, having either

[code]

or the more symmetrical

[code]

A noun seems to be missing in this sentence.

I think I overall agree with what I've read here, but it would be nice to see

[2021-09-11 18:10] morozov commented on #4772
It should be "The _name_ that is not fully upper-cased". Thanks!

It definitely would. I'll do more prototyping and will try to take this into account.

FWIW, the RFC is far from being complete. There are more things to take care of, e.g. comparing the names that are now objects for equality and using them as keys in collections of named objects (e.g. table columns or schema tables). I'll continue

[2021-09-12 16:57] #3589 closed

[2021-09-12 16:59] morozov commented on #4506
Closed via #4742, #4743.

[2021-09-12 16:59] #4506 closed, assigned to nobody

[2021-09-12 17:03] morozov commented on #3732
Closing in light of #4742.

[2021-09-12 17:03] #3732 closed

[2021-09-12 18:05] beberlei commented on #4772
Do you see the ORM using this in the metadata drivers to convert each field to the target platforms identifier once during parsing for example? I'd like to keep this out of "regular" runtime and cache the results. It looks like that would be feasible.

[2021-09-13 04:30] morozov commented on #4772
So far, I've been thinking about this in the context of schema management. If the ORM uses this API for building SQL (which would make perfect sense), it can cache the names as long as the schema remains unchanged.

[2021-09-13 19:27] morozov commented on #4747
@gregor-tb do you think you could submit a patch to fix this issue?

[2021-09-16 08:46] gregor-tb commented on #4747
Sorry, not in the near future. I force to upgrade to PHP8 and switch to DBAL3, then I'm going to come back to this (and some other issues I found recently).

Meanwhile we figured out, that this text default value support was introduced in MariaDB 10.2, so it should be overloaded in `MariaDb1027Platform` I guess.

[2021-09-17 01:16] morozov opened #4798 "Deprecate passing assets as names in 3.x"
The support for passing assets as names is being removed in https://github.com/doctrine/dbal/pull/4797. Which exactly upgrade path is proposed depends on the outcome of https://github.com/doctrine/dbal/issues/4772.

[2021-09-22 00:39] grantholle opened #4809 "Opposed to adding new types?"
### Feature Request

I was curious if we were open to adding new type classes, such as one for Postgres' `citext` column type?

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

I wish to add a type class definition for the `citext` column type, but from searching for `citext` in issues, I don't see anyone recommending it or even i

[2021-09-22 17:45] spacedog4 opened #4810 "Does PDOPgSql doesn't support CASE_NATURAL?"
|    Q        |   A
|------------ | -----
| Version     | 2.12.1

### Support Question

I'm new at doctrine, but I've done a lot of reasearch looking for it, but I configure my connection through `doctrine.global.php`:

[code]
but it always return the case as lower, if I set it to `PDO::CASE_UPPER` it converts all the attributes to uppercase, but in this case my sql should return a CamelCase

Am I

[2021-09-22 17:57] spacedog4 commented on #4810
Okay, literally after my next research I found out this link https://www.drupal.org/project/drupal/issues/1622982 where it says

So I just quoted the column name in the select and it worked, doesn't even need the driver options

[2021-09-22 17:57] #4810 closed, assigned to nobody

[2021-09-24 15:31] Spice-King opened #4813 "[3.1.2] Regression for renaming SQLite columns"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.1.2

#### Summary

Renaming a column in SQLite with upper case characters (CamelCase naming conventions) in the old name causes an exception. Was not an issue in 3.1.1.

I suspect this [commit at this given section](https://github.com/doctrine/dbal/commit/66a730290b442581d5b5c32e63a363c782fc2b64#d

[2021-09-27 00:34] morozov opened #4816 "Renaming columns with upper-cased letters doesn't work on case-sensitive platforms"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.2

Steps to reproduce: #4815 on SQL Server with Latin1_General_100_CS_AS ([build](https://github.com/doctrine/dbal/pull/4815/checks?check_run_id=3715083229)).

[2021-09-27 13:26] cd-champion-dev commented on #3298
I'm having the same issue. I'm not using JoinTable though.

[2021-09-27 16:20] #4813 closed, assigned to nobody

[2021-09-30 07:59] eschricker opened #4832 "Columns are not found with 3.1.2"
### Bug Report

Columns are not found. They are named in camelCase.

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | 3.1.2

#### Summary

I am using doctrine/dbal in a lumen project. I recently upgraded dbal to 3.1.2 and now my tests with sqlite and mysql fail with the message that columns cannot be found when renamed or their type is changed.

With version 2.13.3

[2021-09-30 08:13] derrabus commented on #4832
Please provide steps to reproduce your problem.

[2021-10-01 08:41] eschricker commented on #4832
I can create a lumen sample project that causes this error if that is helpful.

I have compared the code of version 3.1.1 and 3.1.2 and created a pull request that fixes the error. The use of lower case columns in sqlite has been dropped there.

[2021-10-01 11:32] derrabus commented on #4832
Thanks, the PR should be enough then.

[2021-10-01 13:28] norkunas commented on #4261
I'm also facing this memory leak when running a query in a long running process.. :disappointed:

[2021-10-01 16:26] morozov commented on #4261
What DBAL version are you using? The SQL parser was completely reworked in 3.0.0 (https://github.com/doctrine/dbal/pull/4397).

[2021-10-03 11:43] norkunas commented on #4261
I'm on 2.13 because orm blocks from upgrading to v3

[2021-10-03 12:58] greg0ire commented on #4261
Currently trying to release 2.10.0, which will allow it :)
Follow my progress at https://github.com/doctrine/orm/pull/9061

[2021-10-03 13:11] norkunas commented on #4261
But why it was not fixed in v2? :) The rework in my opinion was not a feature but a bugfix

[2021-10-03 13:19] greg0ire commented on #4261
I don't know :man_shrugging: , and I'm not sure we should care if I can manage to release 2.10.0 (which is harder than it sounds)

[2021-10-03 18:15] Mediagone opened #4845 "Doctrine SQL comments not always generated"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | probably yes
| Version     | ??

#### Summary

Despite implementing `requiresSQLCommentHint()` (and returning true) in custom type classes, the `(DC2Type:)` comment is not always added to the db.

Missing comments are causing problems like endless diff generation, etc.

#### How to reproduce

It happens when the type is dec

[2021-10-04 07:19] norkunas commented on #4261
doctrine/migrations is another blocker :)

[2021-10-04 10:12] greg0ire commented on #4261
Feel free to work on either a fix or migration of `doctrine/migrations` (it's already underway)

[2021-10-05 12:09] mvorisek opened #4847 "DBALException constructor should be made private"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | yes

#### Summary

Exception handling is a critical part of software. With change https://github.com/doctrine/dbal/commit/ad1e48238b38a8ec10a7f461e7426c7f3985b603 present since v2.11, a lot of software started to use `Exception` instead of `DBALException` which is dangerous when t

[2021-10-05 12:16] derrabus commented on #4847
Well, `DBALException` is gone since 3.0 and we won't introduce breaking changes to the 2.13 branch. I'd say, there's nothing to do here.

[2021-10-07 12:43] rjd22 commented on #4678
I stumbled upon this issue because I'm using the low level DBAL Connection API for the project I'm working on and was actually thinking about writing integration tests for my query repositories. I don't use any mocking library but write my own mock objects for this.

Sadly there is no edge(interface) in DBAL available base my Mock on so I can make sure my tests fail when something changed in the D

[2021-10-07 13:53] derrabus commented on #4678
Your mock implementation could extend `Connection` as it is not final. What would you gain from an interface?

[2021-10-07 18:19] mvorisek opened #4850 "`Table::getPrimaryKeyColumns()` must return `Column[]` not `string[]`"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | bugfix
| Version     | 3.1.3

#### Summary

`Table::getPrimaryKeyColumns()` must return `Column[]` not `string[]`

#### Current behaviour

Currently, it returns wrong type because in https://github.com/doctrine/dbal/blob/96b0053775a544b4a6ab47654dac0621be8b4cf8/src/Schema/Table.php#L806
`$primaryKey->getColumns()` returns `

[2021-10-07 20:15] mvorisek commented on #4850
Also all phpdocs are mismatched with the impl. Should be probably solved as part of https://github.com/doctrine/dbal/issues/4772

[2021-10-07 20:15] #4850 closed, assigned to nobody

[2021-10-07 22:14] tigitz commented on #3116
A way to detect if json extension is loaded and thus allowing dbal to support json column type with sqlite could be:
[code]

@Majkl578 @greg0ire Do you see any remaining blockers to support json column type with sqlite ?

[2021-10-08 01:39] morozov commented on #4809
It looks like `citext` is a Postgres-specific type. You should be able to add it to your application as a custom type. As a platform-specific type, it doesn't really belong to a database abstraction.

[2021-10-08 01:42] #4847 closed, assigned to nobody

[2021-10-08 01:44] morozov commented on #4845
@Mediagone could you provide a script that reproduces the issue?

[2021-10-08 08:44] rjd22 commented on #4678
@derrabus I would gain that I only have to know the interface and not all underlying dependencies like the Driver. Interfaces allow you to Mock the implementation without having to deal with the constructor dependencies and dependencies that are not part of the interface of that implementation.

Also partial mocks might only implement a part of the interface allowing to return sensible "This metho

[2021-10-08 08:51] Mediagone commented on #4845
Hi Morozov,

I created this small Symfony project to illustrate the bug : https://github.com/Mediagone/doctrine-custom-types-comment-bug

I created two custom Doctrine types, which are declared in `config/doctrine.yaml` :
- SameType is declared with an identical name ("same") as returned in `SameType::getName()` method.
- OtherType is declared with a different name ("different") as returned in `Ot

[2021-10-08 09:05] derrabus commented on #4678
You can do very much the same with a class as well. For example:

https://github.com/doctrine/orm/blob/2.10.x/tests/Doctrine/Tests/Mocks/ConnectionMock.php

[2021-10-08 11:21] rjd22 commented on #4678
I've seen those examples but if you look closely those mocks require are lot of other parts to be mocked your application is not exposed to:

`ConnectionMock`  depends on `DatabasePlatformMock` and `DriverMock` etc...

This requires you to have more in depth knowledge of DBAL than really needed for the limited interface you might be using.

Like I said: It's not impossible to Mock a DBAL connectio

[2021-10-08 17:09] morozov commented on #4845
@Mediagone if you believe it's a bug in the DBAL, it should be reproducible without any dependencies. Otherwise, the problem can be anywhere else. You may want to seek help from others to convert your Symfony project to a reproducer.

[2021-10-08 17:27] morozov commented on #4850
I plan to implement https://github.com/doctrine/dbal/issues/4772 primarily in `4.0.x` since it may require quite some breaking changes, and it's still just a plan. If there is something that could be improved in the supported branches, it can be done there.

[2021-10-08 19:09] morozov opened #4853 "Hacktoberfest 2021"
Doctrine DBAL participates in [Hacktoberfest 2021](https://hacktoberfest.digitalocean.com/) and welcomes pull requests from regular contributors and newcomers alike. Please make sure, you have read the [contribution guidelines](https://www.doctrine-project.org/contribute/index.html).

### Improve the documentation!

* A great way to make a first contribution.
* The documentation is written in reSt

[2021-10-09 18:48] morozov opened #4854 "Optimize build pipeline by taking affected paths into account"
Currently, the build pipeline runs for any changes, even though some changes are known as not affecting the build results. For instance,

1. A change in documentation won't affect the build results of PHPUnit tests, static analysis or coding standards check.
2. A change in the configuration of a certain tool (e.g. PHPUnit) won't affect other build tools (e.g. PHPStan).
3. A change driver- or platf

[2021-10-09 19:01] morozov commented on #4678
Unless you're building a database abstraction, mocking a connection or a database is usually a bad idea since you don't own the logic on the other end. If you use the connection to store and retrieve data, define a repository, mock it to test the application logic, and test the repository via integration tests with a real database.

[2021-10-09 19:04] #1305 closed, assigned to beberlei

[2021-10-09 19:09] morozov commented on #1335
Implemented in https://github.com/doctrine/dbal/pull/3512.

[2021-10-09 19:09] #1335 closed

[2021-10-09 19:10] #1057 closed, assigned to beberlei

[2021-10-09 19:10] #1562 closed, assigned to beberlei

[2021-10-09 19:15] morozov commented on #2388
Fixed in https://github.com/doctrine/dbal/pull/3868.

[2021-10-09 19:17] #1817 closed

[2021-10-09 19:18] morozov commented on #1150
Irrelevant as of 388ea62f2c8496cfbcf0edef2fa1845f67032ccd.

[2021-10-09 19:18] #1150 closed

[2021-10-09 19:19] morozov commented on #2462
Fixed in https://github.com/doctrine/dbal/pull/3276.

[2021-10-09 19:19] #2462 closed

[2021-10-09 19:20] morozov commented on #2352
This doesn't look like a DBAL issue.

[2021-10-09 19:21] #2352 closed

[2021-10-09 19:24] morozov commented on #3081
Fixed in https://github.com/doctrine/dbal/pull/4644.

[2021-10-09 19:24] #3081 closed

[2021-10-09 19:27] morozov commented on #3461
Irrelevant as of https://github.com/doctrine/dbal/pull/3906.

[2021-10-10 19:39] Mediagone commented on #4845
Using symfony was just simpler since it enables quick type mapping, but it uses Doctrine's `Type::register` underneath (and related methods), to where I tracked down the problem (cf. my first post) !

It was also a way to integrate the doctrine-migrations package for SQL generation.

[2021-10-11 09:21] SaaberDev opened #4862 "Field with default value cannot be null"
Why this is happing ? Could not find a solution with proper description.

Note That: I used "0" with quotation, used boolean (true, false) but no good luck.

![image](https://user-images.githubusercontent.com/60372951/136765963-6fa806a7-2925-4719-a779-2791e28c8bb4.png)

[2021-10-11 09:29] stof commented on #4862
doctrine/common is not the issue tracker for all of Doctrine. Please report it to the right project.

[2021-10-11 09:31] derrabus commented on #4678
It depends on those mocks exactly _because_ the library that is tested here interacts with platform and driver as well. The mock implementation that I've linked would pretty much look the same if we provided interfaces.

[2021-10-11 13:38] grantholle commented on #4809
Thanks

[2021-10-11 13:38] #4809 closed, assigned to nobody

[2021-10-11 15:56] #4832 closed, assigned to nobody

[2021-10-11 19:21] GromNaN commented on #1320
The necessary SQL queries for several platforms has been implemented in Symfony Cache: https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/Cache/Adapter/PdoAdapter.php#L352-L381

With a fallback to update or insert if the platform does not support any form of upsert.

[2021-10-11 19:56] greg0ire commented on #1320
@GromNaN looks like you can now use the same syntax for both PG and SQLite: https://www.sqlite.org/lang_UPSERT.html and that seems to be better anyway: https://stackoverflow.com/questions/418898/sqlite-upsert-not-insert-or-replace

[2021-10-11 20:28] greg0ire commented on #1320
We should start thinking about the interface.

If we were to be consistent with `insert()`, here is how the usage could look:

[code]

It might be more powerful and convenient to be able to do something like this though:

[code]

and generate a single SQL statement (or several? Maybe we should have 2 methods?) from that.

[2021-10-12 07:52] GromNaN commented on #1320
It would be more like the `update` method, with a list of key fields instead of a complete criteria. Some DB engine rely on the existing unique constraints (mysql), while other needs the keys to be specified.

An unoptimized implementation can be like this:
[code]

[2021-10-12 11:00] derrabus commented on #1320
I'd love to see this. 🤩

[2021-10-12 14:45] greg0ire commented on #1320
@GromNaN you mean that if there was a column with no uniqueness constraint, you would update it when `UPSERT` usually does an `INSERT` in that kind of case? Wouldn't that be kind of unexpected?

Which DB engines need the keys to be specified? Oracle and sqlsrv maybe?

[2021-10-12 15:17] GromNaN commented on #1320
I cannot find a formal definition of `UPSERT` ; the best are on [PostgreSQL wiki](https://wiki.postgresql.org/wiki/UPSERT) and [MongoDB Documentation](https://docs.mongodb.com/manual/reference/glossary/#std-term-upsert)

The `UPSERT` operation is normally used with a unique key. We have to recommend not to use non-unique fields as key.

Yes, and also Postgresql requires the key (`INSERT ... ON CON

[2021-10-12 15:42] derrabus commented on #1320
On MySQL it would be `INSERT … ON DUPLICATE KEY UPDATE …` but it should be fine if the conflicting key also appears in the `UPDATE` clause. Distinguishing between key and non-key fields would also mean that we can anticipate exactly which unique key(s) will cause a conflict.

[2021-10-12 17:06] greg0ire commented on #1320
Can you please elaborate? It's unclear to me where/how you would make that distinction and how we would act on it.

[2021-10-13 14:32] derrabus commented on #4862
The code looks like Illuminate Database rather than Doctrine. Please use Laravel's trackers for support.

[2021-10-13 14:32] #4862 closed, assigned to nobody

[2021-10-13 19:31] mondrake opened #4869 "mysqli::real_connect may be called with null $flags"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1

#### Summary

In PHP 8.1 you get a deprecation when `mysqli::real_connect` is called with null $flags:
`
mysqli::real_connect(): Passing null to parameter #7 ($flags) of type int is deprecated
`
#### Current behaviour

#### How to reproduce

#### Expected behaviour

[2021-10-13 20:05] mondrake opened #4870 "PHP 8.1: MySQLi: Default error mode set to exceptions"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1

#### Summary

In PHP 8.1, MySQLi default error mode is set to exceptions. Prior to PHP 8.1, the default error reporting mode in MySQLi was to silent the errors.

If I understand correctly, now `mysqli_sql_exception` is not captured and standardized into DBAL exceptions, and rather bubble up in consum

[2021-10-13 21:20] SaaberDev commented on #4862
I posted it in laravel repo. How did it came here ?🤔

[2021-10-13 21:21] derrabus commented on #4862
No, you did not.

[2021-10-13 21:22] SaaberDev commented on #4862
Sorry about that may be i need to take a break from my work.

[2021-10-13 21:36] mondrake opened #4871 "OracleSchemaManager::_getPortableTableColumnDefinition throws deprecations on PHP 8.1"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1

#### Summary

In PHP 8.1 you can get a deprecation when introspecting an Oracle schema on a null default column:

[code]

#### Current behaviour

#### How to reproduce

#### Expected behaviour

[2021-10-15 01:39] morozov commented on #4871
This will be fixed in `3.2.0` by https://github.com/doctrine/dbal/pull/4685.

[2021-10-15 01:39] #4871 closed, assigned to nobody

[2021-10-15 01:43] morozov commented on #4870
In https://github.com/doctrine/dbal/pull/4685, the `mysqli` driver sets the error mode to `MYSQLI_REPORT_OFF`. A patch that implements handling of the new default is welcome.

[2021-10-15 02:28] morozov commented on #4869
Neither PHPStan nor Psalm in their current configuration catch this issue but PHPStan level 8 would:
[code]

[2021-10-15 03:02] marulitua commented on #4854
Please assign this to me

[2021-10-15 12:39] derrabus commented on #4870
I'm trying to fix this in #4875.

[2021-10-16 09:12] #4870 closed, assigned to nobody

[2021-10-16 11:36] greg0ire commented on #4853
Cool feature to implement: https://github.com/doctrine/dbal/issues/1320

[2021-10-16 11:49] greg0ire commented on #4869
That would be since https://php.watch/versions/8.1/internal-func-non-nullable-null-deprecation (so indeed PHP 8.1, more precisely in https://github.com/php/php-src/commit/b10416a652d26577a22fe0b183b2258b20c8bb86).

I pushed a fix in https://github.com/doctrine/dbal/pull/4879, which merges up #4873 into 3.1.x

[2021-10-16 11:54] greg0ire commented on #2676
A PR has been sent, reopening.

[2021-10-16 14:04] derrabus commented on #1320
It's unclear to me as well. That was kinda my point. @GromNaN suggested a signature that would distinguish between data and key fields:

I don't believe that this is feasible. I think, `upsert()` should have the same signature as `insert()`, as suggested by @greg0ire already.

[2021-10-16 14:05] #4869 closed, assigned to nobody

[2021-10-16 22:43] simonberger opened #4886 "A call to the non-deprecated AbstractPlatform::getAdvancedForeignKeyOptionsSQL() triggers a deprecation"
Dbal 2.13.4 still uses `AbstractPlatform::supportsForeignKeyOnUpdate` in `AbstractPlatform::supportsForeignKeyOnUpdate`
The library should never use a method it deprecated itself.

[2021-10-17 02:13] morozov commented on #4886
Why?

See https://github.com/doctrine/dbal/pull/4278.

[2021-10-17 15:48] simonberger commented on #4886
@morozov because it triggers deprecation methods in 2.13 also when other projects use this library normally. I saw that problems like this seem to be normally solved by using `triggerIfCalledFromOutside` instead of `trigger`.

[2021-10-17 16:28] morozov commented on #4886
I see, yes. `AbstractPlatform::supportsForeignKeyOnUpdate()` should call `triggerIfCalledFromOutside()`, not `trigger()`.

[2021-10-17 16:49] lugosium opened #4889 "?? syntax not working anymore?"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.1.3

#### Summary

The ?? syntax seems to not work anymore after upgrading dbal from 2.* to 3.*.

`$connection->fetchFirstColumn("SELECT marking ?? 'published' from some_table")` => OK

But

`$connection->fetchFirstColumn("SELECT marking ?? 'published' from some_table where foo = :bar", ['bar' => true]

[2021-10-17 22:05] dimadeush opened #4892 "doctrine-migrations-bundle with --all-or-nothing option and doctrine/dbal 3.* lead to "There is no active transaction" error"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.*

#### Summary

PHP 8.0.11, Symfony 5.3.*, doctrine/orm 2.10.*, doctrine/doctrine-migrations-bundle 3.1.*, doctrine/dbal 3.1.*
next cmd "php bin/console doctrine:migrations:migrate --no-interaction --all-or-nothing" command lead to "There is no active transaction" error and in case I have only one migr

[2021-10-18 00:40] #4886 closed, assigned to nobody

[2021-10-18 08:23] 99hops opened #4893 "Attempted to call an undefined method named "pgsqlGetNotify" of class "Doctrine\DBAL\Driver\PDO\Connection""
### BC Break Report
|    Q        |   A
|------------ | ------
BC Break    | yes
Version     | 3.1.3

#### Summary

With composer set to
[code]

after update to doctrine/orm 2.10.1 I get Attempted to call an undefined method named "pgsqlGetNotify" of class "Doctrine\DBAL\Driver\PDO\Connection"

I am using Symfony 5.3 consumers to pull messages with PostgreSQL 13.4

#### Previous behaviour

No erro

[2021-10-18 09:11] derrabus commented on #4893
This BC break was introduced with DBAL 3.0 and is documented. The driver connection does not extend the PDO connection anymore. There's a `getWrappedConnection()` method in case you need to access it.

[2021-10-18 09:11] #4893 closed, assigned to nobody

[2021-10-18 09:41] 99hops commented on #4893
Isn't it supposed that "doctrine/orm": "^2.9" should not introduce such BC changes and stick dependencies to the 2. versioning?
Looking at the composer [manual](https://getcomposer.org/doc/articles/versions.md#caret-version-range-) I read "The ^ operator behaves very similarly, but it sticks closer to semantic versioning, and will always allow non-breaking updates."

[2021-10-18 10:03] derrabus commented on #4893
But as you noted yourself, it was DBAL that introduced the BC break, not ORM. If you used DBAL only through the ORM, everything would be fine. This issue however has nothing to do with the ORM.

Your project interacts with DBAL classes directly which makes DBAL a direct dependency of your project. You performed a major version update of a direct dependency of your project, so I'm sorry, you need t

[2021-10-18 16:22] marulitua commented on #4854
I haven't figured out how to achieve the third requirement. `path` and `path-ignore` only available on workflow level,
so I have to split `continuous-integration` workflow into each platform specific workflow, but then the coverage only for that particular specific platform. How to keep all the overall coverage but only run specific platform ?

[2021-10-18 16:48] morozov commented on #4854
@marulitua thanks for the research. I believe we can start simple and implement at least some basic improvements first.

As for the platform/driver specific optimization, we'll need to think first about how exactly we want to divide the builds: the platforms and the drivers are related as many-to-many (see `mysqli`/`pdo_mysql` and MySQL/MariaDB for example). If we divide them too specifically, the

[2021-10-19 17:26] morozov commented on #4889
Besides the linked question, it doesn't look like DBAL ever supported this syntax: no tests, no documentation. But I assume it's a convention defined in `pdo_pgsql`.

[2021-10-20 13:35] tchapi commented on #5614
Hi @beberlei, any update on this ? As explicited above, either the documentation is wrong and `IDENTITY` doesn't use `SERIAL` in PostgreSQL, or there is a bug.

Thanks a lot !

[2021-10-21 01:45] morozov commented on #4889
So, to reproduce this issue, we need the query to be parameterized and the named parameters used:
[code]

[2021-10-21 03:45] AlexHowansky opened #4905 "passing an empty column array to Doctrine\DBAL\Schema\Table::setPrimaryKey() creates an empty primary key"
### Bug Report

|    Q        |   A
|------------ | ------
| Version     | 3.1.3

#### Summary

`Doctrine\DBAL\Schema\Table::setPrimaryKey()` takes an array of column names as an argument, and creates a primary key from them. However, if you provide an empty array, no error is issued, and you end up with a table that appears to have a primary key, but which contains zero columns.

Given the multi-

[2021-10-21 05:20] #4889 closed, assigned to nobody

[2021-10-21 06:39] lugosium commented on #4889
Thank you 🎉

[2021-10-21 10:20] come-nc opened #4906 "PHP 8.1 - default value for type is wrong in ExpressionBuilder::literal"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.2

#### Summary

This PHP error happens with PHP 8.1:
`PHP Deprecated:  PDO::quote(): Passing null to parameter #2 ($type) of type int is deprecated in /home/mcmic/dev/doctrine/dbal/src/Driver/PDO/Connection.php on line 96`

You changed the default value in Connection::quote, but not in ExpressionBuil

[2021-10-21 14:01] j-schumann opened #4907 "[3.1.3] SQL Parser: Assertion error on long query string, caused by JIT stack limit exhaustion"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.1.3
|PHP Version | 8.0.8
|php.ini pcre.jit | 1
|php.ini pcre.recursion_limit| 100000
|php.ini memory_limit| 300M

#### Summary

I upgraded from 2.13.4 to 3.1.3 in an API Platform / Symfony project and got this regression in executability,
caused by: ```Fatal error: Uncaught AssertionError: assert(

[2021-10-21 14:24] divinity76 opened #4908 "mysqli driver support undocumented arguments for driverOptions"
### Bug Report

according to the mysqli driver documentation at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html , the mysqli driverOptions argument only support mysqli::real_connect flags, but it also supports MYSQLI_OPT_CONNECT_TIMEOUT , which is not a real_connect flag, it is an argument for mysqli::options(), it works but it's not documented on tha

[2021-10-21 16:55] morozov commented on #4908
@divinity76, a patch to the documentation is welcome.

[2021-10-21 21:46] derrabus commented on #4906
Confirmed, on it.

[2021-10-22 00:42] pedrocasado commented on #4907
Same here after upgrading from 2.13.3 with a quite long query (9 joins).

I'm using PHP 7.4.

[2021-10-22 02:08] morozov commented on #4907
It should be possible to simplify the regex by matching the next fragment of the query against each of the `$patterns` individually instead of smashing them together.

[2021-10-22 05:46] morozov commented on #4907
@j-schumann, @pedrocasado please see the linked PR. It works with the query in the issue description but it would be nice if you could test it with other queries that make the current implementation fail.

[2021-10-22 07:04] j-schumann commented on #4907
@morozov after quickly applying the patch and running a first test I have to say it does'nt fix the 3 queries  in my unit tests that cause this problem. I will do some more in-depth testing and come back with new query examples.

Edit: reproduction repo updated with a new query. I currently don't have more test cases, my 3 failing unit tests all fail with the same query.
While looking for solution

[2021-10-22 15:46] morozov commented on #4907
@j-schumann could you share those 3 queries so that we could run the parser against them? And thanks for sharing the tips.

[2021-10-22 16:38] j-schumann commented on #4907
@morozov see https://github.com/j-schumann/dbal-test/blob/master/dbal-test.php#L21, don't want to paste it here because >9KiB

[2021-10-22 16:45] morozov commented on #4907
So it's the same query? For me, parsing this query repeated 1000 times (8,027,257 bytes in total) works with the new implementation. The old one fails with the same error as in your case.

[2021-10-22 18:10] morozov commented on #4907
I tried using regex101 and seeing if there's a specific portion of the complex regex that makes the engine perform this many steps. It looks like the number of steps primarily depends on the length of the test string rather than the regex. [Here](https://regex101.com/r/1dYusm/1), there's just a small portion of the regex, and it still takes ~52K steps to parse your query. Although, this part may b

[2021-10-22 21:18] j-schumann commented on #4907
Did you use the "new" query from line 21? This is the longer version of the "old" query in line 12. And this new query fails for me with the patch from #4916 applied, with the settings/PHP version from the OP. I don't have different queries at the moment.

Does executing `php dbal-test.php` fail for you when you clone the repo (and `composer install`, maybe after adjusting the required PHP version

[2021-10-22 21:31] morozov commented on #4907
Sorry, I didn't notice there was a new query. Yes, the new one still fails.

[2021-10-23 17:23] morozov commented on #4907
It's indeed the "other" token regular expression that is causing the trouble:
[code]
Even if it's applied alone to the 9KB query, it causes the JIT stack exhaustion.

[2021-10-24 00:21] morozov commented on #4907
@j-schumann please check the implementation in https://github.com/doctrine/dbal/pull/4927.

[2021-10-24 07:23] j-schumann commented on #4907
I can confirm that the assertion error is gone with #4927 (for this query, in my environment).

[2021-10-24 15:21] #4906 closed, assigned to nobody

[2021-10-25 02:33] Nemoden commented on #2719
Just stumbled upon this. Highly confusing, joins should really follow the order they are defined in.

[2021-10-25 14:44] pedrocasado commented on #4907
My query also works with this patch.

[2021-10-27 21:53] #4907 closed, assigned to nobody

[2021-10-30 17:11] morozov commented on #3467
This must be irrelevant as of https://github.com/doctrine/dbal/pull/4397. Please let us know if it still is.

[2021-10-30 17:11] #3467 closed

[2021-10-30 17:24] morozov commented on #3371
This must have been fixed by https://github.com/doctrine/dbal/pull/4397, no longer reproducible on `3.1.x`. In the ANSI mode, the query in question is parsed as:
[code]
The curly braces identify what has been recognized as a parameter (see `Doctrine\DBAL\Tests\SQL\ParserTest#testAnsiEscaping()`).

[2021-10-30 17:24] #3371 closed

[2021-10-30 17:26] morozov commented on #3379
This must have been fixed by https://github.com/doctrine/dbal/pull/4397, no longer reproducible on `3.1.x`. In the ANSI mode, the query in question is parsed as:
[code]
The curly braces identify what has been recognized as a parameter (see `Doctrine\DBAL\Tests\SQL\ParserTest#testAnsiEscaping()`).

[2021-10-30 17:26] #3379 closed

[2021-10-30 17:27] morozov commented on #4261
Closing as irrelevant as of https://github.com/doctrine/dbal/pull/4397.

[2021-10-30 17:27] #4261 closed

[2021-10-30 18:08] morozov commented on #3640
This must have been fixed by https://github.com/doctrine/dbal/pull/4397, no longer reproducible on `3.1.x`. In the ANSI mode, the query in question is parsed as:
[code]
The curly braces identify what has been recognized as a parameter (see `Doctrine\DBAL\Tests\SQL\ParserTest#testAnsiEscaping()`).

[2021-10-30 18:08] #3640 closed

[2021-10-30 18:13] morozov commented on #3472
Closing as irrelevant as of https://github.com/doctrine/dbal/pull/4397. If the issue is still reproducible, please file a new one with the exact steps to reproduce.

[2021-10-30 18:13] #3472 closed

[2021-10-30 18:22] morozov commented on #3110
Passing a platform is already possible:
https://github.com/doctrine/dbal/blob/d3c708102614d556b4db38d1cae84441772d55f1/src/Connection.php#L175-L181

[2021-10-30 18:22] #3110 closed

[2021-10-30 18:23] morozov commented on #3132
Irrelevant as of https://github.com/doctrine/dbal/pull/3602.

[2021-10-30 18:23] #3132 closed

[2021-10-30 18:26] morozov commented on #2700
Irrelevant as of https://github.com/doctrine/dbal/pull/3241.

[2021-10-30 18:26] #2700 closed

[2021-10-30 18:27] morozov commented on #2700
Irrelevant as of https://github.com/doctrine/dbal/pull/3241.

[2021-10-30 18:28] morozov commented on #2728
This is likely unnecessary.

[2021-10-30 18:28] #2728 closed

[2021-10-30 18:30] morozov commented on #2621
The binding type should be defined by the program logic, not the input.

[2021-10-30 18:30] #2621 closed

[2021-10-30 18:31] morozov commented on #2562
Closing as it hasn't gotten any traction.

[2021-10-30 18:31] #2562 closed

[2021-10-30 18:32] morozov commented on #2860
Closing as it hasn't gotten any traction.

[2021-10-30 18:32] #2860 closed

[2021-10-30 18:36] morozov commented on #2430
Must have been fixed by https://github.com/doctrine/dbal/pull/2546.

[2021-10-30 18:36] #2430 closed

[2021-10-30 18:37] morozov commented on #2445
Should have been fixed by https://github.com/doctrine/dbal/pull/4765.

[2021-10-30 18:37] #2445 closed

[2021-10-30 20:51] morozov commented on #3433
Closing as the primary issue in question is by design.

[2021-10-30 20:51] #3433 closed

[2021-10-30 21:09] morozov opened #4941 "Rework logger as a driver middleware"
The current `SQLLogger` has major disadvantages:
1. It doesn't log exceptions (https://github.com/doctrine/dbal/issues/3228) or anything else (https://github.com/doctrine/dbal/pull/3513) besides what's hard-coded in the wrapper connection.
2. It's not extensible. Any addition to the interface would be a breaking change.
3. It's not PSR-compliant.
4. It's not a logger (https://github.com/doctrine/d

[2021-10-30 21:11] morozov commented on #3228
Closing in favor of https://github.com/doctrine/dbal/issues/4941.

[2021-10-30 21:11] #3228 closed

[2021-10-30 21:14] morozov commented on #2997
This should have been fixed by https://github.com/doctrine/dbal/pull/3297.

[2021-10-30 21:14] #2997 closed

[2021-10-30 21:20] morozov commented on #2941
This could be likely resolved by simplifying the regex (https://github.com/doctrine/dbal/pull/4867#issuecomment-945196830). Closing as non-reproducible.

[2021-10-30 21:20] #2941 closed

[2021-10-30 21:26] morozov commented on #2313
Closing as irrelevant as of https://github.com/doctrine/dbal/pull/3756.

[2021-10-30 21:26] #2313 closed

[2021-10-30 21:30] morozov commented on #1300
This must have been fixed by https://github.com/doctrine/dbal/pull/4397, no longer reproducible on `3.1.x`. The query in question is parsed as:
[code]
The curly braces identify what has been recognized as a parameter (see `Doctrine\DBAL\Tests\SQL\ParserTest`).

[2021-10-30 21:30] #1300 closed

[2021-10-30 21:33] morozov commented on #1269
Closing as irrelevant as of https://github.com/doctrine/dbal/pull/3756.

[2021-10-30 21:33] #1269 closed

[2021-10-30 21:52] morozov commented on #1473
The example in the description is invalid as it works only with the platforms and/or the drivers that support named parameters natively. The emulation for the rest of the platforms and drivers is implemented in the wrapper `Connection::executeQuery()` and `Connection::executeStatement()`:
[code]
Although, in the case of PDO (`pdo_sqlsrv`), it's the extension itself that is responsible for emulatio

[2021-10-30 21:55] morozov commented on #2105
Must have been addressed by https://github.com/doctrine/dbal/pull/4159.

[2021-10-30 21:55] #2105 closed

[2021-10-30 21:57] #1990 closed

[2021-10-30 22:01] morozov commented on #1237
Fixed by https://github.com/doctrine/dbal/pull/2434.

[2021-10-30 22:01] #1237 closed

[2021-10-30 22:03] #1198 closed

[2021-10-31 16:02] #3346 closed

[2021-10-31 16:55] morozov commented on #3209
Although this behavior is confusing, it's intentional:

https://github.com/doctrine/dbal/blob/9f3188ab3d56db6f6fc76c2ddf6b0b4aae06192f/lib/Doctrine/DBAL/DriverManager.php#L401-L403

Changing it would be a minor BC break. Closing for now. Please feel free to file a PR and change it in the next major release.

[2021-10-31 16:55] #3209 closed

[2021-10-31 18:02] morozov commented on #2320
I cannot reproduce this:
[code]
Closing for now. Please provide a failing test to reopen.

[2021-10-31 18:02] #2320 closed

[2021-11-01 14:32] dimadeush commented on #950
This solution will not work if you have defined schema in your entity. Now in order to resolve this issue (mentioned in title on this page) and in case your are using not default schema "public" in Postgres you just need to create necessary shema before starting migration by symfony migration bundle, f.e.:
`CREATE SCHEMA IF NOT EXISTS schematest;`
Note: In general this issue related to symfony mig

[2021-11-01 21:06] #1819 closed

[2021-11-01 21:07] #1840 closed

[2021-11-01 21:09] #1798 closed

[2021-11-01 21:11] morozov commented on #1848
Closing as there are no plans to adopt new drivers or platforms. The API should be extensible enough to allow implementing it outside of the core DBAL.

[2021-11-01 21:11] #1848 closed

[2021-11-01 21:12] morozov commented on #1754
FWIW, some if not all PDO drivers support emulation of prepared statements. No need to emulate them in the DBAL.

[2021-11-01 21:12] #1754 closed

[2021-11-01 21:20] #1581 closed

[2021-11-02 01:33] morozov commented on #1717
Not clear how to reproduce the issue. If still relevant, please file a new one with clear steps.

[2021-11-02 01:33] #1717 closed

[2021-11-02 01:37] morozov commented on #1617
This will be addressed in `4.0.x` via https://github.com/doctrine/dbal/pull/3586.

[2021-11-02 01:37] #1617 closed

[2021-11-02 01:41] morozov commented on #1320
Closing. See https://github.com/doctrine/dbal/pull/2939#issuecomment-352074105 for details.

[2021-11-02 01:41] #1320 closed

[2021-11-02 01:45] morozov commented on #1189
Irrelevant as of https://github.com/doctrine/dbal/pull/4397.

[2021-11-02 01:45] #1189 closed

[2021-11-02 01:46] #1774 closed

[2021-11-02 01:48] morozov commented on #1125
Fixed via https://github.com/doctrine/dbal/pull/4746.

[2021-11-02 01:48] #1125 closed

[2021-11-02 01:49] #1120 closed

[2021-11-02 01:59] morozov commented on #1099
This looks related to the ORM but is likely no longer relevant to 3.1.x (SQL Server 2019):
[code]

[2021-11-02 01:59] #1099 closed

[2021-11-02 02:01] morozov commented on #1067
DynamoDB is not a relational database.

[2021-11-02 02:01] #1067 closed

[2021-11-02 04:09] morozov commented on #2200
Not reproducible on `3.1.x`:

[2021-11-02 04:09] #2200 closed

[2021-11-02 04:11] morozov commented on #1005
Irrelevant as of https://github.com/doctrine/dbal/pull/3602.

[2021-11-02 04:11] #1005 closed

[2021-11-02 04:13] morozov commented on #3170
Closing in favor of https://github.com/doctrine/dbal/issues/4941.

[2021-11-02 04:13] #3170 closed

[2021-11-02 04:16] morozov commented on #3129
Closing as the originally reported issue is by design.

[2021-11-02 04:16] #3129 closed

[2021-11-02 04:17] morozov commented on #3118
Irrelevant as of https://github.com/doctrine/dbal/pull/4128.

[2021-11-02 04:17] #3118 closed

[2021-11-02 11:00] aimeos opened #4945 "MySQL table engine not changed"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.3

#### Summary

The SQL for changing the MySQL table engine isn't generated if this is the only change for the table, e.g. from MyISAM to InnoDB

#### Current behaviour

No SQL statement for changing the MySQL table engine is generated

#### How to reproduce

[code]

#### Expected behaviour

Should g

[2021-11-02 16:04] morozov commented on #4945
Fixing this bug requires the logic implemented in https://github.com/doctrine/dbal/pull/4746 regarding column SQL declarations to be implemented for table SQL declarations.

[2021-11-02 16:07] #4853 closed, assigned to nobody

[2021-11-02 16:36] morozov commented on #3373
Closing.

[2021-11-02 16:36] #3373 closed

[2021-11-02 16:41] ianef commented on #3373
I'd forgotten this was still open, it's been there since 2018!

I'll check the documentation, if it doesn't state that I'll raise a bug request there. My guess is that it doesn't otherwise we would not be here. Mind you a lot can change in 3 years!

[2021-11-02 17:03] morozov commented on #3213
I believe this is irrelevant as of https://github.com/doctrine/dbal/pull/4045.

[2021-11-02 17:03] #3213 closed

[2021-11-02 17:07] #2930 closed

[2021-11-02 17:16] morozov commented on #2748
I don't agree with this statement. In order to provide this information, the DBAL would have to hard-code it in the platform code which will then turn into a maintenance nightmare like maintaining reserved keywords and maximum identifier lengths currently is.

It should be up to the user to decide how many statements they want to execute in a batch and whether it should depend on the currently use

[2021-11-02 17:16] #2748 closed

[2021-11-02 17:18] ianef commented on #3373
@morozov I can't find any reference to DATETIME2 in the Doctrine documentation. I am aware that using DATETIME2 works but surely it would be sensible to actually mention this somewhere rather than relying in third party sites to do so.

At https://www.doctrine-project.org/projects/doctrine-orm/en/2.9/cookbook/working-with-datetime.html#default-timezone-gotcha it states
"Before 2.5 this type always

[2021-11-02 17:34] morozov commented on #2481
Closing as this is not a DBAL issue ([bug #81586](https://bugs.php.net/bug.php?id=81586)):
[code]

[2021-11-02 17:34] #2481 closed

[2021-11-02 17:54] morozov commented on #3373
@ianef if you believe this issue should be fixed, please reproduce it using the DBAL APIs and provide a fix.

[2021-11-02 17:57] ianef commented on #3373
OK, great. I really do think it would make life a lot simpler for people using SQL Server.

If you can re-open this I'll try and schedule some time next week to look at it.

[2021-11-02 18:05] morozov commented on #2312
The inputs that the query builder accepts are SQL expressions, not values. The current behavior is by design.

[2021-11-02 18:05] #2312 closed

[2021-11-03 01:45] morozov commented on #2345
I cannot reproduce this on `3.2.x` with MySQL 5.7:
[code]
The above produces:
[code]
The resulting table looks like this:
[code]

[2021-11-03 01:45] #2345 closed

[2021-11-03 01:51] #2456 closed

[2021-11-03 01:55] morozov commented on #2901
Closing as `pdo_sqlite` doesn't support using shared memory.

[2021-11-03 01:55] #2901 closed

[2021-11-04 02:07] morozov commented on #4941
PoC: https://github.com/doctrine/dbal/compare/3.2.x...morozov:issues/4941-logging-middleware. Need to change the way we identify drivers in the test suite.

[2021-11-04 15:00] ecwio opened #4946 "simple_array text length is not recognized/updated"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.7

using MariaDB

#### Summary

using `simple_array`; text length is not recognized/updated by `php bin/console make:migration` when property `length` is removed from entity property.

`php bin/console make:migration`  sees no change

#### How to reproduce

Create simple_array with length of 128
databas

[2021-11-05 07:17] makm commented on #4907
I known, it's looks crazy, but however:

`SELECT CASE WHEN p0_.id = 96990 THEN 0 WHEN p0_.id = 98840 THEN 1 WHEN p0_.id = 99257 THEN 2 WHEN p0_.id = 97437 THEN 3 WHEN p0_.id = 98872 THEN 4 WHEN p0_.id = 98570 THEN 5 WHEN p0_.id = 98635 THEN 6 WHEN p0_.id = 98657 THEN 7 WHEN p0_.id = 98925 THEN 8 WHEN p0_.id = 98661 THEN 9 WHEN p0_.id = 96495 THEN 10 WHEN p0_.id = 98841 THEN 11 WHEN p0_.id = 98622

[2021-11-06 23:15] morozov commented on #4946
@signmeuptwice please see if your issue is reproducible on `3.2.x-dev`. It may have been fixed by https://github.com/doctrine/dbal/pull/4746. If it still is, please provide more details. Ideally, a failing test.

[2021-11-07 18:30] morozov opened #4963 "Inconsistent semantics of createDatabase() and dropDatabase() for SQLite"
SQLite is an embedded engine that doesn't support the concept of a database, or a catalog, or a schema.

Currently, the `createDatabase()` and `dropDatabase()` methods in its schema manager are implemented to create and delete the file that corresponds to the database name, but SQLite doesn't necessarily store its data in a file, it can be stored in memory which renders the behavior of these metho

[2021-11-09 03:01] #4462 closed

[2021-11-09 03:01] #4459 closed

[2021-11-09 03:01] #4458 closed

[2021-11-09 03:01] #4454 closed

[2021-11-09 03:01] #4448 closed

[2021-11-09 03:01] #4440 closed

[2021-11-09 03:01] #4426 closed

[2021-11-09 03:01] #4420 closed

[2021-11-09 13:08] AndreasA opened #4971 "MySQL: Determining existing composite foreign keys does not take column positions (ORDINAL_POSITION) into account (missing ORDER BY)"
### Bug Report

When using a foreign key with multiple join columns, the method `\Doctrine\DBAL\Platforms\MySqlPlatform::getListTableForeignKeysSQL` does not order by `ORDINAL_POSITION` in its SQL. See: https://github.com/doctrine/dbal/blob/96b0053775a544b4a6ab47654dac0621be8b4cf8/src/Platforms/MySQLPlatform.php#L179

This can result in the order of the columns not being the same as expected.

E.g

[2021-11-09 16:51] morozov commented on #4971
Unless the missing `ORDER BY` impacts the behavior from the API consumer perspective, I don't believe it's a bug. It's pretty much possible that the rows are ordered in the column order in the `INFORMATION_SCHEMA.KEY_COLUMN_USAGE` table.

If it's a real issue, it should be reproducible with an integration test.

@AndreasA please feel free to send a patch though.

[2021-11-09 17:07] AndreasA commented on #4971
@morozov It is in so far reproducible that if I change the order of the join columns it tries to drop on a schema update, thene re-add the key again, etc. as the generated index name is different from the expected one due to different column order.

If I find the time I will create an integration test plus fix.

[2021-11-10 03:03] #4963 closed, assigned to nobody

[2021-11-10 07:39] #1153 closed

[2021-11-10 07:40] #1158 closed

[2021-11-10 07:41] #1146 closed

[2021-11-10 08:39] AndreasA commented on #4971
@morozov I have now created a PR https://github.com/doctrine/dbal/pull/4978

If I remove this line https://github.com/doctrine/dbal/pull/4978/files#diff-f2c2d9a23d4985a19b3d2df3e3ff932fa5a506eae05cacbf084ff497362bf12aR199

then the created test https://github.com/doctrine/dbal/pull/4978/files#diff-6eb874abe74292a78033e7a9b66317b16aaed0ab8eb6ce1e36dd1801d8fe897dR547

fails in my  MySQL 8.0.26 insta

[2021-11-10 12:25] AlexeyKosov opened #4980 "DBAL 3.1: Array parameter conversion does not work with long SQL queries"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.1.3

#### Summary

Expanding an array parameter fails when a SQL query is too long.

#### Current behaviour

[code]

#### How to reproduce

[code]

#### Expected behaviour

The query should have returned a result (as it did in DBAL 2)

The culprit is https://github.com/doctrine/dbal/blob/96b0053775a544

[2021-11-10 12:30] allan-simon commented on #5614
is it  https://github.com/doctrine/dbal/blob/a55eb4849b03c0c760535446cc126534e8c8c964/lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php#L985-L995  that should be overrided in this class https://github.com/doctrine/dbal/blob/a55eb4849b03c0c760535446cc126534e8c8c964/lib/Doctrine/DBAL/Platforms/PostgreSQL100Platform.php

by something like

[code]

?

[2021-11-10 17:51] gregor-tb opened #4981 "Changing precision/scale value has no effect in schema comparison when not extendend from DecimalType"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.3

#### Summary

We have a custom "money_value" type, to set decimal with predefined values for precision + scale like `numeric(10,4)`. This works on first migration, but changes (e.g. to 11,4) are not recognized.

The type class looks like this:

[code]

This should do it, SQL declaration returns `nu

[2021-11-11 09:41] greg0ire commented on #5614
@allan-simon your proposal is something we probably should (and will?) do in the next major version of the DBAL, but in the current one, the expected result is `SERIAL` (as documented)

[2021-11-11 15:23] gregor-tb opened #4983 "Adding Custom Type after doctrineTypeComments member was touched results in missing comments on schema"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.3

#### Summary

Adding Types does not reset or extend AbstractPlatform::$doctrineTypeComments.

So if the "cache" is already built, the Schema does not add the comment of the just added (or overwritten) type in some cases, because `isCommentedDoctrineType` returns false.

Removing the `if ($this->doc

[2021-11-11 17:50] allan-simon commented on #5614
@greg0ire ,  ok if it's planned on doctrine's core team side , then I should wait :)

[2021-11-11 19:14] greg0ire commented on #5614
Related: https://github.com/doctrine/dbal/issues/4744

[2021-11-12 16:03] eisberg commented on #4980
maybe it's a duplicate  #4907 ? This fixed!

@morozov   When is the  new release with patch 3.1.4 expected?

This is a very critical error

[2021-11-12 16:13] morozov commented on #4980
@eisberg it looks like a duplicate. We plan to release the patch next week.

[2021-11-12 17:26] AlexeyKosov commented on #4980
Yep, upgrading to `3.1.x-dev` fixes the issue so it's a duplicate.

[2021-11-12 17:26] #4980 closed, assigned to nobody

[2021-11-13 20:53] morozov commented on #4981
@gregor-tb please try reproducing your scenario on `3.2.x-dev`. The issue may have been fixed by https://github.com/doctrine/dbal/pull/4746.

[2021-11-14 20:57] #4971 closed, assigned to nobody

[2021-11-15 12:08] merouanekhalili opened #4993 "Case sensitive schema name is not trimed correctly on PostgreSQL DB"
### Bug Report

|    Q        |   A
|------------ | ------
| Version     | 3.1.3

#### Summary

The generate SQL keep the double quote if we have have a sensitive case schema name
https://github.com/doctrine/dbal/blob/fa2790107f1bfc3381b5b82eceaf7c71a2a19ea8/src/Platforms/PostgreSQL94Platform.php#L381

#### Current behaviour

The SQL statment return empty columns array when I try to get table deta

[2021-11-15 13:53] SylvainSimonGPA opened #4994 "OCI8 drivers notice on getServerVersion, "matches" is always undefined"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.1.3 (I upgraded from 2.13.5)

#### Summary

The driver fail on "Connection" class for Oracle database. I have a notice everywhere like this.

![image](https://user-images.githubusercontent.com/80474948/141792961-27038c3b-8730-4e83-89b4-519a2d86213a.png)

For sure, the matches array is always undefined

[2021-11-15 14:01] derrabus commented on #4994
And that's the solution. Depending on your php.ini settings, instructions inside an `assert()` might not be executed.

Do you want to provide a PR?

[2021-11-15 14:09] SylvainSimonGPA commented on #4994
Oh... i don't know what is this configuration, i'v a basic php setup on windows. I'v look the zend.assertions in my configuration, its -1 in production, i imagine its this that your talking.

So this is a real problem in doctrine/dbal ? I have never done PR on open-source projects yet haha I don't know if I would be able to :D

[2021-11-15 16:22] derrabus commented on #4994
Exactly. If you set this to `0` or `1`, your problem should be gone. But `-1` is the recommended production setting.

see https://www.php.net/manual/en/ini.core.php#ini.zend.assertions

No worries. Can you have a look at #4995? Is that what you did to fix the issue?

[2021-11-15 16:45] #4994 closed, assigned to nobody

[2021-11-16 20:34] mvorisek opened #4997 "`OracleSchemaManager::dropTable` does not drop AI sequence if AI trigger is not present"
### Bug Report

|    Q        |   A
|------------ | ------
| Version     | 3.1.4

#### Summary & Current behaviour

`OracleSchemaManager::dropTable` does not drop AI sequence if AI trigger is not present

#### How to reproduce

create Oracle table using standard Oracle DBAL schema/platform manager and drop created AI trigger - this state is present when table create or crop table did not complete

[2021-11-16 20:58] BigC commented on #4486
i have the same issue. any update?

[2021-11-16 22:34] morozov commented on #4486
@BigC all updates are above your comment.

[2021-11-17 17:15] 99hops commented on #4536
I would like to join here and suggest one more approach.
Here I override the datetime type to add support for precision

[code]

What bugs me I cannot set the default value in any way because the `getDefaultValueDeclarationSQL()` is in` AbstractPlatform` and thus adding DEFAULT {WHATEVER} where I wanted to put `default  (now() at time zone 'utc')`

So at the end it would be nice to be able to over

[2021-11-17 21:37] SenseException commented on #4536
The initial idea was an adaptation of the docs but it seems that this becomes more a feature idea.

[2021-11-19 00:54] morozov commented on #4997
Looks similar to https://github.com/doctrine/dbal/issues/4745. ~~Both behaviors seem intended but are in fact bugs.~~ No, this one is just a bug that the platform doesn't handle the failure of `DROP TRIGGER` if there's no trigger.

[2021-11-19 23:27] mvorisek opened #5002 "`fetchAllAssociative` does return wrong stream with Oracle with CLOB column"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.1.4

#### Summary

`fetchAllAssociative` is implemented in https://github.com/doctrine/dbal/blob/94fe5c7057e2c47bac8833e81aeb8691b7f27d05/src/Driver/FetchUtils.php#L53 by saving row by row into the resulting array

#### Current behaviour

once iterator moves to the next row, the previous stream provided

[2021-11-20 13:03] mondrake opened #5005 "Use gvenzl/oracle-xe in place of wnameless/oracle-xe-11g-r2 for Oracle testing"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

[gvenzl/oracle-xe](https://hub.docker.com/r/gvenzl/oracle-xe) provides support for Oracle 11, 18 and 21, and has instructions to implement in GH Actions. Oracle 12+ would remove the limit of 30 chars for identifier length.

[2021-11-20 22:03] #4178 closed

[2021-11-21 16:17] morozov commented on #5002
Which driver are you using? The `oci8` one uses `OCI_RETURN_LOBS`, so it should make the driver return the string instead of the descriptor.

Please make sure you provide an example of the code that reproduces the problem. As far as I can tell, neither `oci8` nor `pdo_oci` use `FetchUtils` to implement `fetchAllAssociative()`.

[2021-11-21 16:32] mvorisek commented on #5002
I use `pdo_oci`, this change in atk4/data framework fixed the issue: https://github.com/atk4/data/pull/922/commits/5e50ca6aae0f55b200434ad9c21b52ea3631bf37 , so the maybe `FetchUtils::fetchAllAssociative()` impl. is not called, but the impl. with `while` and "early stream to string materialization" helped.

[2021-11-21 18:46] #4941 closed, assigned to nobody

[2021-11-22 13:14] MichaelBelgium commented on #3714
This still occurs in v2.13.x in doctrine migrations.

[code]

[code]

[2021-11-22 20:25] 0xPaul opened #5018 "Add WITH clause (Common Table Expressions/CTE) support to SQL Query Builder"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

[code]

#### References
* https://www.postgresql.org/docs/13/queries-with.html
* https://dev.mysql.com/doc/refman/8.0/en/with.html
* https://mariadb.com/kb/en/with/

[2021-11-23 07:11] morozov commented on #5002
It does look related to the `pdo_oci` bug:
[code]
In general, it's a bad idea to read multiple LOB streams into a string since it can use an unpredictable amount of memory. It's even worse that the DBAL does that implicitly and by default in the `oci8` driver.

At the same time, AFAIK, unlike PostgreSQL, the Oracle driver cannot maintain multiple LOB streams from the same result.

[2021-11-24 02:10] morozov commented on #5018
`WITH` seems to be a special case of a sub-query from the building/syntax standpoint. Linking https://github.com/doctrine/dbal/issues/2305 for reference.

[2021-11-24 20:49] greg0ire commented on #2841
In light of the need to have so-called parameterized types, this seems wrong. If we are going that way, the type registry should look more like a PSR-11 container (which it does already). FQCNs could still be used to identify types _by default_, but one should be able to have a type called `Doctrine\DBAL\Types\Enum.Country`.

[2021-11-24 21:20] Ocramius commented on #2841
TBH, just register `My\Enum\Type\Country`, or `My\Enum\Type<My\Domain\Thing\Country>`.

EDIT: to be clear, being able to have a `class-string<DBALType>` would already help some validation a lot, especially in attributes.

[2021-11-24 21:28] greg0ire commented on #2841
Oh yes, that second one sounds like a great idea, it would make it easier for static analysis tools to get make sense of the output of the type registry! So `Doctrine\DBAL\Types\Enum<MyProject\Country>`

[2021-11-24 21:42] Ocramius commented on #2841
Right, so:

[code]

therefore you would register it as `MyCountryEnum::class` :D

[2021-11-24 21:48] greg0ire commented on #2841
Ah sorry, I should have made it a bit more obvious that I was referring to PHP 8 enums

It would look more like this:

[code]

Then you'd be able to register `Doctrine\DBAL\Types\Enum<MyProject\Country>` without at any point creating a custom DBAL type that would know need to explicitly reference your enum. More on this at https://github.com/doctrine/dbal/pull/4930#issuecomment-953059917

[2021-11-25 16:40] morozov commented on #3690
It shouldn't be prevented. Not all integers fit into the PHP's `int` type on all platforms.

[2021-11-25 16:40] #3690 closed

[2021-11-26 09:25] Ocramius commented on #2841
IMO just subclass and provide `@template-extends`: reduces the problem, and you can use `class-string<DBALType>` directly, removing the whole custom naming problem.

I just had an exact problem around custom names today:

[code]

Then proceed to have `"some_custom_thing"` mean different things depending on how your system is bootstrapped: total mess.

Better:

[code]

This removes ambiguity, and a

[2021-11-26 10:38] UlrichThomasGabor opened #5025 "Prevent iterating `Result` -- or make it work"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature |
| RFC         |
| BC Break    |

#### Summary

From what I see in [documentation](https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/data-retrieval-and-manipulation.html#data-retrieval) and [code](https://github.com/doctrine/dbal/blob/3.1.x/src/Result.php) a `Result`-object cannot be used like

[2021-11-26 11:39] derrabus commented on #5025
Okay, the main problem here is that something like this works in PHP:

[code]

https://3v4l.org/pImFj

Should we really compensate for one of PHP's… unfortunate design decisions?

I'm almost certain that your variant 1 is a bad idea. We would prevent iteration all right, but at the same time we would actively indicate that the result object _is_ `iterable`. It would suddenly pass `iterable`  and `

[2021-11-26 11:58] greg0ire commented on #2841
If I have 10 enums, won't that mean 10 classes with very similar code? Won't that get old real fast?

Make sure you write your memoir someday :smile:

Well maybe this could be considered. We're not far from it:

https://github.com/doctrine/dbal/blob/187916074db413f4a070a721c9d30b420a9135dd/src/Types/TypeRegistry.php#L59-L65

https://github.com/doctrine/dbal/blob/187916074db413f4a070a721c9d30b420a9

[2021-11-26 11:59] Ocramius commented on #2841
No, usually just a class with no body suffices:

[code]

[2021-11-26 12:12] greg0ire commented on #2841
Ok, so the code resides in `SomeEnumType`… how does that code figure out that when it reads `DE` in the database, it needs to return `Country::DE`? Would it read it from the annotation/attribute somehow?

[2021-11-26 12:12] UlrichThomasGabor commented on #5025
Since this is a library for PHP, it has to live with what the language brings in. This includes that objects are iterable by default and that PDO statements are iterable as well, which leads to certain assumptions using this DBAL.

Regarding Variant 1: I share your concerns regarding implementing `Traversable`, fulfilling corresponding checks with `instanceof`, but then not implementing it.

Regar

[2021-11-26 12:13] Ocramius commented on #2841
Good point - indeed need to configure an enum reference or such :thinking:

Probably:

[code]

[2021-11-26 12:18] greg0ire commented on #2841
Yes, and we're back to square one: types cannot be parameterized yet. Maybe I should open another RFC just for that.

[2021-11-26 12:19] Ocramius commented on #2841
@greg0ire that is parametrized? `MyCountryEnumType::class` is a `class-string<SomeEnumType<T of Enum>>`

[2021-11-26 12:21] greg0ire commented on #2841
No I meant `SomeEnumType`, but indeed `MyCountryEnumType` would work, and having an `abstract SomeEnumType` laying around would not hurt I suppose… there would be no need to register it.

[2021-11-26 14:33] I-Valchev opened #5026 "How to get driver version in dbal 3.x"
Hey! I'm trying to get the driver name, client version and server version of a connection. In dbal 2.x, this used to be possible  as used here:

https://github.com/bolt/core/blob/master/src/Doctrine/Version.php#L29-L48

But, since the deprecation of PDOConnection, that no longer works. What's the proper way of making this work with 3.x?

Thanks!

[2021-11-26 15:51] greg0ire commented on #5026
You can use use `PDO\Connection::getWrappedConnection()` to get a `PDO` instance. So `$connection->getWrappedConnection()->getWrappedConnection()`

But be wary of https://github.com/doctrine/dbal/pull/4966

[2021-11-26 16:09] morozov commented on #5025
I agree with what @derrabus said. Closing.

[2021-11-26 16:09] #5025 closed, assigned to nobody

[2021-11-26 16:13] bobdenotter commented on #5026
![giphy](https://user-images.githubusercontent.com/1833361/143607910-18cbcfa8-d8cd-46d3-8696-fabcb96e3fc4.gif)

[2021-11-26 16:15] bobdenotter commented on #5026
That sounds.. fragile at best.

Is there another recommended way to get the driver name / client version, that we might not be aware of?

[2021-11-26 16:23] morozov commented on #5026
What is the use case where you need the client version and what is it in the context of the DBAL?

[2021-11-26 17:03] kadet1090 commented on #2841
This will still require us to write another (even if simple) class for every enum. That classes would be really repetitive, boring and provide no real value except from being workaround for not supporting type parametrization in DBAL / Doctrine as a whole.

Not to mention that this solution would be only really viable for cases when one parameter is required, like with enums. If for example I woul

[2021-11-26 17:14] Ocramius commented on #2841
The type is parametrized: you register an actual instance of it. As for repetition: it's still a degree safer than what we had before, which is a registry of strings of unknown shape => shape is now known and well defined.

If the flyweight pattern is to be perpetuated around DBAL types, then there's no solution in sight for that anyway.

[2021-11-26 17:35] greg0ire commented on #2841
I wonder how important it is to perpetuate that pattern.

[2021-11-26 17:42] Ocramius commented on #2841
Probably not much, since PHP's memory usage is not such a huge problem as per PHP 7.0 (and this stuff was designed for 5.2.x and then 5.3.x).

The breakage would be ginormous, but having the `TypeRegistry` as runtime instance rather than singleton would suffice.

That opens the door for people to provide their own `TypeRegistry`, with blackjack and decorators.

[2021-11-26 22:09] derrabus commented on #5025
Well, if you try to iterate over a non-traversable object without public properties, you will basically iterate over an empty set. That does not sound harmful to me.

Well: https://psalm.dev/r/113c1de22f

You're basically asking us to take back a deliberate design descision that we've made when decoupling DBAL from PDO.

I'm really not convinced that we should do that. I'm really sorry that the be

[2021-11-27 07:45] UlrichThomasGabor commented on #5025
I would say that this is undesirable at all for "normal" objects, but that is something to discuss/change on language level not here.

In the context of PHP and PDO we have a language which allows to iterate over variables, and we have a similar official library, which allows to iterate over the result set. As I said, this wakes assumptions, which one might try and which are silently ignored here.

[2021-11-27 09:54] greg0ire commented on #5026
![Screenshot 2021-11-27 at 10-37-24 core Version php at master · bolt core](https://user-images.githubusercontent.com/657779/143676036-e0edcfaa-5e74-4691-8837-1bcaa3e04a40.png)

The 2 first seem to be about giving info about the current installation in CLI or via HTTP (hopefully the latter one is only available on the dev env, otherwise it's a security issue). That should be obtained form applicat

[2021-11-27 11:05] greg0ire commented on #2841
@Ocramius @morozov @derrabus please have a look at https://github.com/doctrine/dbal/pull/5034 for an evaluation of said breakage. You will probably have better ideas than I did.

[2021-11-27 11:14] greg0ire commented on #2841
@Ocramius it's unclear to me how having the `TypeRegistry` as a runtime instance would get us rid of the flyweight pattern though… lifting that restriction seems like it would just require changing `Type::addType` / drop `Type::__construct()` and change `TypeRegistry::register()` to not throw when a type is already registered. Or did you mean that people would implement a `TypeRegistry` without th

[2021-11-27 13:30] bobdenotter commented on #5026
You have to be logged in as a user with administration privileges to see this, yes.

If you have suggestions on how we could do these things better in a platform-agnostic way, we're all ears 😇

[2021-11-27 14:27] greg0ire commented on #5026
I don't, sorry, but you could migrate to `instanceof` checks (a bit like you already did in https://github.com/bolt/core/blob/3f4c636e9f3855327d97988a7a9bc5cec812bf9c/src/Doctrine/Version.php#L69-L71). That way you don't need to unwrap the connection.

[2021-11-27 15:55] derrabus commented on #5025
We don't agree with several design decisions of PDO which is one of the reasons why DBAL has been decoupled from the PDO interfaces in 3.0.

I'm not sure if I'm seeing a different output than you, but Psalm clearly reports an error. A project that uses Psalm would actively need to suppress that error. Your interpretation of the output might be… different than mine, but we agree that static analysi

[2021-11-27 15:58] morozov commented on #5026
I see that there has been a lot of information exchange on how to make the code work the same as it used to with 2.x but I still don't understand what problem you're trying to solve. Let's pause a little bit and discuss the problem, please.

[2021-11-28 10:42] UlrichThomasGabor commented on #5025
I understand this goal and I think the separation is good, but it is only part of what came up here.

The main question I still have is: Why is a class, whose main purpose is to provide a collection of data, not iterable? This has only to do with PDO as far as it is one example of a library, which provides a default for an iterator.

Being iterable or returning directly an array is [just](https://

[2021-11-28 11:25] derrabus commented on #5025
I have answered that question already. Besides, you're free to use PDO or Illuminate Database if that suits you better.

Symfony is not involved here, as far as I can tell.

Fine, but to Psalm it is exactly that: an error. Let me give you a hand here.

<img width="999" alt="Bildschirmfoto 2021-11-28 um 12 17 37" src="https://user-images.githubusercontent.com/1506493/143765691-b2393352-93fe-41cc-b6

[2021-11-28 14:40] bobdenotter commented on #5026
@morozov We're tyring to get details about the current connection. We do this for two reasons:

 - Either so we can output some information to the user, to potentially help troubleshoot
 - or to be able to do different things, depending on whether we're currently using SQLite, Postgres or MySQL

[2021-11-28 16:22] morozov commented on #5026
@bobdenotter could you be more specific? For instance, you know that the user uses a PDO MySQL driver version x.y.z. How do you use this information? How is it different than if they were using version a.b.c?

[2021-11-28 16:32] mvorisek opened #5046 "Sqlite does support schemas, current schema is always `'main'`"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.0

#### Summary

Sqlite does support schemas. The main schema is named `'main'`.

demo: http://sqlfiddle.com/#!5/2174f5/3

#### Current behaviour

`SqlitePlatform::getCurrentDatabaseExpression` return an empty SQL literal (`''`).

empty schema is not even valid http://sqlfiddle.com/#!5/2174f5/8

####

[2021-11-28 17:47] aimeos opened #5048 "Oracle Platform falsly drops NOT NULL constraints for ID columns"
### Bug Report

|    Q        |   A
|------------ | ------
| Version     | 3.1.5+

#### Summary

Oracle platform class falsly removes `NOT NULL` from columns with sequences.

First run:
[code]
Second run with existing table:
[code]

The falsy code seems to be a wrong workaround because the `autoincrement` flag is missing when retrieving an existing table schema. Oracle does use sequences instead b

[2021-11-29 08:12] bobdenotter commented on #5026
@morozov Bolt is a CMS, so our _users_ are not always that tech savvy.

Being able to ask them "Run `bin/console bolt:info` and paste the output" is a great help, often.

Also, even if the _user_ knows, that doesn't help in making a piece of functionality work that has a different syntax on different DB platforms.

[2021-11-29 09:32] derrabus commented on #5026
A library or application that uses DBAL for a unified database access still needs to produce SQL statements that the database it is connected to understands. While standard SQL works for many tasks just fine, there are situations where knowing the database vendor and server version is imperative for emitting the correct SQL statements.

DBAL internally uses the concept of platform classes to compe

[2021-11-29 12:13] greg0ire opened #5051 "Cache keys with reserved characters are no longer accepted"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.2.0

#### Summary

#### Previous behaviour

It was possible to use a cache key with a reserved character, such as `:`

#### Current behavior

An exception is thrown from https://github.com/doctrine/cache/blob/331b4d5dbaeab3827976273e9356b3b453c300ce/lib/Doctrine/Common/Cache/Psr6/CacheAdapter.php#

[2021-11-29 15:52] morozov commented on #5026
@derrabus are you answering me or the author of the issue? How is the SQL portability related to the driver version?

I don't see a problem in introducing an API for that, I'm asking how it's expected to be used and what data it should return.

@bobdenotter I haven't gotten an answer to my question, so I cannot help you. BTW, you can get access to the underlying PDO connection via `Connection::get

[2021-11-29 16:15] derrabus commented on #5026
I'm throwing in my thoughts on topic. 🙂

It isn't. You need database engine and server version for this and this is part of what is being queried in the code snippet the OP shared. Getting the server version is also becoming harder if we deprecate `getWrappedConnection()`.

I have no strong opinions on the driver version, really. `getNativeConnection()` might already be the answer here.

[2021-11-29 18:59] alexander-schranz commented on #3202
I did stumble over this today. As I think it could be a bc break changing:

https://github.com/doctrine/dbal/blob/ebd986b6e4f205b54cc27f5d5ba0323d84fa29b1/src/Platforms/MariaDb1027Platform.php#L20-L23

from `LONGTEXT` to `JSON` I think maybe it would be possible to add an additional options to teh DSN e.g.: `&nativeJson=true` or something and then use `JSON` instead of `LONGTEXT`.

[2021-11-29 19:58] morozov commented on #5051
While technically it is a BC break, I'd look more into the reasoning behind PSR-6 allowing its implementors not to support the special characters. It would be close to trivial to encode them but there may be reasons not to do that.

Personally, I never understood this limitation but now it might be a good time to understand it better.

[2021-11-30 11:56] alexander-schranz commented on #3202
Seems like this was changed in https://github.com/doctrine/dbal/pull/2825 but I'm not understanding why not let MariaDB handle this?

[2021-11-30 12:20] greg0ire commented on #5051
From https://www.php-fig.org/psr/psr-6 :

Apparently, special functionality might kick in if you use those (once such extensions are added to the standard).

There isn't much more detail over here: https://github.com/php-fig/fig-standards/pull/786 or in the google group.

[2021-11-30 16:07] ThomasLandauer opened #5054 "Support PHP 8.1 Backed Enum's (casting to string or int)"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes https://www.php.net/manual/language.enumerations.php
| BC Break    | no

#### Summary

Symfony 5.4 supports an `EnumType` Field in its forms: https://symfony.com/doc/5.4/reference/forms/types/enum.html It would be nice to be able to map this to an entity as-is. Right now, you need to manually tr

[2021-11-30 16:21] derrabus commented on #5054
Duplicate of doctrine/orm#9021

[2021-11-30 16:22] #5054 closed, assigned to nobody

[2021-11-30 18:18] morozov commented on #5051
Encoding logic into values using reserved characters looks like… SQL? With all the possibilities for logic injections and thus the need for sanitization and then an API like prepared statements to avoid those? It looks like we've already been there.

Personally, I would rather document it as a minor BC break rather than try fixing something that won't work with the PSR-6 implementations anyways.

[2021-11-30 22:26] greg0ire commented on #5054
Relates to #5036

[2021-12-01 21:09] #5051 closed, assigned to nobody

[2021-12-02 21:28] derrabus opened #5076 "Move CLI tools into a separate package"
I'm moving this discussion into a separate issue to make it more visible and split it from the code review of #5070.

Original comment by @morozov:

_Originally posted by @morozov in https://github.com/doctrine/dbal/issues/5070#issuecomment-984909353_

Comment by @greg0ire:

_Originally posted by @greg0ire in https://github.com/doctrine/dbal/pull/5070#issuecomment-984999623_

[2021-12-02 22:17] morozov commented on #5076
Personally, I haven't used these commands a single time except for the cases when I had to modify their code. I would be fine with just deprecating them. If we extract the CLI to a separate package, I will have no interest in maintaining it.

The only significant contribution in the recent past I recall was https://github.com/doctrine/dbal/pull/3956. It shows that some people may be interested in

[2021-12-02 22:23] derrabus commented on #5076
There are certainly more convenient tools to run a query. Compared to dedicated clients, this command looks like a toy. If I wanted a sophisticated UI, PhpStorm/DataGrip is the better choice. If wanted a CLI, my database vendor probably provides one that is better integrated and way more capable than our command.

I usually use the DBAL inside Symfony applications. Here, the DBAL and ORM commands

[2021-12-02 22:57] #4983 closed, assigned to nobody

[2021-12-03 01:58] morozov commented on #5076
Does this functionality depend on the tools provided by the DBAL package (i.e. `bin/doctrine-dbal` and `src/Tools`) or there an independent implementation?

I'd love to see it done this way. Unless somebody expresses their interest in maintaining the new package, it will be abandoned since its inception.

[2021-12-03 20:07] morozov commented on #5076
@derrabus if you could document the code snippet you have in mind (as you're the one who has at least some experience using them), we could deprecate this functionality.

[2021-12-03 20:31] derrabus commented on #5076
Will do.

[2021-12-03 21:46] morozov opened #5082 "Deprecate and remove Graphviz visitor"
The reasons are:
1. This code requires maintenance but doesn't have any automated code coverage which requires testing it manually.
2. The last significant change this code received was 10 years ago (https://github.com/doctrine/dbal/commit/bb8449611aff69b66a8f024189dccfb96634ee01). It's unlikely that this code is perfect. More likely is that nobody uses it.
3. It's not used in any production scena

[2021-12-03 22:30] #5082 closed, assigned to nobody

[2021-12-03 23:27] stof commented on #5076
@morozov DoctrineBundle depends on the Command classes in the `Tools` namespace, but not on the `bin/doctrine-dbal` file (it registers the commands to expose them through `bin/console` of the Symfony project.

I admit that in 10 years, I have never used any of these 2 DBAL commands (the ORM commands are a different matter)

[2021-12-03 23:28] stof commented on #5026
for that, the right approach is to check the database platform, not the wrapped connection

[2021-12-06 09:54] mondrake opened #5091 "Implement Oracle Identity Column"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | ?
| BC Break    | ?

#### Summary

Oracle 12c introduced a new way that allows you to define an identity column for a table, which is similar to the AUTO_INCREMENT column in MySQL or IDENTITY column in SQL Server.

https://www.oracletutorial.com/oracle-basics/oracle-identity-column/

DBAL is current

[2021-12-06 18:53] morozov commented on #5091
It looks like a duplicate of https://github.com/doctrine/dbal/issues/4744.

[2021-12-06 18:55] mondrake commented on #5091
Indeed.

[2021-12-06 18:55] #5091 closed, assigned to nobody

[2021-12-06 20:55] greg0ire commented on #3202
@alexander-schranz I think a platform option would be more appropriate. See for instance https://github.com/doctrine/dbal/blob/2aec3f8da5f601462162d9b90d013554b240292b/src/Platforms/PostgreSQLPlatform.php#L1217-L1224

Maybe it was simply overlooked?

[2021-12-07 08:58] greg0ire commented on #3635
@morozov can you please elaborate on this? We could have a configuration option turning it on on 3.0.x, that way people can adapt their code and pass unquoted identifiers everywhere.

[2021-12-07 10:24] alexander-schranz commented on #3202
Not sure 🙈. @lcobucci Do you remember why the JSON type was changed to TEXT again in: https://github.com/doctrine/dbal/pull/2825#issue-253126409?

[2021-12-07 10:48] lcobucci commented on #3202
It's been a while but it was to reflect the reality (JSON is just an alias): https://mariadb.com/kb/en/json-data-type/
**I think ** that tests were failing and we removed things from the PR to unblock things. But, again, it's been a while.

I'd advise to send a PR proposing a fix and see what happens on the suite now.

[2021-12-07 17:34] morozov commented on #3635
My above comment is a bit outdated as of https://github.com/doctrine/dbal/issues/4772. The API consumer should be specific about whether the identifier should be quoted or not. The DBAL internally will quote all identifiers regardless of their case and them being a keyword.

I don't think it's a good idea to have code semantics driven by runtime configuration. If that's implemented, you won't be a

[2021-12-08 00:42] #5005 closed, assigned to nobody

[2021-12-08 20:03] morozov commented on #2374
Closing as irrelevant as of https://github.com/doctrine/dbal/pull/3756. All the queries in the description work as expected in `3.0.0`.

[2021-12-09 05:19] rela589n commented on #3448
Will this issue proceed any further? Seems there's not that much activity here.

[2021-12-10 16:25] pancheke commented on #2409
For people coming here from Google trying to setup CI/CD pipelines that don't care about creating connections:

You can set the driver to 'pdo_sqlite' and 'memory' to true in order to create a non-persistent DB connection, which requires no further configuration and doesn't create any files.

Example (cli-config.php):
[code]

Relevent docs: https://www.doctrine-project.org/projects/doctrine-dbal/e

[2021-12-10 17:07] morozov commented on #3202
To @lcobucci's point, given the behavior documented in https://github.com/doctrine/dbal/pull/5100#discussion_r764557358, I'd say that MariaDB 10.3 does _not_ natively support JSON. And assuming their [reasoning](https://mariadb.com/kb/en/json-data-type/):

It won't support it in the near future.

There is a possibility to improve JSON support in MariaDB by adding `CHECK (JSON_VALID())` to the colu

[2021-12-10 17:10] alexander-schranz commented on #3202
@morozov they support it in there way by having a JSON alias to LONGTEXT and JSON fields automatically gets a `CHECK (JSON_VALID(j))` to them. So I think doctrine/dbal should use the `JSON` here and not map it themselves to LONGTEXT which would not add the `JSON_VALID` check. So I think we should define it just as `JSON` here in dbal and let MariaDB do they work for us.

[2021-12-10 18:19] wnunezc opened #5105 "Can someone recommend me a tool to design a database (mysql) and then take them to Doctrine (generate the scripting or the command line) ???"
Can someone recommend me a tool to design a database (mysql) and then take them to Doctrine (generate the scripting or the command line) ???

[2021-12-11 01:34] morozov commented on #3202
It doesn't look like they do, nor that it's stated in the documentation:
[code]
The DBAL would have to add this check automatically and then check if it exists during the introspection.

[2021-12-12 17:46] morozov commented on #5105
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or in one of the channels mentioned on our [Community](https://www.doctrine-project.org/community/index.html) page.

[2021-12-12 17:46] #5105 closed, assigned to nobody

[2021-12-12 17:54] morozov commented on #1161
Irrelevant as of https://github.com/doctrine/dbal/pull/3241.

[2021-12-12 17:54] #1161 closed

[2021-12-12 17:59] morozov commented on #1159
Closing as the issue doesn't have a practical implication so far.

[2021-12-12 17:59] #1159 closed

[2021-12-12 18:02] morozov commented on #1177
Fixed by https://github.com/doctrine/dbal/pull/2670.

[2021-12-12 18:02] #1177 closed

[2021-12-12 18:05] morozov commented on #1175
The use case is similar to https://github.com/doctrine/dbal/issues/2411. Closing. Please feel free to reopen if the issue still exists.

[2021-12-12 18:05] #1175 closed

[2021-12-12 18:11] morozov commented on #3177
@hackzilla could you provide more details of the schema you're trying to manage? Specifically,
1. Where does the `uuid` type come from?
2. How is the issue related to indices?
3. How is the `my-table` table related to the `project`?

[2021-12-12 18:13] morozov commented on #3172
Should be addressed by https://github.com/doctrine/dbal/pull/2960.

[2021-12-12 18:13] #3172 closed

[2021-12-12 18:18] morozov commented on #2923
Closing as most of the issues are being worked individually and this specific one hasn't been used since the time of filing.

[2021-12-12 18:18] #2923 closed

[2021-12-12 18:24] morozov commented on #2993
Should be fixed by https://github.com/doctrine/dbal/pull/4106.

[2021-12-12 18:24] #2993 closed

[2021-12-12 18:27] morozov commented on #3168
It's not really a bug but rather a poorly designed API. Fixing it at this point would be a BC break. Feel free to PR, if interested.

[2021-12-12 18:27] #3168 closed

[2021-12-12 20:46] morozov commented on #3534
Linking https://github.com/doctrine/dbal/pull/5037 as an example of the same requirement implemented for connections.

[2021-12-12 20:58] morozov commented on #3918
The reproducer:
[code]

[2021-12-12 21:04] #2332 closed

[2021-12-12 21:15] morozov commented on #2467
Closing as not reproducible:
[code]
Must have been fixed by https://github.com/doctrine/dbal/pull/2634.

[2021-12-12 21:15] #2467 closed

[2021-12-12 21:40] morozov commented on #2505
Should have been fixed by https://github.com/doctrine/dbal/pull/4106.

[2021-12-12 21:40] #2505 closed

[2021-12-12 21:43] morozov commented on #2523
This should have been fixed by https://github.com/doctrine/dbal/pull/4387.

[2021-12-12 21:43] #2523 closed

[2021-12-12 21:43] #2693 closed

[2021-12-12 21:44] #2339 closed

[2021-12-12 21:45] morozov commented on #2693
The primary/replica connection feature hasn't received any maintenance in the past years. This feature is unlikely to be implemented.

[2021-12-12 21:45] morozov commented on #2339
The primary/replica connection feature hasn't received any maintenance in the past years. This feature is unlikely to be implemented.

[2021-12-12 22:20] morozov commented on #3220
Cannot reproduce this on 2.13.x:
[code]

[2021-12-12 22:20] #3220 closed

[2021-12-12 22:35] morozov commented on #3329
Closing as stale. There is already a query builder component.

[2021-12-12 22:35] #3329 closed

[2021-12-12 22:39] morozov commented on #3647
Closing based on this.

[2021-12-12 22:39] #3647 closed

[2021-12-12 22:41] morozov commented on #3856
~~What prevents adding the `UPDATE` before the single `ALTER TABLE`?~~ I see, it's a new column. This is quite a specific case that needs to be addressed on the application side anyways. At this point, it's possible to just find and replace the DDL with what's needed.

[2021-12-12 22:43] #3856 closed

[2021-12-12 22:44] morozov commented on #3875
The primary/replica connection feature hasn't received any maintenance in the past years. This feature is unlikely to be implemented.

[2021-12-12 22:44] #3875 closed

[2021-12-12 22:49] morozov commented on #3813
Closing as a duplicate of https://github.com/doctrine/dbal/issues/3714.

[2021-12-12 22:49] #3813 closed

[2021-12-12 22:51] morozov commented on #3922
Should be fixed by https://github.com/doctrine/dbal/pull/4928.

[2021-12-12 22:51] #3922 closed

[2021-12-12 22:51] morozov commented on #3938
The primary/replica connection feature hasn't received any maintenance in the past years. This feature is unlikely to be implemented.

[2021-12-12 22:51] #3938 closed

[2021-12-12 22:54] morozov commented on #4102
According to the [SQL Server 2019 documentation](https://docs.microsoft.com/en-us/sql/relational-databases/json/store-json-documents-in-sql-tables?view=sql-server-ver15),

There doesn't seem to be any other column type for JSON.

[2021-12-12 22:54] #4102 closed

[2021-12-12 22:56] morozov commented on #4104
Closing based on https://github.com/doctrine/dbal/pull/4103#issuecomment-658021097.

[2021-12-12 22:56] #4104 closed

[2021-12-12 22:56] morozov commented on #4418
Closing as stale.

[2021-12-12 22:56] #4418 closed

[2021-12-12 22:59] morozov commented on #4845
It looks like this issue duplicates https://github.com/doctrine/dbal/issues/4983 and was fixed by https://github.com/doctrine/dbal/pull/5077,

@Mediagone, please check on `3.2.x-dev`.

[2021-12-12 23:00] morozov commented on #4388
Should be fixed by https://github.com/doctrine/dbal/pull/4855.

[2021-12-12 23:00] #4388 closed

[2021-12-12 23:03] morozov commented on #4404
This will be fixed in 4.0.0 by https://github.com/doctrine/dbal/pull/4644.

[2021-12-12 23:03] #4404 closed

[2021-12-13 13:43] stof commented on #3534
Note that with the split of Statement and  Result in the DBAL 3.x API, we would need this on the Result object (accessing `PDOStatement::getColumnMeta` makes sense when dealing with a result). I'm not sure whether there is a use case for accessing the native statement from the DBAL Statement object (at least for PDO, the methods of PDOStatement that are not exposed through the DBAL API are all rel

[2021-12-15 09:46] azjezz opened #5117 "[RFC] connection pool, and non-blocking async drivers"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

The RFC propose introducing 2 new features into doctrine dbal, the first is async drivers, and the second is connection pool.

---

#### Async driver

with the arrival of PHP 8.1, and Fibers, async database drivers don't need to use promises, while means that im

[2021-12-16 19:22] morozov commented on #5117
@azjezz thanks for the proposal. My reservation is that asynchronous APIs are still quite exotic in PHP, so maintaining such a driver may require significant involvement from the core team while the level of its adoption by the community will be relatively low.

As far as I understand, an asynchronous driver can be implemented without the need to change any DBAL APIs. In this case, why does the dr

[2021-12-16 20:02] mrardon opened #5125 "Foreign keys still created after preventDefault invoked for onSchemaCreateTable events"
### Bug Report

When trying to prevent a table from being created by calling `$event->preventDefault()` in a listener for `Events::onSchemaCreateTable` the create table statements are not present but any foreign key statements those tables would have needed are still generated. If those queries are run there is then a "table not found" result when running the foreign key statements..

|    Q

[2021-12-17 10:35] azjezz commented on #5117
Having a connection pool doesn't make any sense with a blocking driver, so IMO, adding a new interface ( e.g: `NonBlockingDriverInterface extends DriverInterface` ) that doesn't actually declare any methods would help combat issues people might encounter.

doctrine can just declare interfaces for connection pool, and non blocking drivers, and let the community implement them, but doctrine also nee

[2021-12-17 17:06] morozov commented on #5117
I don't think it's a good idea. It would be better if such an API was maintained outside of the core library.

[2021-12-19 05:02] TimurFlush opened #5130 "PDO\Exception doesn't handle driver-specific error code being NULL"
### Bug Report

|    Q        |   A
|------------ | ------
| Version     | 3.3.0

When a PDO error occurs, the ::errorInfo() method returns the internal error code of the internal PDO driver.
This error then goes into the Doctrine\Dbal\Driver\Pdo\Exception class, which converts the information from PDO::errorInfo() into a Doctrine exception.
What Doctrine means is that PDO::errorInfo() always retu

[2021-12-19 06:06] morozov commented on #5130
@TimurFlush please provide the steps to reproduce the issue.

[2021-12-19 17:50] Mediagone commented on #4845
Indeed, the bug seems to be solved in `3.2.x-dev` and SQL comments to be correctly added 👍

[2021-12-19 21:03] #4845 closed, assigned to nobody

[2021-12-19 21:33] TimurFlush commented on #5130
I'm lazy
This happens when doctrine encounters an unexpected parameter during executeQuery()

p.s. php 8 & postgresql 13

[2021-12-19 21:34] morozov commented on #5130
Closing as cannot reproduce.

[2021-12-20 11:37] jpgerdeman opened #5133 "sqlite: reading schema information causes error"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.2.0

#### Summary

Loading fixtures into a sqlite database causes an error, as sqlite schema is being inspected.

- PHP Version: 7.4.25
- Doctrine DBAL: 3.2.0
- OS: epcentos7

sqlite extension is loaded.
[code]

#### Current behaviour

When trying to load a fixture into a sqlite database following erro

[2021-12-20 13:17] Jeroeny opened #5134 "PDOStatement::bindParam: Passing null to parameter $maxLength is deprecated"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.0

#### Summary

When running `doctrine/dbal` `3.2.0` in **PHP 8.1**, a deprecation warning is thrown:

#### Current behaviour

A deprecation warning is thrown.

#### How to reproduce

By using the `Doctrine\DBAL\Driver\PDO\Statement::bindParam()` method.

#### Expected behaviour

I don't know if it's

[2021-12-20 13:18] delorie opened #5135 "Question: Add additional SQL to default create SQLs"
Hello :)

I have a question, we use a Postgres with the TimescaleDB extension.

Here, the "HyperTables" are created separately by the SQL command `create_hypertable`.
We wanted to do this with the help of onSchemaCreateTable.

[code]

Result: SELECT create_hypertable('timescale_energy_counter', 'time')

But this SQL does not come with the DIFF-File.
Only when "$event->preventDefault()" is called b

[2021-12-20 16:17] morozov commented on #5135
I believe the idea here is that either you rely on the DBAL to build the schema or take over and do it yourself.

In my personal opinion, the event-based platform extension API was a poor design choice and should be avoided (more details in https://github.com/doctrine/dbal/pull/5126#discussion_r771009371).

In this specific case, it may work if you use a custom platform class and override the beha

[2021-12-21 13:59] eisberg opened #5137 "Error "JIT stack limit exhausted" in big queries"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.0

#### Summary

When executing big DDL/SQL queries, the error "JIT stacklimit exhausted" occurs

Same problem reporting also here:
Issue: #4980
PR: #4927

Error trace:

[code]

#### How to reproduce

Example DQL:  [dql.txt](https://github.com/doctrine/dbal/files/7755677/dql.txt)

pseudo code:

[code]

[2021-12-21 16:00] morozov commented on #5134
I assume you're explicitly passing `NULL` to `bindParam()`, aren't you? For instance,
[code]

[2021-12-21 16:20] morozov commented on #5137
I can reproduce the issue locally. It looks like the current version of the regular expressions used by the parser still can take too many steps on queries like the one in the description ([ref](https://regex101.com/r/mALfF3/1)).

[2021-12-21 16:51] morozov commented on #5137
@eisberg please see if https://github.com/doctrine/dbal/pull/5138 works for you. It works for me with your query.

[2021-12-21 17:17] morozov commented on #5026
Closing as there's no understanding of what problem the requested feature is supposed to solve, nor how exactly it's expected to work. It is still possible to have the behavior of DBAL 2.x by using the native connection.

[2021-12-21 17:17] #5026 closed, assigned to nobody

[2021-12-21 17:21] morozov commented on #5133
@jpgerdeman could you attach your `test.db` or provide the steps to build it to reproduce the issue?

[2021-12-22 07:46] eisberg commented on #5137
Yes, it works fine with this fix!

[2021-12-22 20:08] bobdenotter commented on #5026
Sorry to read this issue is getting closed without resolution.. I'm not sure how i can explain any more clear what our usecase is.. :-/

[2021-12-22 22:35] morozov commented on #5026
@bobdenotter the resolution is not to implement any additional API in the DBAL. It is still possible to get the PDO-specific details of the connection via `Connection::getNativeConnection()` (#5037).

[2021-12-23 08:08] bobdenotter commented on #5026
@morozov Ah, thanks! That will be available when `3.3.0` is released, right?

[2021-12-23 10:49] delorie commented on #5135
Thank you :)

We have opted for the platform-variant.

like:
[code]

[2021-12-23 10:49] LocalHeroPro commented on #4200
[code]

That package is now EOL: https://github.com/composer/package-versions-deprecated#readme

[2021-12-23 10:51] #5135 closed, assigned to nobody

[2021-12-23 15:17] morozov commented on #5026
@bobdenotter yes, right.

[2021-12-23 16:56] morozov commented on #4200
The dependency on this package will be removed in 3.3.0. See https://github.com/doctrine/dbal/pull/5078.

[2021-12-23 17:37] #4854 closed, assigned to marulitua

[2021-12-23 23:25] #5137 closed, assigned to nobody

[2021-12-26 11:59] iarro opened #5144 "Nullable Custom Type breaks default value"
### Bug Report

The issue is happens in PostgreSQL platform when custom type (extend Doctrine\DBAL\Types\Type) is configured for nullable column. In that case, everytime the schema update is called, SQL contains invalid (and unnecessary) `DROP TABLE` clause.

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.0

#### Summary

#### Current behaviour

The update schema

[2021-12-27 13:40] Jeroeny commented on #5134
That's indeed what is happening. It occurred in `getsentry/sentry-symfony`, fixing it there: https://github.com/getsentry/sentry-symfony/pull/586

[2021-12-27 17:46] morozov commented on #5134
Reopening since this is still a bug.

[2021-12-28 15:37] #5134 closed, assigned to nobody

[2021-12-28 21:50] c-schinzer opened #5146 "Add support for CyberArk credentials lookup"
In my work context am facing a security constraint that requires to lookup the database connectivity and credentials from a CyberArk safe; passwords are rotated by an automated policy. I thought, the best was to implement a custom driver that does the lookup through HTTPClient from the CyberArk REST API and then injects the retrieved connection details (host, port, dbname) and credentials (user. p

[2021-12-29 15:54] derrabus commented on #5146
Maybe I'm underestimating the complexity of your problem, but DBAL allows you to set the password in `DriverManager::getConnection()` and does not care much about how you retrieve the password. You should not need to implement a custom driver for that.

I highly doubt it. I don't think that we will be able to maintain that solution of yours.

[2021-12-29 15:55] morozov commented on #5146
As far as I understand, CyberArk can be used to store database configuration and credentials which the DBAL already accepts via the driver configuration. Why does integration with a specific configuration provider should be part of the DBAL?

Since configuration is part of a stable public API of the DBAL, if the goal is to have such integration to be publicly available, it can be implemented as a

[2021-12-29 16:34] c-schinzer commented on #5146
Hello both,

first of all, thanks for getting back.
I do agree, CyberArk is a configuration provider, however if used properly,
the configuration information, esp. credentials, are to be configured to be
changes dynamically. So it is not a config store only, rather AT CONNECT
time credentials needs to be checked and updated if required (provided a
cache is configured to avoid plenty requests).

Sc

[2021-12-29 16:36] c-schinzer commented on #5146
Sorry, custom driver of course.

Am Mi., 29. Dez. 2021 um 17:33 Uhr schrieb Carsten Schinzer <
***@***.***>:

[2021-12-29 16:52] morozov commented on #5146
Then a custom driver is a way to go. See the logging driver for example: https://github.com/doctrine/dbal/blob/843483d1c7655c6ed12d12ea8063328461d94f45/src/Logging/Driver.php#L31-L42

This is where you can exchange the CyberArk credentials for the connection parameters.

[2021-12-29 18:03] c-schinzer commented on #5146
Thanks, I'll check it out.

---

Dr. Carsten Schinzer

*Inhaber*

t +49 89 88569642 | f +49 89 99964059 | m +49 159 05269462

DCS Verkaufssysteme

Gerner Str. 27 | 80638 München | Germany

Am Mi., 29. Dez. 2021 um 17:53 Uhr schrieb Sergei Morozov <
***@***.***>:

[2021-12-29 18:52] #5146 closed, assigned to nobody

[2021-12-30 09:54] hockdudu commented on #2323
Is there an update on this issue? The pull request #3262 was closed without being merged, but I don't quite understand why.

[2021-12-30 09:56] Ocramius commented on #2323
@hockdudu looks like the original author deleted their fork, hence why the PR was closed.

Send one **WITH** a test, and then it shall be considered.

[2021-12-30 10:48] filiplikavcan commented on #2841
Hi, I've created a PR which would allow to automatically register all child class (enum) type names by registering their parent class (enum) type name. Then it would be possible to implement one EnumType, register it for BackedEnum type name and it would be automatically used for any backed enum. See the example implementation here: https://github.com/doctrine/dbal/pull/5147

[2021-12-30 10:53] sanderdlm opened #5149 "SQLite strict mode support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

SQLite recently added support for [STRICT mode typing](https://www.sqlite.org/stricttables.html) in version 3.37.0. It would be nice to support the syntax in Doctrine. I could work on this myself but I'm not familiar with the codebase and would need some pointers

[2021-12-30 18:21] morozov commented on #4327
Not sure what to do about this. Closing.

[2021-12-30 18:21] #4327 closed

[2021-12-30 18:35] #2866 closed

[2021-12-30 18:36] #2697 closed

[2021-12-30 18:39] #2563 closed

[2021-12-30 18:39] #2548 closed

[2021-12-30 18:40] #2319 closed

[2021-12-30 18:40] #4249 closed

[2021-12-30 18:40] #4392 closed

[2021-12-30 18:41] #4427 closed

[2021-12-30 18:41] #4460 closed

[2021-12-30 18:41] #4486 closed, assigned to nobody

[2021-12-30 18:41] #4737 closed, assigned to nobody

[2021-12-30 18:42] #4479 closed

[2021-12-30 18:43] morozov commented on #5149
@dreadnip you'll have to be more specific on the pointers you need.

[2022-01-04 14:08] MatthiasKuehneEllerhold opened #5158 "Schema-Tool detects differences: null !== "NULL""
### BC Break Report

After the upgrade from`doctrine/dbal` 2.13.6 to 3.2.0 the schema tool constantly detects differences between the mapping and the database:
[code]

Debugging the `Doctrine\DBAL\Schema\Comparator` provides the clue:
- the `$fromColumn` has an attribute "default" with value `"NULL"`
- the `$toColumn` has an attribute "default" with value `null`

The comparator therefor finds a di

[2022-01-04 14:28] MatthiasKuehneEllerhold commented on #5158
The same happens with a datetime column with "current_timestamp()" as default-value.

- `$fromColumn` has value "current_timestamp()"
- `$toColumn` has value "CURRENT_TIMESTAMP"

[2022-01-04 14:41] MatthiasKuehneEllerhold commented on #5158
Same happens in branches 3.2.x and 3.3.x .

[2022-01-05 07:54] mesolaries opened #5160 "Extra comma in Postgresql driver connection code"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 3.2.x

#### Summary

There's an extra comma in PDO Postgresql driver connection code. Here's the current code and extra comma after `$driverOptions` parameter:
`
$pdo = new PDO(
                $this->constructPdoDsn($params),
                $params['user'] ?? '',
                $params['password'] ??

[2022-01-05 08:02] mesolaries commented on #5160
#5161 will fix the issue when merged

[2022-01-05 08:52] #5160 closed, assigned to nobody

[2022-01-06 09:26] orklah commented on #4511
Note that Psalm has an annotation `@psalm-consistent-constructor` that will silent this Issue while making sure every child respects the original signature

[2022-01-06 14:33] MatthiasKuehneEllerhold commented on #5158
See discussion in pull request.

This bugreport is invalid.

[2022-01-06 14:33] #5158 closed, assigned to nobody

[2022-01-06 17:44] morozov commented on #4511
Thanks, @orklah. That's definitely a good way to document the shortcomings of the existing API.

[2022-01-06 18:43] #4511 closed, assigned to nobody

[2022-01-07 17:19] mvorisek opened #5168 "Error: Undefined constant 'OCI_NO_AUTO_COMMIT'"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.x

#### Summary

#### Current behaviour

Currently, when OCI8 ext is not available, the following php notice is shown:

[code]

trace:

[code]

#### How to reproduce

run OCI8 tests without OCI8 ext installed

#### Expected behaviour

When OCI8 is unavailable, better error message/exception should be

[2022-01-07 19:18] morozov commented on #5168
From the above error message, it is pretty much obvious that the extension is not loaded. There is no point in running OCI8 tests without the extension.

From the stack trace, it looks like the driver is trying to connect, so the usage of the constant is justified.

Not being to even declare a class without the extension loaded (I cannot find the corresponding patch) would be a more realistic issu

[2022-01-09 17:34] tlorens opened #5169 "doctrine:schema:update / doctrine:migrations:diff"
### Bug Report

Not sure where this belongs,  Here or with the DoctrineBundle?  As this relates to a Symfony project.  However, the inner-working- I can assume spawn from this package.

|    Q        |   A
|------------ | ------
| DBAL Version     | 2.13.6
| ORM Version      | 2.10.4

#### Summary
Doctrine thinks the entire Postgres DB schema is different each time I run the commands.  Migrations

[2022-01-09 17:36] mvorisek opened #5170 "`Driver\Mysqli\Connection::getServerVersion()` returns wrong version for MariaDB 10.x"
|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.1

#### Summary

#### Current behaviour

Version starting with `5.` is returned for MariaDB.

The fix mentioned in https://github.com/doctrine/dbal/blob/3.2.1/src/Driver/Mysqli/Connection.php#L49 seems to be not working.

#### How to reproduce

Start `mariadb:latest` Docker image (or other MariaDB 10 instance) and te

[2022-01-10 00:18] RinkAttendant6 opened #5171 "Global error handling/interception at the DBAL layer"
|    Q        |   A
|------------ | -----
| Version     | 2.x (specifically 2.9.3-2.13.x)

### Support Question

Is there a way to do something "globally" (e.g. logging) whenever a query error occurs (e.g. by catching `\Doctrine\DBAL\Exception`) while allowing the exception to propagate to be handled in the application code (either in the specific method that called the database or higher up at th

[2022-01-10 12:26] Kova101 opened #5172 "JSON float values encoded inproperly, trailing zeros removed"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.x and probably others

#### Summary

During saving float values to the database's JSON field the trailing zeros are removed which hurts data integrity and causes problems with strongly typed systems.

#### Current behaviour

Trailing zeros are removed from float values during encoding them to JSON

##

[2022-01-10 14:01] derrabus commented on #5171
If a custom wrapper class works for you on 2.13, you can continue to use it. On DBAL 3, I recommend implenting a driver middleware instead.

[2022-01-11 01:53] tlorens commented on #5169
Testing on a sample project, Schema validation works.  I must have something messed up in the annotations that can't be mapped properly.

[2022-01-11 01:53] #5169 closed, assigned to nobody

[2022-01-11 02:43] #5172 closed, assigned to nobody

[2022-01-11 02:48] morozov commented on #5170
@mvorisek could you be more specific about what's not working for you?

If I query the version in `mariadb:latest`, I get:
[code]
There's a test case that covers a similar version pattern: https://github.com/doctrine/dbal/blob/4caf37acf14b513a91dd4f087f7eda424fa25542/tests/Driver/AbstractMySQLDriverTest.php#L67

[2022-01-11 04:43] RinkAttendant6 commented on #5171
Would you mind pointing me to the documentation for implementing and integrating a driver middleware? I can't seem to find anything on the site (at least not within the DBAL project)

[2022-01-11 07:04] mvorisek commented on #5170
Here is a repro https://github.com/atk4/data/runs/4771743049?check_suite_focus=true with version dump:

[code]

[code]

instead of `5.5.5-10.6.5-MariaDB-1:10.6.5+maria~focal` I expect `10.6.5` or `10.6.5-MariaDB`, or at least the `5.5.5-` prefix must be stripped (it is there for replication compatibility, see https://jira.mariadb.org/browse/MDEV-4088)

[2022-01-11 09:31] derrabus commented on #5171
The documentation is indeed lacking a chapter on middlewares. I can give you some code pointers though. DBAL 3 is shipping with a logger middleware that raplaces the old SQLLogger. That middleware is probably a good source of inspiration:

* https://github.com/doctrine/dbal/blob/3.3.x/src/Logging/Middleware.php
* https://github.com/doctrine/dbal/blob/3.3.x/src/Logging/Driver.php
* https://github.c

[2022-01-11 16:22] morozov commented on #5170
This prefix comes from [mysqlnd](https://github.com/php/php-src/blob/72cdb0af5500b57e4a83c6eeb64faf5bb3a917e7/ext/mysqlnd/mysqlnd_connection.c#L1281), not the DBAL:
[code]
I'm not sure why the driver connections perform any parsing of the version string. It should be up to the API consumer to parse it and extract the details according to the use case. This applies to the driver which instantiates

[2022-01-11 16:30] mvorisek commented on #5170
this code should actually fix it, it seems the `mysqlnd_conn_data::get_server_version` C function is not used for `mysqli::get_server_info`

opened https://github.com/php/php-src/issues/7932

[2022-01-11 16:30] derrabus commented on #5170
This `5.5.5` prefix is a hack for legacy clients that were built at a time when you would use ext-mysqli and PDO_mysql exclusively to connect to a MySQL server. Returning a version 10.x would mislead those clients to think that they're connected to a future MySQL server when they're in fact talking to a MariaDB.

Since DBAL is aware of MariaDB and implements dedicated drivers for it, I think it wo

[2022-01-11 16:37] mvorisek commented on #5170
It is a hack from MariaDB server side to fix replication (https://jira.mariadb.org/browse/MDEV-4088).

I agree with @morozov, it should be fixed in php-src directly.

[2022-01-11 16:48] derrabus commented on #5170
Right, thanks for the clarification.

No argument from me, this is where the fix belongs. However, a workaround in the DBAL driver for PHP versions without that fix (if we get one) would still be reasonable and not hard to maintain, imho.

[2022-01-11 17:22] morozov commented on #5170
Just to clarify, my proposal in https://github.com/doctrine/dbal/issues/5170#issuecomment-1010130282 was the opposite:

I don't believe the DBAL should be in the business of massaging the versions returned by the server. We should just remove this parsing entirely instead of trying to satisfy all possible cases.

[2022-01-12 15:42] jean553 opened #5176 "executeQuery() blocks forever on AWS lambda while persisting several objects at once into RDS"
### Bug Report

INSERT SQL command blocks on AWS lambda while trying to persist several objects.
Only occurs when SQL logger is not null.

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.2.0

#### All versions

doctrine-dbal 3.2.0
PHP 8.1.1
PostgreSQL 13.3 (AWS RDS)

#### Summary and how to reproduce

I use Doctrine DBAL for a Symfony project running on AWS lambda d

[2022-01-12 20:34] morozov commented on #5176
@jean553, a few questions:

1. Are you sure your RDS doesn't run out of IOPS or something like this?
2. Why do you think it's a DBAL issue? ~~Does it work for you without the DBAL?~~ (I see, you mentioned a workaround)

Normally, we don't provide this kind of support here. If you want the issue considered for fixing, you'll have to at least provide us access to the environment where the issue can

[2022-01-12 21:41] #5170 closed, assigned to nobody

[2022-01-12 21:42] morozov commented on #5168
Closing as the current behavior is by design.

[2022-01-12 21:42] #5168 closed, assigned to nobody

[2022-01-12 23:54] morozov commented on #5171
I assume the original question has been answered, so the issue can be closed. Documenting the Middleware API is a separate issue.

[2022-01-12 23:54] #5171 closed, assigned to nobody

[2022-01-13 08:29] allan-simon commented on #5176
Hello @morozov (I'm a coworker of @jean553)

1. yes, the instance is a m5.large and we ruled out the IOPS hypothesis by testing the same workload with other methods (direct PDO, pyhon script etc. )  and doing other INSERT directly while the PHP call with DBAL is "blocked". If anything having the SQLLogger activated slowing down things should help in that case (less query per second, less IOPS), wh

[2022-01-13 10:25] bertrandjamin commented on #5130
@morozov I encounter the same issue if some parameters are wrongly named.

You can reproduce it via a call of this type
[code]

This call generate this Exception
[code]

As told by @TimurFlush  earlier the real PgSql error would be `SQLSTATE[HY093]: Invalid parameter number: :libellé`

But this one has no code associated
[code]

The issue occurs in the file  vendor/doctrine/dbal/src/Driver/PDO/Exc

[2022-01-13 15:53] morozov commented on #5176
As far as I can tell, the DBAL doesn't ship any specific `SQLLogger` implementations except for the deprecated `DebugStack`, so you must be using some own or 3rd-party logger. What logger is that? Would the issue reproduce if you use the null logger from #3041?

If you can connect to the database from the development environment (e.g. via a public endpoint or port forwarding), you could try using

[2022-01-13 16:55] morozov commented on #5130
Thanks for the details, @bertrandjamin. The issue is indeed reproducible with the following snippet:
[code]

[2022-01-13 17:05] bertrandjamin commented on #5130
Yes it's a bit more simple  ^^

[2022-01-13 18:19] allan-simon commented on #5176
We use monolog , through symfony, good idea for the NullLogger, we will try that, thanks a lot for the pointer.

[2022-01-16 15:38] #4816 closed, assigned to nobody

[2022-01-17 10:55] hracik opened #5185 "ArrayType/ObjectType throws error when opcache.restrict_api is not set"
### Bug Report

Copying issue mentioned on Symfony because it was found to be an issue in DBAL.
https://github.com/symfony/symfony/issues/36964

[code]

Affected types
https://github.com/doctrine/dbal/blob/3.2.x/src/Types/ArrayType.php
https://github.com/doctrine/dbal/blob/3.2.x/src/Types/ObjectType.php

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | v2.10.1

#### Su

[2022-01-17 17:54] morozov commented on #5185
@hracik please provide the steps to reproduce the issue.

[2022-01-17 19:33] allan-simon commented on #5176
hello may i know why is it closed, even if the problem is caused by the logger,  the logger being not responsible of the connection, it should not cause DBAL to hang , at least it should re-throw the exception ?