[2017-07-24 19:52] morozov opened #2787 "Filtering by binary field doesn't work on Oracle"
Setup:
[code]
Binding param as LOB (same as during insertion):
[code]

Binding param as a string:
[code]

Representing the value as a hexadecimal string:
[code]

Binding param as a binary string:
[code]

[2017-07-25 03:00] Ocramius commented on #2787
We can't really detect the server-side parameter type on our own, but I suppose that we could add `bin2hex()` when `PDO::PARAM_LOB` is used.

What happens for insert operations?

[2017-07-25 07:52] morozov commented on #2787
I think the fact that binding as LOB for INSERT/UPDATE happens to work is an unintended behavior on the server/driver side. Probably, during a write operation, Oracle doesn't really care if it's a string or a stream — it just gets written, but during the comparison, it cannot compare anything with a LOB by design.

If there was a PDO constant for the binary type, we could use it for both reading a

[2017-07-25 18:44] vogelor commented on #2628
after some research of the code i agree with you. i also think this is a problem of laravel.

[2017-07-26 07:45] andreasfernandez opened #2790 "Support more mathematical expressions"
The AbstractPlatform already provides a some math expressions, like ACOS, PI, SIN, etc.

However, some expressions are missing that are required to write, for example, a Doctrine DBAL based radial search.

Following expressions are currently unsupported, afaics:
* POWER
* ASIN
* TAN
* ATAN
* RADIANS
* DEGREES

[2017-07-26 13:40] flaushi opened #2792 "Custom Enum Type produces syntax error"
Hi, I have created a custom enum for time intervals, in accordance to solution 2 from [here](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/cookbook/mysql-enums.html).

So I have the Type class
[code]
I installed it in config.yml like:
[code]
And I use it in my Entity like so:
[code]
Ok, I can create my database schema, but as soon as I try to persist an entity with my interval e

[2017-07-27 15:11] langj opened #2794 "BC Break in Date/Time related types: can no longer convert `DateTimeImmutable` to database value"
I think there should be a BC Break Notice in the UPGRADE.md file.

The following example code will break when switching from 2.5 to 2.6.

[code]

When I read #2678 correctly, this is intentional behaviour so there wont be a fix for it.

[2017-07-27 15:32] lcobucci commented on #2794
@langj I think you misread something, that PR was NOT merged to avoid BC breaks. You should use `Type:: DATE_IMMUTABLE` in order to use `DateTimeImmutable` objects.

`Type::DATETIME` only supports `\DateTime` (on 2.5 and 2.6).

[2017-07-27 16:18] langj commented on #2794
@lcobucci Thanks for your response.
I referenced this PR because it showed me, that `Type::DATETIME` intentionally dropped support for `DateTimeImmutable`.
However, I am currently using `DateTimeImmutable` in my Project and I use `Type::DATETIME` to store it because `Type::DATETIME_IMMUTABLE` is not available and it works well with 2.5.12 and 2.5.13.
When I update to 2.6.0 I get a

Could not conve

[2017-07-27 17:16] jvasseur commented on #2794
The fact that the datetime type worked with both DateTime and DateTimeImmutable instances was an implementation detail, it never was officially supported so this isn't a BC break.

[2017-07-27 17:18] Ocramius commented on #2794
It is: userland code broke, so we need to revert it.

On 27 Jul 2017 20:16, "Jérôme" <notifications@github.com> wrote:

The fact that the datetime type worked with both DateTime and
DateTimeImmutable instances was an implementation detail, it never was
officially supported so this isn't a BC break.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, v

[2017-07-27 18:01] Ocramius commented on #2794
Please check https://github.com/doctrine/dbal/pull/2795 - I provided a fix and can gladly do a release with it later tonight

[2017-07-27 20:44] Majkl578 commented on #2794
@enumag Isn't this the issue you ran into?

[2017-07-27 20:59] enumag commented on #2794
@Majkl578 One of them, yes.

[2017-07-27 21:16] lcobucci commented on #2794
You're quite right about this, it was actually caused by https://github.com/doctrine/dbal/pull/869.

[2017-07-28 10:34] #2794 closed

[2017-07-28 10:35] Ocramius commented on #2794
Handled in #2795

[2017-07-28 10:36] Ocramius commented on #2794
`master`: doctrine/dbal@3a6110f2499938244334b5fd88ebd6d40cd49417
`2.6` doctrine/dbal@dd7d1fc2b8b43a609f52912d4f2b4f752c7e9498

[2017-07-30 17:32] dohpaz42 opened #2802 "MySQL Decimal being Converted to Numeric"
This sounds like the issue with #1999.

I have a few entities set up as follows (relevant parts only):

    class Account {
        /**
         * @ORM\Column(
         *     name         = "current_balance",
         *     type         = "decimal",
         *     precision    = 18,
         *     scale        = 2,
         *     nullable     = false,
         *     options      = {
         *

[2017-07-31 14:46] Ocramius commented on #2792
`INTERVAL` is a reserved keyword in MySQL: make sure to map the column as quoted, as per http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/basic-mapping.html#quoting-reserved-words

[2017-07-31 14:46] #2792 closed

[2017-07-31 15:08] Ocramius commented on #2802
I don't see a reason for that. A custom type is feasible at all time on your side, at the cost of losing the ability to have the schema comparator take over diffing for you.

From our PoV, this is just added work for no benefit of either party. As for those that *really* want to use `DECIMAL(p, s)`, a manual migration is the quickest and most efficient solution.

[2017-07-31 16:08] dohpaz42 commented on #2802
I appreciate where you're coming from, but I would counter that losing the ability to have the schema comparator take over the diffing is a reason to have the specific type.

If I understand what you're saying here, you mean that I/we would always have to do `console doctrine:schema:update --dump-sql`, copy and paste that into whatever database client de jour, and then remember to modify `NUMERIC`

[2017-08-01 08:28] KitsuneSolar opened #2804 "PHP 7.1.7 & MariaDB 10.2.7 = Syntax error or access violation"
Please read this issue: https://github.com/flarum/core/issues/1211

[2017-08-01 08:41] Ocramius commented on #2804
Closing as `invalid` as per https://github.com/flarum/core/issues/1211#issuecomment-319306593

We only allow mapping string default values, and `'NULL'` is correctly interpreted in the mappings as the string `'NULL'`, not the `NULL` SQL absence value.

The correct fix is to remove the default value from the mappings overall.

Also related:

 * https://github.com/doctrine/doctrine2/issues/6383
 * h

[2017-08-01 08:41] #2804 closed

[2017-08-01 09:59] MartinVandersteen opened #2805 "[HELP] Laravel and doctrine/dbal MySQL version not detected"
Hello!

I've recently updated to 2.6.1 and PHP 7.1 so that I can use the JSON data type in MySQL.
I did it because I was getting these kinds of errors when adding JSON fields in a migration (which worked previously though?) :

[code]
The error is still present though, even after updating. The error still mentions MySqlPlatform and not MySQL57Platform, which made me understand that the problem was

[2017-08-01 18:16] natebrunette opened #2806 "Driver specific exceptions are not converted properly"
PDO may not throw an exception when executing a query. In `\Doctrine\DBAL\Connection::executeQuery`, the connection `errorInfo()` and statement `errorInfo()` should be checked for a driver exception code and a driver specific exception should be created if an error occurred.

[2017-08-02 11:17] Ocramius commented on #2806
This needs a test case for the specific scenario you encountered.

[2017-08-02 15:55] natebrunette commented on #2806
@Ocramius I looked for contributor documentation, but didn't find any. Do you want me to fork the repository, write a failing test and make a pull request?

[2017-08-02 16:16] Ocramius commented on #2806
@natebrunette that would be the best scenario, but an example of failure not reflected by PDO is also sufficient.

We configure PDO so that it throws exceptions internally on its own, btw: https://github.com/doctrine/dbal/blob/399ab63ddf3db48a4befb7d4f6bcf699e7796d5f/lib/Doctrine/DBAL/Driver/PDOConnection.php#L45

[2017-08-02 16:59] natebrunette commented on #2806
What this code sample illustrates is a bug when an error handler is registered.

I noticed that using `PDOConnection`, PDO will throw an exception. However, if an error handler is registered, it will get executed first, essentially swallowing PDO's exception. This is the case in Symfony applications.

What this code sample shows is two cases. One, executing a query on the connection, and secondly,

[2017-08-02 18:03] Ocramius commented on #2806
That's a good enough test as a start, thanks! :+1:

[2017-08-02 23:18] RadekDvorak opened #2808 "Wrong _transactionNestingLevel decrement"
Hi, while developing a feature that works with transaction nesting I think I encountered a bug.

The class `\Doctrine\DBAL\Connection` supports nested transactions with savepoints. Calling `rollBack` in a nested context only rolls back to the latest savepoint. Then the transaction nesting level gets [decremented](https://github.com/doctrine/dbal/blob/v2.6.1/lib/Doctrine/DBAL/Connection.php#L1359).

[2017-08-02 23:59] Ocramius commented on #2808
Not really: an integration test needs to be written to check this.

[2017-08-03 09:24] le-martre commented on #2805
Update : I've done nothing and it now works. If you guys have any idea what could cause those issues, I'm all ears! Such inconsistent development environment is really annoying :(

[2017-08-03 09:37] Ocramius commented on #2805
@MartinVandersteen did you maybe have a config caching issue?

[2017-08-03 12:48] bestform opened #2809 "Missing @throws declarations in Connection"
In a few cases methods in Connection may throw a DBALException which isn't declared in the docblock. As the Connection class is heavily used by third party code, this code runs the risk of ignoring those exceptions instead of handling them. While it is technically not required to declare exceptions in PHP, it is highly recommended, especially in public APIs.

[2017-08-03 16:20] RadekDvorak commented on #2808
I can not find any harm to data that would be caused by this behaviour.

[2017-08-03 16:20] #2808 closed

[2017-08-03 16:45] Tobion commented on #2665
Ref. https://github.com/doctrine/doctrine2/issues/2988

[2017-08-03 17:14] Tobion opened #2811 "Column collation is missing on foreign keys"
There are two bugs with column collations:

1. schema update / migrations doesn't recognize collation changes, see #2401 similar issues
2. column collation doesn't work correctly when used on a field referenced as a forgein key.

This tickets is about 2)

When you have a column collation overwritten for an entity primary key that is used as foreign key in another entity, then the collation is MISS

[2017-08-03 19:29] Ocramius commented on #2811
This seems correct: we cannot replicate column information on join columns, since you already went into the dark and unexplored lands of `options`, for which we really can't provide cross-database support.

[2017-08-03 19:55] #2809 closed

[2017-08-03 20:19] Ocramius commented on #2802
Yes, pretty much. Or else use a custom type declaration, which will not be recognized.

It really is just about the Pareto principle: just use the `DECIMAL` type and you'll be fine. Need the `NUMERIC` type? You are outside the 80/20 split, and therefore it's unlikely worth going down the rabbit hole for both you and the DBAL project.

This is just for MySQL though, which means that the platform ab

[2017-08-03 21:23] Tobion commented on #2811
I don't understand the relation to cross-database support. Join columns just need to apply the same options as the primary key. And if it's hard to do that, then there should at least be an `options` option for the `JoinColumn` annotation. This way one can manually apply the same collation option. But currently there is no such thing which makes the above use-case impossible to achieve.

[2017-08-03 21:27] Tobion commented on #2811
Btw `options={"fixed"=true,` is also an option. And this get's correctly applies to the foreign key. This is basically the same thing.

[2017-08-03 23:17] Ocramius commented on #2787
@morozov yeah, something to process LOB before passing it in, I suppose. I don't know if we are already processing bound parameters at all though (besides type conversions)

[2017-08-04 01:58] dohpaz42 commented on #2802
No, I never said I needed the numeric type. The defacto DBAL implementation already provides the numeric type. I need the decimal type (to actually be decimal).

- [DB2](https://www.ibm.com/support/knowledgecenter/en/SSEPEK_10.0.0/sqlref/src/tpc/db2z_decimal.html)
- [Drizzle](https://sites.google.com/site/jobinau/Home/drizzle-data-types)
- [MySQL](https://dev.mysql.com/doc/refman/5.6/en/fixed-poin

[2017-08-04 02:04] dohpaz42 commented on #2802
PS. It's also worth noting that the [SQL-99 Complete, Really](https://mariadb.com/kb/en/sql-99/numeric-data-types/) standard define both `DECIMAL` and `NUMERIC`, so as beating dead horses goes, this is definitely not specific to MySQL.

[2017-08-04 02:23] Ocramius commented on #2802
Fair enough, that's the analysis I needed 😁

If you want to give it a shot, replicating the current `DecimalType` and logic around it, according to your findings, should be a few dozen lines of code and a bit more around testing.

Also, sorry for the decimal/numeric mixup: they read the same, work the same way, behave the same way, plus I'm multitasking 😅

[2017-08-07 07:50] MartinVandersteen commented on #2805
@Ocramius my collegue now has the same issue when switching on my branch, I told him to restart his development environment to see if it does the trick. If it does, I guess it could be it?

[2017-08-07 07:52] MartinVandersteen commented on #2805
Didn't do the trick.. Maybe there is a specific command to flush the config cache that you know of?

[2017-08-07 07:58] MartinVandersteen commented on #2805
Ok no my bad, it only worked because I left the "return '5.7.13';" in the private function getServerVersion. So probably not a config caching issue.

[2017-08-10 06:54] errogaht commented on #1052
issue not closed, I have the same bug!
SQLite-keyword and must surround with " or '.
please fix it!

[2017-08-10 06:58] errogaht commented on #1052
I very glad for floriansemm, but if someone else needs to fix it too, here is link http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/basic-mapping.html#quoting-reserved-words

[2017-08-10 13:41] Dormilich opened #2814 "Incorrect documentation example for `QueryBuilder#set()`"
The affected code section (also the `update()` and `where()` examples)
[code]
When looking at the source code for `set()`, the `$value` parameter is not escaped (which makes sense) but then any unescaped string value (such as the mentioned MD5 hash) would cause an SQL syntax error due to missing string delimiters. Insofar the code example is misleading as to what can be put in as value.

Maybe a b

[2017-08-11 19:07] gauauu opened #2815 "mysqli ssl_key and ssl_cert should not be mandatory"
In MysqliConnection.php, in setSecureConnection, there's a clause that ensures that ssl_key and ssl_cert are set.

I have a mysql connection that needs an ssl_ca to be specified, but doesn't need ssl_key or ssl_cert. I've been using this connection succefully (without this library) with this call:

`$db->ssl_set(null, null, '/etc/msqlcacert.pem', null, null);`

But with the error checking here, I

[2017-08-11 19:09] gauauu commented on #2815
BTW, I'm happy to make a PR with the changes unless there's a reason I'm wrong or unless dbal shouldn't support this usage for some reason.

[2017-08-11 19:52] Ocramius commented on #2815
@gauauu this is possibly a regression, so go ahead and send a patch if you can :+1:

[2017-08-13 00:27] lcobucci commented on #2814
@Dormilich would you mind send us a PR with your suggestion?

[2017-08-13 00:41] lcobucci commented on #2805
@MartinVandersteen can you provide more information on how your connection is created and what are the arguments in there? I'm really interested on what implementation of `Doctrine\DBAL\Driver\Connection` you have there.

I'm asking because as far as I could see all the MySQL related implementations would always make `$this->_conn instanceof ServerInfoAwareConnection && ! $this->_conn->requiresQue

[2017-08-17 10:38] jedkirby commented on #2752
Hey guys, @morozov & @Ocramius - are we any further forward with this, or do you need anything from me?

[2017-08-17 11:04] Ocramius commented on #2752
@jedkirby attempting a patch that provides additional tests would be a good start

[2017-08-17 11:05] Ocramius commented on #2752
@jedkirby also, if you can help on https://github.com/doctrine/dbal/pull/2617 that would simplify stabilizing the entire feature

[2017-08-18 13:12] crash21 opened #2817 "Comparison Problem Default 'NULL'"
I am using

    PHP                                  v7.1.7
    MariaDB                              v10.2.7
    doctrine/annotations                 v1.2.7    Docblock Annotations Parser
    doctrine/cache                       v1.6.2    Caching library offering an object-oriented API for many cache    backends
    doctrine/collections                 v1.3.0    Collections Abstraction library

[2017-08-18 15:15] Ocramius commented on #2817
`"NULL"` is not `NULL`: one is a string, the other one is the absence of value.

Please check if this issue matches any of the following:

 * https://github.com/doctrine/doctrine2/issues/6383
 * https://github.com/doctrine/dbal/issues/2582
 * https://github.com/doctrine/dbal/pull/2659
 * https://github.com/doctrine/doctrine2/issues/6346

[2017-08-18 15:40] Dormilich commented on #2814
not sure if I opened the PR correctly ... it's been ages since I did that last.

[2017-08-18 15:42] Ocramius commented on #2814
@Dormilich go to https://github.com/doctrine/dbal and you should see a green button that allows you to open a PR, if everything is detected correctly.

[2017-08-18 15:58] Ocramius commented on #2814
Handled in #2818

[2017-08-18 15:58] #2814 closed

[2017-08-21 03:18] arima-ryunosuke commented on #2501
This issue is fixed at v2.5.13 by #2696

[2017-08-21 03:18] #2501 closed

[2017-08-21 14:20] stfast opened #2819 "PHP Fatal error: Uncaught Doctrine\\DBAL\\DBALException: Failed to connect to the database: Invalid platform version "5.5.5-10.1.25-MariaDB"
Reporting also here:

https://github.com/nextcloud/server/issues/6193

After upgrade from NextCloud 11 to NextCloud 12 I got this messages and NextCloud Stops working:

error_log-owncloud:[Mon Aug 21 01:15:59.802107 2017] [:error] [pid 47351] [client 172.16.101.54:63176] PHP Fatal error: Uncaught Doctrine\DBAL\DBALException: Failed to connect to the database: Invalid platform version "5.5.5-10.1.2

[2017-08-21 14:33] MorrisJobke commented on #2819
@Doctrine maintainers:

Nextcloud 11: Doctrine 2.5.5 (https://github.com/nextcloud/3rdparty/blob/stable11/composer.json#L11)
Nextcloud 12+: Doctrine 2.5.9 (https://github.com/nextcloud/3rdparty/blob/stable12/composer.json#L11)

Is this a problem how the version number is reported by mariaDB here?

This one looks weird, because we didn't changed that much in version numbers in Doctrine.

@stfast Di

[2017-08-21 19:20] morozov commented on #2819
Could you try reproducing the issue in isolation? The example below works fine for me on v2.5.9:
[code]

[2017-08-22 10:18] abedbilani opened #2820 "inserting timestamp to oracle database"
every time i want to insert a new record to database i am forced to use this query

**$dbh = $em->getConnection();
            $sth = $dbh->prepare("ALTER SESSION SET NLS_TIME_FORMAT = 'HH24:MI:SS' NLS_DATE_FORMAT = 'YYYY-MM-DD HH24:MI:SS' NLS_TIMESTAMP_FORMAT = 'YYYY-MM-DD HH24:MI:SS' NLS_TIMESTAMP_TZ_FORMAT = 'YYYY-MM-DD HH24:MI:SS TZH:TZM'");
            $sth->execute();**

so the timestamp for

[2017-08-22 11:42] abedbilani commented on #2820
figured it out doing this
add this code to services.yml
    oci8.listener:
            class: Doctrine\DBAL\Event\Listeners\OracleSessionInit
            arguments:
                - { NLS_TIMESTAMP_TZ_FORMAT: "YYYY-MM-DD HH24:MI:SS" }
            tags:
                - { name: doctrine.event_listener, event: postConnect }

[2017-08-22 11:42] #2820 closed

[2017-08-23 18:38] ste93cry commented on #2817
After updating to MariaDB 10.2 on a CentOS server I'm experiencing the same problem. I just dumped the database from the server and imported it into MySQL on Windows and there is nothing to update according to the `doctrine:schema:update --dump-sql` command. However on the server all fields are marked as needing update when they shouldn't

[2017-08-24 05:53] sagaraspl commented on #2817
Hi @crash21 I am facing the same issue after updating to 10.2.7

[2017-08-24 20:06] lorenzleutgeb commented on #2371
I just came across the same issue(s). I am happy to provide a PR that fixes documentation and stays backward compatible with 2.5.

@Ocramius would you be willing to receive such a PR?

[2017-08-25 03:45] Ocramius commented on #2371
Patch ahead 👍

On 24 Aug 2017 10:06 PM, "Lorenz Leutgeb" <notifications@github.com> wrote:

[2017-08-25 12:43] DavidGarciaCat opened #2822 "Mysql Schema Diff always see difference when there is a ManyToOne nullable"
Hello,

I've been told here https://github.com/doctrine/DoctrineMigrationsBundle/issues/201#issuecomment-324897373 that Doctrine Migrations is using this repo to build the migration queries, so adding the issue here:

For an unknown reason, every time I am running the `app/console doctrine:migrations:diff` command I get a new migration file, even if I don't have new database updates.

The `up` and

[2017-08-25 13:16] mikeSimonson commented on #2819
If you could make a test so that we could reproduce the bug that would be helpfull.

[2017-08-25 13:17] mikeSimonson commented on #2822
duplicate of #2817

[2017-08-25 13:21] #2822 closed

[2017-08-25 13:51] DavidGarciaCat commented on #2822
@mikeSimonson @Ocramius please note the issue #2817 is talking about `NULL` values, however mine references too mapped entities.

[2017-08-26 20:31] belgattitude commented on #2817
Just found possible approaches to fix:

see my comment on https://github.com/doctrine/doctrine2/issues/6565

I'll publish a P/R soon

Seb

[2017-08-26 22:18] belgattitude commented on #2817
Here's a P/R: https://github.com/doctrine/dbal/pull/2825.

Feel free to test and comment.

[2017-08-28 13:04] stfast commented on #2819
Will do that ASAP with  our developer. I can reproduce it with fresh install of OwnCloud  9.x  on any Fedora 2+ and  I get same error during installation. Last year I think I had the same issue and I  am sure I overcame this error with adding a version "5.5.5-10.1.23-MariaDB" in one  of  "versions" file, which I could not find it any more. Is there a file where  DBAL is checking  supported "versis

[2017-08-28 13:26] stfast commented on #2819
I get same results:

[root@vx1 dbal]# php test.php
object(Doctrine\DBAL\Platforms\MySqlPlatform)#3 (4) {
  ["doctrineTypeMapping":protected]=>
  NULL
  ["doctrineTypeComments":protected]=>
  NULL
  ["_eventManager":protected]=>
  NULL
  ["_keywords":protected]=>
  NULL
}

[2017-08-28 14:51] mikeSimonson commented on #2819
@stfast That's the correct result (aka the connection is working fine and you could thus not reproduce the error).

[2017-08-28 23:08] belgattitude commented on #2819
See #2825 , I've implemented a fix for that too.

[2017-08-28 23:17] belgattitude commented on #2805
@MartinVandersteen

What returns PDO::getAttribute(PDO::ATTR_SERVER_VERSION); in the `PDOConnection::getServerVersion()`  ? When you replaced by "return '5.7.13';" it worked... Are you using mariadb ?

(If you use mysqli, what returns `$this->_conn->server_version` and `$this->_conn->get_server_info()` in `MysqliConnection::getServerVersion()` instead)

[2017-08-29 13:44] stfast commented on #2819
I've cloned latest dbal version and now I am getting new  type of error:

[Tue Aug 29 15:38:54.393757 2017] [:error] [pid 30288] [client 172.16.103.21:42650] PHP Fatal error:  Uncaught TypeError: Return value of Doctrine\\DBAL\\DriverManager::_checkParams() must be an instance of Doctrine\\DBAL\\void, none returned in /owncloud/nextcloud-12.0.2/3rdparty/doctrine/dbal/lib/Doctrine/DBAL/DriverManage

[2017-08-29 13:45] Ocramius commented on #2819
@stfast if you run a `composer install` it will tell you that your PHP version is not supported.

You need PHP 7.1.

[2017-08-29 14:47] stfast commented on #2819
Upgraded to PHP  7.1.7.

Installed fresh dbal:

[root@owncloud doctrine]# git clone https://github.com/doctrine/dbal.git

Error:

[Tue Aug 29 16:43:45.249115 2017] [php7:error] [pid 49522] [client 172.16.103.21:57080] PHP Fatal error:  Uncaught Doctrine\\DBAL\\DBALException: Invalid platform version "5.5.5-10.1.26-MariaDB" specified. The platform version has to be specified in the format: "<major_

[2017-08-29 14:52] belgattitude commented on #2819
@stfast, #2825, has not been merged yet. pull the pr or use the composer trick explained in the comment. Let me know.

[2017-08-29 14:53] belgattitude commented on #2819
@stfast, #2825, has not been merged yet. pull the pr or use the composer trick explained in the comment. Let me know.

[2017-08-30 06:27] stfast commented on #2819
When it will be merged to master?

with

    "repositories": [
        {
            "url": "https://github.com/belgattitude/dbal.git",
            "type": "vcs"
        }
    ],
    "require": {
        "php": "^7.1",
        "doctrine/dbal": "dev-fix/mariadb/2824 as 2.6.1",
        "ext-pdo": "*",
        "doctrine/common": "^2.7.1",
        "doctrine/orm": "^2.5.0"
    },

get this

[root@owncl

[2017-08-30 08:10] belgattitude commented on #2819
@stfast, yes github rate limiting is reached. If you are in a hurry, you can follow the link displayed in the composer error message. Basically it just allows your machine to make more requests. Then relaunch composer update.

Of course the best is to wait for pr merge. I don't know when, but feel free to ask the question in #2825.

[2017-08-31 23:55] logbie opened #2828 "Unicode problem"
Doctrine does not seem to detect (\xc2\xbd)(½).

This is the data: _1212½ W. Alameda Ave._

This is what doctrine spits out: _\x31\x32\x31\x32\xbd\x20\x57\x2e\x20\x41\x6c\x61\x6d\x65\x64\x61\x20\x41\x76\x65\x2e_

Which looks like : 1212ݠW. Alameda Ave.

This is what it should spit out.
_\x31\x32\x31\x32\xc2\xbd\x20\x57\x2e\x20\x41\x6c\x61\x6d\x65\x64\x61\x20\x41\x76\x65\x2e_

I'm not sure how to f

[2017-09-01 01:55] morozov commented on #2828
@logbie could you provide a code example to reproduce this?

[2017-09-01 02:34] logbie commented on #2828
sure.

[code]

and the cfg array reads
[code]

The field in question is "street address"

the sql field

``STREET_ADDRESS`` `varchar(200) COLLATE utf8mb4_bin NOT NULL,`

[2017-09-01 06:16] fxOne opened #2829 "MySQL: Incorrect generation of decimal primary keys"
I defined in my `orm.yml`:
[code]

Which generates the following SQL code with the Symfony `doctrine:migration:diff` command:
[code]
Which is incorrect as I defined `NUMERIC(6, 2)`.

[2017-09-01 06:49] psystems opened #2830 "TINYINT is absent in list of types available for change types."
Hey guys!

I am confused very much while try to create simple migration with change type column for existed table to TINYINT UNSIGNED

Environments:
Laravel 5.4.35

It is absent into this list of available types.
`Doctrine\DBAL\Types`

[code]

[code]

Best regards,
Ruslan Korobkin

[2017-09-01 07:06] fxOne opened #2831 "MySQL: Wrong order of generated primary keys"
I defined in my `address.orml.yml`:
[code]
Generates the following MySQL Code on the Symfony `doctrine:migration:diff` command:

[code]
I would expect that the primary key would be `user_id, address_type`  as I defined it in this order.
Is this a bug or do I must define something else to get the primary key in my expected order?

[2017-09-02 03:42] morozov commented on #2828
@logbie here's the script I used to test your case:
[code]
It worked fine for me, and the value in the DB also looked correctly:
[code]

Could you try using my script in your environment and see if the issue is still reproducible?

[2017-09-02 11:10] Ocramius commented on #2831
This is possibly because associations are processed after normal fields: you will likely need to check the identifier field order in the `ClassMetadata` instance and try reproducing a test case from there.

[2017-09-02 11:10] Ocramius commented on #2831
Also, I think this might be an ORM bug, not a DBAL bug.

[2017-09-02 11:37] Ocramius commented on #2830
@psystems `TINYINT` is not universally available: I would suggest that it should be manually defined. See also https://github.com/beberlei/DoctrineExtensions for more MySQL specifics.

Closing as `won't fix` here.

[2017-09-02 11:37] #2830 closed

[2017-09-02 12:24] Ocramius commented on #2829
This needs to be tested to see if it is an ORM or a DBAL bug, or even just YAML misconfiguration.

Did you attempt the same with XML or Annotation mappings? We deprecated YAML support, so it might well be one of the gazillion bugs coming from there.

[2017-09-02 16:25] Ocramius opened #2833 "Enable SQLite foreign key on post-connect"
Apparently, SQLite has supported foreign keys for ages! All we need to do is (according to https://sqlite.org/foreignkeys.html) run a statement on post-connect:

[code]

Not sure where to do it exactly, but this would be a very welcome addition.

[2017-09-02 17:38] Federkun commented on #2833
I've an event subscriber to enable that: would you suggest to add an `SqliteSessionInit.php`?

[2017-09-02 17:41] Ocramius commented on #2833
@Federkun yup :+1:

[2017-09-02 22:43] Majkl578 opened #2837 "Travis failures under Trusty"
[Trusty is now default](https://blog.travis-ci.com/2017-08-31-trusty-as-default-status) and some mysql-realted jobs are failing there.
Possibly check #2825, it already contains some sort of fix/hack to make it work.
While at it, we should also migrate to Build Stages.

[2017-09-03 08:17] belgattitude commented on #2837
#2825 fixes the build (no build stages though) and adds MariaDB 10.2 in the matrix.

FYI, the updated travis config: https://github.com/belgattitude/dbal/blob/fd0f8ba6ced610b8a8c159ff5da4b9aed540ed70/.travis.yml

[2017-09-03 16:37] greg0ire opened #2841 "Refactor type system"
From @Majkl578 on slack:

just a quick thought of a possible approach:

    introduce TypeInterface with required methods (or different name)
    make types implement it
    introduce some kind of Types enum-like empty class for implictly supported types, just like i.e. GeneratorType in ORM develop (edit: maybe this could stay in Type to lower BC implications and make Type an enum class in 3.0)

[2017-09-04 10:35] lorenzleutgeb opened #2842 "doc: Host ApiGen for 2.6"
Hi!

`http://www.doctrine-project.org/api/dbal/2.6.2/` and `http://www.doctrine-project.org/api/dbal/2.6.2/` are dead while `http://www.doctrine-project.org/api/dbal/2.5/` works. Could you please host the new docs as well? Or redirect to wherever they are hosted for 2.6.

Thanks!

[2017-09-05 03:03] nvanheuverzwijn opened #2843 "MySQLi: ssl_key and ssl_cert not _really_ mandatory for ssl"
Hi,

You can do SSL with mysql and php without specifying an `ssl_key` and `ssl_cert`. The only mandatory parameter would be the `ssl_ca`. Raising an exception here is not necessary.

https://github.com/doctrine/dbal/blob/8d18a33043edd1dd0b2a996262b67523e1b83f05/lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php#L286

[2017-09-05 03:06] #2843 closed

[2017-09-06 07:40] Ocramius commented on #2843
Dupe of https://github.com/doctrine/dbal/pull/2816#issuecomment-327060259

[2017-09-07 01:55] lincome opened #2847 "After update the package to 2.6.2, an error occurred!"
`laravel 5.4
[2017-09-07 09:45:14] production.ERROR: Symfony\Component\Debug\Exception\FatalErrorException: Class Doctrine\DBAL\Driver\PDOStatement contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Doctrine\DBAL\Driver\Statement::errorInfo) in G:\xampp7\htdocs\support.netflying.net\vendor\doctrine\dbal\lib\Doctrine\DBAL\Driver\PDOStatement.php:2

[2017-09-07 03:49] morozov commented on #2847
@lincome it looks weird at a glance since `Doctrine\DBAL\Driver\PDOStatement` [extends `PDOStatement`](https://github.com/doctrine/dbal/blob/v2.6.2/lib/Doctrine/DBAL/Driver/PDOStatement.php#L28)  which in turn [implements `errorInfo()`](http://php.net/manual/en/pdostatement.errorinfo.php). Could you provide some more information on the issue like stack trace or an example script?

I cannot reprodu

[2017-09-07 06:32] lincome commented on #2847
Thanks for your help.
I found the answer in [https://github.com/doctrine/dbal/issues/2628](https://github.com/doctrine/dbal/issues/2628)
I also update the php version from 5.6 to 7.1. It may be the cause.The 7.1 version became more strict to the interface

[2017-09-07 07:18] morozov commented on #2847
@lincome yeah, it seems very much like https://github.com/doctrine/dbal/issues/2628#issuecomment-316865616.

For the sake of getting this resolved and documented, could you do the following:

1. Check if the PDO extension is enabled in your runtime.
2. Check if there's a file in your codebase which declares the `PDOStatement` class in the global namespace.

[2017-09-08 08:36] daanhaitsma opened #2848 "PDO exception on version 2.6.2"
`SQLSTATE[HY000]: General error: PDO::ATTR_STATEMENT_CLASS requires format array(classname, array(ctor_args)); the classname must be a string specifying an existing class`

I believe that in `Doctrine/DBAL/Driver/PDOConnection.php` on line 44, the class `Doctrine\DBAL\Driver\PDOStatement` cannot be found.

I am using Laravel version 5.5.2 and PHP version 7.1.8

[2017-09-08 09:03] Ocramius commented on #2848
https://github.com/doctrine/dbal/blob/8d18a33043edd1dd0b2a996262b67523e1b83f05/lib/Doctrine/DBAL/Driver/PDOStatement.php#L28 - the class is there

[2017-09-08 09:09] daanhaitsma commented on #2848
I know, I have the file as well, but the PDOConnection does not appear to be able to find it.

[2017-09-08 09:12] Ocramius commented on #2848
@daanhaitsma try producing a minimal reproducible test scenario

[2017-09-10 05:43] ubo5 opened #2852 "Interface 'Throwable' not found in Laravel5.4"
- When I do a bad sql query, this problem will come up.

- Here is the err message
'Interface 'Throwable' not found' in projectName/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/DriverException.php:33

[2017-09-10 13:02] Ocramius commented on #2852
`Throwable` is a PHP 7.0+ concept. If you experience bugs in pre-7.0 environments, we'll need a test case to reproduce this in isolation, with DBAL only.

[2017-09-10 22:27] Majkl578 commented on #2837
Fixed in #2849.

[2017-09-10 22:27] #2837 closed

[2017-09-10 22:36] Majkl578 commented on #2852
Are you sure you're not using DBAL version incompatible with your PHP? DriverException extends Throwable only in 2.6 which requires PHP 7.1.

[2017-09-11 06:25] Ocramius commented on #2847
Note that the PDO extension is a required dependency since 2.6.0

On 7 Sep 2017 09:18, "Sergei Morozov" <notifications@github.com> wrote:

[2017-09-11 15:40] lincome commented on #2847
@Ocramius @morozov Great . Thank you.

[2017-09-12 13:06] tok-amsiq opened #2859 "DateTimeImmutable error with default value CURRENT_TIMESTAMP"
I have just changed all my DateTime to DateTimeImmutable and I experienced an issue with the ones where I had a CURRENT_TIMESTAMP default value:

     @ORM\Column(type="datetime_immutable", options={"default"="CURRENT_TIMESTAMP"})
The issue occurs when I use the schema-tool to update my database and I get the following error:

    'ALTER TABLE accounts CHANGE created_on created_on DATETIME DEFAULT

[2017-09-12 13:18] Ocramius commented on #2859
Duplicate of https://github.com/doctrine/doctrine2/issues/6698 ?

[2017-09-12 13:27] tok-amsiq commented on #2859
I don't believe so no. This is only an issue with the 'newly' released DateTimeImmutable and works fine with DateTime.

[2017-09-12 16:15] ubo5 commented on #2852
Yes, I've double checked this. PHP version is PHP 7.1.8 and doctrine/dbal  is v2.6.2 in my env.
Can other configs cause this problem?

[2017-09-12 20:20] drhsqlite commented on #2833
SQLite has a compile-time option to enable foreign_key enforcement by default.  https://www.sqlite.org/compile.html#default_foreign_keys

The default build of SQLite has foreign_key enforcement turned off by default due to backwards-compatibility concerns.

[2017-09-13 00:03] Majkl578 commented on #2859
This should be fixed by https://github.com/doctrine/dbal/pull/2835, but we should consider a separate fix for 2.6 since that PR can't go to 2.6,...

[2017-09-13 02:18] davidbarratt opened #2860 "Create an "async" API"
[Guzzle](http://docs.guzzlephp.org/en/stable/) has a really nice ["async" API](http://docs.guzzlephp.org/en/stable/quickstart.html#async-requests). I put "async" in quotes because it's not really async it's more just _concurency_. `curl` has support to execute more than one request at a time. Guzzle will group the requests and execute them together, then it will group the next level down and execu

[2017-09-13 03:29] morozov commented on #2860
Relating this to #2562.

[2017-09-13 05:57] Ocramius commented on #2860
This could be interesting, but won't fit the existing API.

What could be useful is an `AsyncConnection` interface returning promises
and consuming promises (specifically around transactions).

Can be done, but I doubt it will happen with PDO as underlying layer.

On 13 Sep 2017 04:18, "David Barratt" <notifications@github.com> wrote:

[2017-09-13 05:59] Ocramius commented on #2833
Compile-time is not in our ballpark: we are a lib sitting on top of
pre-compiled php binaries.

On 12 Sep 2017 22:20, "Richard Hipp" <notifications@github.com> wrote:

[2017-09-13 06:42] tok-amsiq commented on #2859
It has been fixed by #2835, but since I have no timeline for when that PR will be released, a fix for 2.6 would be welcomed with open arms from my part.

[2017-09-13 08:23] Ocramius commented on #2859
The fact that #2835 fixes this as a side-effect is not OK for this patch to go through: needs a dedicated test and an ad-hoc fix for 2.6 if you need it there.

[2017-09-13 08:23] Ocramius commented on #2859
And yep, still using `(string)` casts ;-)

[2017-09-13 09:42] tok-amsiq commented on #2859
I gave it a go at #2861 with (string) casts ;-)
I also added DateImmutable, but since there was no test case for Date, I didn't figure DateImmutable needed one.

[2017-09-13 17:28] GpbFriend commented on #1532
Hi I want to added to this post, that the origin of the problem is the settings of the Oracle's driver during the installation, because during the installation, it's ask for the settings of the 'decimal separator', so you have to put the correct decimal separator.

[2017-09-14 20:30] Ocramius commented on #2852
@ubo5 are php-cli and the one running the web server at the same version?

[2017-09-15 02:47] ubo5 commented on #2852
yes! It seems something wrong with my php-fpm configuration, It use the old version php-fpm which php version is php5.6.
@Ocramius Thanks!

[2017-09-15 09:12] #2852 closed

[2017-09-15 10:06] cayman54 opened #2862 "[Symfony3] [mariadb] Cannot connect using SSL remotely"
Hi,
I try to configure symfony3 and dbal to connect to my remote mariadb database with ssl.
When i connect with the command `mariadb -u user -h xxx.xxx.xxx.xxx -p` it works fine.
But when I try from my symfony config I get this error :
`PDO::__construct(): Cannot connect to MySQL by using SSL`

My app/config/config.yml looks like this :
[code]
And my app/config/parameters.yml :
[code]
I'm on a deb

[2017-09-18 07:35] althaus commented on #1271
@beberlei  Any news on this? It's still a severe issue for us. :(

[2017-09-18 07:37] Ocramius commented on #1271
@althaus a custom type is needed for this: we won't implement one just for postgres. Start by writing a failing test case ;-)

[2017-09-18 09:01] cayman54 commented on #2862
I found the solution :
the options were :
[code]

[2017-09-18 09:27] althaus commented on #1271
@Ocramius Isn't this basically a failure in the abstraction layer and/or the documentation? PHP allows BC dates. Postgres allows them. MySQL seems to not (?) support them. Couldn't the `$platform->getDateTimeFormatString()` take care of this?

We're converting a legacy app to Symfony/Doctrine and cannot prevent BC dates in the database at the moment.

Soi I'll check to replace all the default date

[2017-09-18 09:39] Ocramius commented on #1271
Possibly. As I suggested above, start from a test case and we can work towards a solution. I just excluded the idea of adding custom types in core.

[2017-09-18 11:21] cduran433 opened #2866 "Generate migrations always delete index"
Hello,

I have defined in my entity this annotations:

Index are created in database except idx_list_cms, but when I executed diff to generate the new file. The migration file is deleting all index that are already created.

        $this->addSql('DROP INDEX idx_position ON article_ar');
        $this->addSql('DROP INDEX select_index ON article_ar');
        $this->addSql('DROP INDEX idx_home_posi

[2017-09-21 08:20] kalinowcyk commented on #2265
I've got the same problem.
This is how to reproduce:
1) I have a table filled with data, database is MSSQL Server,
2) I've made a migration like this:
[code]
3) When I run this migration, I've got an error:
[code]

[2017-09-21 16:38] alissonschneiderr opened #2867 "Problem on schema-tool:update function getListTableForeignKeysSQL"
Hi, I'm having a problem while generating an sql dump, I'm getting the following error:

What can it be?

Thanks

[2017-09-21 16:38] alissonschneiderr commented on #2867
Sorry about english.

[2017-09-22 16:09] skobkin opened #2868 "Doctrine\DBAL\Exception\InvalidFieldNameException when working with DB schema on PostgreSQL 10"
Since upgrading to PostgreSQL 10 I have an error in my projects using Doctrine when I trying to generate migrations or just check the schema difference:

[code]

Seems like it's related to [nextcloud/server#5930](https://github.com/nextcloud/server/issues/5930) where @justin-sleep wrote:

[2017-09-25 14:42] #2862 closed

[2017-09-26 08:03] wzator commented on #2868
Suggested solution:
PostgreSqlSchemaManager.php line 292:

to :

[2017-09-28 09:05] fmonts opened #2870 "MEDIUMINT UNSIGNED not generated correctly"
I'm using doctrine/dbal 2.6.2
When using annotations like
[code]

The **unsigned** setting is ignored. This happens only when using MEDIUMTINT, while INTEGER and SMALLINT are working properly.

How can I fix this?

[2017-09-28 12:11] fmonts commented on #2870
Please ignore. I just found out that mediumint was a custom type I created, because not supported by Doctrine natively.

[2017-09-28 12:11] #2870 closed

[2017-09-29 15:53] nokios opened #2872 "getDropIndexSQL Does not properly handle indexes with dashes for SQLite"
Framework: Laravel 5.5
Package version : v2.6.2
PHP: 7.1.8

## Summary

When altering a table by dropping a column, SqlitePlatform is attempting to drop all indexes, and fails when dropping one with a dash in it because it is not escaping/quoting it.

## Problem:

When migrating an SQLite database to drop a column, part of the process is to drop the primary table and recreate it without said colum

[2017-10-01 12:42] lcobucci opened #2873 "Add microseconds support on datetime/time types"
This was suggested on https://github.com/doctrine/doctrine2/issues/6510, the user has the need of sorting entries with a more accurate precision. Some comments about this on #1515

[2017-10-02 07:53] Ocramius commented on #2872
@nokios a test case to reproduce the issue would be best

[2017-10-03 13:12] hanachan1026 opened #2876 "How to config Doctrine/Dbal "naming_strategy" config in Laravel?"
I have CamelCase columns in my DB.

When I want to change them from CamelCase to snake_case,
In the other word I run migrations, I have this error

[code]

Is there a way to change "naming_strategy" config value easily?

[2017-10-03 13:14] Ocramius commented on #2876
Don't understand what this is about: can you please clarify further?

The naming strategy is an ORM concept, not a DBAL one, and Laravel doesn't use the ORM.

[2017-10-03 13:21] hanachan1026 commented on #2876
@Ocramius
For example I have this column named "lowerCaseColumn",
to change the column name to "lower_case_column",

I run this

[code]

But laravel migration process doesn't read 'lowerCaseColumn',
it reads 'lowercasecolumn'.

To change column's info, I installed
[code]

[2017-10-03 13:22] Ocramius commented on #2876
@hanachan1026 sounds like that's a Laravel-specific issue: DBAL will not change the casing of what you pass to it.

[2017-10-03 13:23] hanachan1026 commented on #2876
@Ocramius sorry about this.
I'll look into this further.

[2017-10-03 13:23] #2876 closed

[2017-10-04 08:29] stof commented on #2456
Well, the contract of the method is `@return string`.
your own implementation changes this contract to `@return string|null`, which breaks OOP rules (a child class is not allowed to make the return value more generic, as it would mean that a code expecting an AbstractPlatform may not handle your return value).
You cannot expect the SchemaDiff tool to support `null` values there when the contract o

[2017-10-05 17:02] justin-sleep commented on #2868
PostgreSQL 10 is out of beta now: https://www.postgresql.org/about/news/1786/

[2017-10-05 17:38] Majkl578 commented on #2868
First we will need Travis CI to support it: https://github.com/travis-ci/travis-ci/issues/8537

[2017-10-06 07:56] PapsOu opened #2880 "Symfony 3 - Postgresql JSON type always appear in diff"
With Symfony 3.3.9, doctrine/common v2.8.1, doctrine/dbal v2.6.2 and doctrine/orm v2.5.11,  `bin/console doctrine:schema:update --dump-sql` always display changes related to JSON types even if applying them manually:
[code]

Here's gist for more details about versions https://gist.github.com/PapsOu/12805469b21bdeac6fe757174b8743f8

[2017-10-06 08:56] Bruce17 opened #2881 "Doctrine\DBAL\Schema\SqliteSchemaManager: "preg_match(): Compilation failed: missing ) at offset 163""
Hi,

I'm using Symfony with the [LiipFunctionalTestBundle](https://github.com/liip/LiipFunctionalTestBundle) to mock my database and create a local sqlite database mock.

Used bundles:
- doctrine/doctrine-bundle: v1.6.3
- doctrine/dbal: v2.5.4

One of my entitie's column name is `FOO#` (legacy database), which causes strange errors in https://github.com/doctrine/dbal/blob/v2.6.2/lib/Doctrine/DBAL/

[2017-10-06 16:17] morozov commented on #2881
@Bruce17 the original expression has `{` and `}` as delimiters. The version you provided puts the `isx` flags inside the regex which changes its logic. I believe the problem is that the call to `preg_quote()` doesn't have the second parameter passed, and `#` gets escaped (or something like that).

Could you create a pull request first so that the patch could be automatically tested? Also, there sh

[2017-10-08 13:19] lcobucci commented on #2880
Being fixed on https://github.com/doctrine/dbal/pull/2855

[2017-10-08 19:55] lcobucci commented on #2867
@alissonschneiderr you don't need to apologize for that, it's all good 😄

`mais de um registro foi retornado por uma subconsulta utilizada como uma expressão` that tells you everything you need to know. The subquery you're using as an expression is returning more than one row, which basically means that the DB cannot use it as an expression.

You should look at your data to know what's going on bu

[2017-10-09 14:48] mhetru commented on #2728
hello, is it possible to do this?

[2017-10-10 07:35] Bruce17 commented on #2881
Seems that `#` is also a special character in php regex, but gets not escaped by `preg_quote`. I prepared a pull request including a fix and updated the unit tests.

[2017-10-10 13:31] mwns opened #2886 ""Cycles or multiple cascade paths" problem using SQL Server 2017"
I have to migrate database from MySQL to SQL Server 2017 (new Linux version, using newest stable sqlsrv PHP driver) and there're some problems with _onDelete_ attribute:
[code]
I wonder what's the best way to solve this problem without removing mentioned attribute from annotations? Is it possible to achieve without using triggers? Obviously this error doesn't exist using MySQL database. Thank you

[2017-10-10 16:01] morozov commented on #2886
@mwns is it the only FK constraint in your schema? As far as I understand the error message, the FK in question may interfere with other constraints which you didn't mention.

I'm not a DBA, but if I had to solve this, I would:

1. Dump the schema into a SQL file.
2. Import it into the database.
3. Try to remove tables and constraints one by one until the problem doesn't go away.
4. By repeating 2

[2017-10-10 16:51] Majkl578 commented on #2881
I reported this to PHP directly as this is something it should be taken care of by PCRE itself.
https://bugs.php.net/bug.php?id=75355

[2017-10-10 16:57] morozov commented on #2881
Can we get rid of the `/x` modifier in expressions so that the `#` doesn't get interpreted as a comment start? The approach of passing a made up modifier still looks hacky.

[2017-10-10 17:08] Majkl578 commented on #2881
PR submitted to php-src: https://github.com/php/php-src/pull/2838

That would be also an option, it's there only for better readability.

[2017-10-10 17:27] alissonschneiderr commented on #2867
Hi @lcobucci thanks for the answer.

I understand the problem in general, but, I don't know what kind of problem with DB can be resulting this.

The SQL is not mine, it's doctrine.

On execute: validate-schema, the Doctrine return: [Mapping]  OK - The mapping files are correct.

My question is: What exactly may be returning more than one record?

[2017-10-12 10:14] mwns commented on #2886
The problem is that I can't see any symptoms of having multiple cascade paths or cycles in my entities. So it seems that SQL Server is too sensitive in this matter, comparing to other RDBMS. However I'll try your suggestion, thanks.

[2017-10-13 10:02] gwagroves opened #2888 "v2.5.13 includes annotations v1.* which breaks PHP 5 compatibility"
doctrine/dbal 2.5.13 [composer json](https://github.com/doctrine/dbal/blob/v2.5.13/composer.json)

[code]

resolves to doctrine/common 2.7.3.

doctrine/common 2.7.3 [composer json](https://github.com/doctrine/common/blob/v2.7.3/composer.json)

[code]

resolves to [doctrine/annotations 1.5.0](https://github.com/doctrine/annotations/tree/v1.5.0)

doctrine/annotations 1.5.0 requires PHP 7:

[2017-10-13 14:12] Ocramius commented on #2888
Please see http://doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html

Closing as `invalid`

[2017-10-13 14:12] #2888 closed

[2017-10-13 14:17] gwagroves commented on #2888
@Ocramius Yes, I see the link. It states that dbal 2.6.0 drops support for PHP 5.

But **dbal 2.5.13** has also inadvertently dropped support for PHP 5.6, because `doctrine/common@2.7.3` requires `doctrine/annotations@1.5.0`, which requires PHP 7.1.

[2017-10-13 14:18] Ocramius commented on #2888
@gwagroves no, the composer SAT system will simply exclude those dependencies when running `composer update`, since they aren't compatible with your environment.

[2017-10-13 14:21] gwagroves commented on #2888
Ah, OK. Good to know. Unfortunately we have to commit the dependencies, and `composer update` was run under `7.1`, but the server runs `5.6`.

Thanks!

[2017-10-13 14:22] Ocramius commented on #2888
@gwagroves eh, never ever ever ever ever do that: please run updates in a production-alike environment.

[2017-10-15 15:00] belgattitude opened #2892 "Test suite breaks with latest phpunit 6.4.2"
FYI, Travis build breaks after upgrade to phpunit 6.4.2. This test will fail:

[code]

[2017-10-16 02:41] PowerKiKi commented on #2892
In f5738295c592f4228045ba987725d8347d0ed7a6 @JeroenDeDauw ignored composer.lock from git. To me it looks like a bad practice and this issue would have been avoided if the lock file was still in git. I couldn't find any rationale behind ignoring that file. Is there any ?

If not, I'd suggest to re-add `composer.lock` to guarantee a stable test environnement and avoid breaking all PRs at once for un

[2017-10-16 05:10] JeroenDeDauw commented on #2892
Thanks for pinging.

If you pin the production code dependencies then the CI won't break if the latest version of packages (within the version ranges specified in `composer.json`) stops being compatible. The users of your library will not be so fortunate, and likely prefer if your CI breaks before theirs does.

[2017-10-16 05:12] Ocramius commented on #2892
Please don't commit the `composer.lock` in library code: we want to test
against the dependency set that our users will actually get, not some
random past state that "worked for us".

We already test max/min deps and that is sufficient to expose these issues.

On 16 Oct 2017 04:41, "Adrien Crivelli" <notifications@github.com> wrote:

[2017-10-16 22:09] belgattitude commented on #2892
Fixed in latest 6.4.3 ;)

[2017-10-16 22:09] #2892 closed

[2017-10-19 14:17] pierre-H commented on #2426
Same problem when using a sqlite with phpunit and symfony

[2017-10-19 15:13] PapsOu commented on #2880
Do you have any news about this PR ?

[2017-10-19 15:15] lcobucci commented on #2880
@PapsOu no, quite busy with paid work that I haven't been able to finish stuff 😢

[2017-10-23 18:11] kejwmen opened #2896 "convertToDatabaseValue is called when value is null"
Hi,
[ORM docs](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/cookbook/custom-mapping-types.html) states that:

But DBAL `Statement` [doesn't check that](https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Statement.php#L114), and I encountered errors for custom type that did not handle null for conversion.

I can see that types like `DateType`, `DateTimeType`, etc. ha

[2017-10-23 23:11] Ocramius commented on #2896
This seems to be wrong in the ORM docs

[2017-10-25 23:44] morozov opened #2897 "Incorrect handling of list parameters with sparse types"
When a list parameter is bound to a query but the previous parameter types are omitted, the query gets processed incorrectly.

Steps to reproduce:
[code]
Expected result:
[code]
Actual result:

[code]

[2017-10-26 02:12] kejwmen commented on #2896
Statement removed from ORM docs, closing.

[2017-10-26 02:12] #2896 closed

[2017-10-26 11:44] bitwombat opened #2898 "SQLite in-memory option useless without shared cache option"
I've tried to make this as short and as clear as possible.  Please bear with me.

SQLite's in-memory option would make my tests run 33x faster (!)  I know because they run that fast with a RAM disk.  But, a RAM disk doesn't work within Docker, and I'm trying to be a Big Boy and get my tests to work inside a Docker container.

The problem isn't that the in-memory db isn't persistent - I understand

[2017-10-26 13:50] alperyazgan opened #2899 "How to hide password in exception/error messages"
Hi,

I am using Laravel Framework with uses doctrine/dbal  :-) and every time there is a problem with connection (like no network or db server down) in laravel log I can see the following line :

Here is my question; is there a way in dbal to hide the account details showing in exception ?
Because system logs can be monitored by other users/softwares, this could lead to a security breach.

Or shou

[2017-10-26 13:59] Ocramius commented on #2899
That's unavoidable, because the parameters are somewhere in the trace. What
you want is to stop displaying exceptions to your users.

On 26 Oct 2017 15:50, "O. Alper YAZGAN" <notifications@github.com> wrote:

[2017-10-26 14:06] alperyazgan commented on #2899
Yes, not to show certain exception details sure ...
I see I am on my own ... Always there is a solution but I just wanted a short one ...

Thanks,

[2017-10-26 14:06] #2899 closed

[2017-10-27 00:43] bitwombat commented on #2898
Some PDO-only code to clarify:
[code]

[2017-10-27 01:15] bitwombat commented on #2898
Here's PDO using a shared in-memory database.

[code]

[2017-10-27 01:27] morozov commented on #2898
@bitwombat could you provide the code you use to instantiate your PDO connection using the DBAL? Additionally, it may help if you look at the parameters of `parent::__construct()` in `PDOConnection::__construct()` and see if there are any anomalies:

https://github.com/doctrine/dbal/blob/cd3bebc0c366646ae60d645e3f67daf2fddf698d/lib/Doctrine/DBAL/Driver/PDOConnection.php#L43

I cannot see any modif

[2017-10-27 07:02] bitwombat commented on #2898
Oops - my example above was "working" because a file named ":memory:?cache=shared" was being opened on disk!  So, something in PHP's PDO stuff isn't interpreting that URI.

SQLite3 has a sqlite3_enable_shared_cache function, so I'm currently looking in the PHP source for sqlite3.c to see if it even calls this.  Yak shaving!

[2017-10-27 09:23] bitwombat commented on #2898
I think this needs to be a documentation issue.  I'll close and make a new issue.

[2017-10-27 09:23] #2898 closed

[2017-10-27 10:52] bitwombat opened #2901 "SQLite in-memory option useless without shared cache option"
DBAL supports the `'memory' => true` option for SQLite database, but the way SQLite works, each new connection opening gets a new database.  This makes the feature useless because of how Doctrine opens up a new connection for every operation.

SQLite has an option that can be passed in the URI:  `sqlite::memory:?cache=shared`  This makes subsequent connection open operations share the same 'cache'

[2017-10-31 16:59] lecneri opened #2902 "Rename Foreign Key"
Hi,

I've opened this issue in migrations but I was told to come here to report this (original issue https://github.com/doctrine/migrations/issues/548).

Using doctrine to connect to MySQL 5.6.33 and I got this table which I noticed that I made a typo mistake and I'm trying to fix it through migration, so here what I've done:

1. Drop old foreign key
2. Drop old index
3. Add new index
4. Add new f

[2017-10-31 23:33] bordeux commented on #2880
also that bug is for JSONB colum :) I

[2017-11-01 13:02] iquad commented on #2868
when it is going to be migrated? it definently solves the problem, and because of new sequence architecture on postgresql 10 we can't define a generic method for that.

[2017-11-02 13:05] tdubuffet commented on #950
+1

[2017-11-02 14:47] JavierGrinon commented on #1067
Is there anything new about the implementation of this new feature? Last comment is one year ago @beberlei

[2017-11-03 12:01] XavierVILAIN opened #2904 "Issue getAlterTableSql not keeping the column order"
Hi,

in the file dbal/lib/Doctrine/DBAL/Platforms/MySqlPlatform.php method getAlterTableSQL could you replace :
$queryParts[] = 'ADD ' . $this->getColumnDeclarationSQL($column->getQuotedName($this), $columnArray);
By
  $queryPart = 'ADD ' . $this->getColumnDeclarationSQL($column->getQuotedName($this), $columnArray);
            if(isset($columnArray['previousColumnName']) && !empty($columnArray['p

[2017-11-03 12:20] Ocramius commented on #2904
@XavierVILAIN such a change request requires a failing test justifying it.

[2017-11-07 15:14] chrisguitarguy commented on #2118
I think this one can be closed, looks like `nextval` is handled correctly now: https://github.com/doctrine/dbal/blob/f5b85d182799c539d1a56aa145977aa2c43dfe1a/lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php#L248-L252

[2017-11-07 16:32] chrisguitarguy opened #2906 "Cannot Generate [BIG]SERIAL Columns Without a Default or NOT NULL"
The [postgres docs](https://www.postgresql.org/docs/current/static/ddl-default.html) have an example of a serial column without a `NOT NULL` declaration or default value.

[code]
This `CREATE TABLE` can't be done in DBAL schema APIs.

Specifying `notnull` to `false` in the column options adds a `DEFAULT NULL` to the column which errors with...

Anyway, I'd expect to be able to do something like th

[2017-11-07 21:37] Meir-Shapiro opened #2908 "Error for Fields Defined as Date Type with SQL Server Connection"
I have an Entity property defined as:
[code]
The field on the database is a date field as well.

I am getting the following error when trying to read the property:
[
![image](https://user-images.githubusercontent.com/6207542/32519145-cdcbff8a-c3d9-11e7-841d-7b2b7ed22e59.png)
](url)

I am using SQL Server 12 database.
I am using doctrine/dbal:2.6.2

It seems that the `Date` type is still expecting

[2017-11-08 08:24] S0QR2 opened #2910 "Whoops when accessing Admin Settings "/admin" after Upgrade"
Hello,

i am running snipeit in a subfolder. Which was working great until i upgraded from 3.X to 4.X and now to 4.1.3. I cant access the /admin Settings via the "Gears"-Icon in the top right. I always get a red bar with "whoops ....".

Everything else seems to work. I can see, edit, create assets and people. All Data is available and working.

Anyone got an idea where i could start to look. I can

[2017-11-08 08:37] Ocramius commented on #2910
Closing here - while the exception may be raised by DBAL, this needs to be verified to be a DBAL issue before reporting it, sorry.

[2017-11-08 08:37] #2910 closed

[2017-11-12 11:17] lcobucci commented on #2118
Awesome, thanks @chrisguitarguy!

[2017-11-12 11:17] lcobucci commented on #2118
Closing as per @chrisguitarguy's review

[2017-11-12 11:17] #2118 closed

[2017-11-12 12:07] tasselchof opened #2913 "Schema indexes update"
Mapper is duplicating queries to create indexes on orm:schema-tool:update --dump-sql command with latest PostgreSQL.

DROP INDEX si_type_unique_idx;
CREATE UNIQUE INDEX si_type_unique_idx ON storage_items (warehouse_id, sku) WHERE state IS NOT NULL AND state = 'unique';

[2017-11-13 14:37] robbeman opened #2915 "Hosted documentation has a bad reputation on brightcloud"
I don't know if this is the right place to post this, but here it goes:

Our company uses a firewall which syncs to brightcloud. http://docs.doctrine-project.org/ has a bad reputation in their database. You can look up the reputation of the URL with the lookup tool provided by brightcloud http://www.brightcloud.com/tools/url-ip-lookup.php

I've requested more info on this from our network maintain

[2017-11-14 07:59] robbeman commented on #2915
In the meantime this domain is whitelisted on our network and I have requested a reputation and category change with brightcloud, this way other firewalls syncing with brightcloud will hopefully not bump into the same issue.

[2017-11-14 12:44] robbeman commented on #2915
Allright, apparently it was enough for me to request a reputation change, sorry for bothering here.

[2017-11-14 12:44] #2915 closed

[2017-11-14 18:58] synthead commented on #2868
Just tried @wzator's changes and it works fine here 👍

[2017-11-15 11:35] PapsOu commented on #2880
Hi @lcobucci, do you have any news about the PR ?

[2017-11-15 12:07] lcobucci commented on #2880
@PapsOu I'm waiting for reviews now. The fix is failing for Oracle but I didn't have time to look into that yet.

[2017-11-15 12:41] bordeux commented on #2880
@lcobucci  what is your branch/repo name ? Where can i make some fixes ?

[2017-11-15 12:42] PapsOu commented on #2880
@bordeux Everything is here... https://github.com/doctrine/dbal/pull/2855

[2017-11-16 15:30] morozov opened #2917 "Incremental check for coding standards in pull requests"
The existing approach of running `phpcs` over the entire codebase on pull requests is not really helpful because:

1. The build stage [always fails](https://travis-ci.org/doctrine/dbal/jobs/289967293) due to existing standard violations.
2. It's unlikely that they all will be fixed any time soon due to the number of them (looks like thousands).
3. Fixing some violations may be BC-breaking-ish (e.g

[2017-11-17 03:29] Sharom commented on #2596
I have the same problem when type is a child of `StringType`.

**Type code example:**
[code]

[2017-11-17 14:52] chrisguitarguy commented on #2913
@tasselchof I suspect you'll need to provide the mapping you're using as well (the annotations, xml, yaml, or whatever).

[2017-11-18 21:31] #2880 closed

[2017-11-18 21:51] tasselchof commented on #2913
Here it is:
`<?php
/**
 * Created by PhpStorm.
 * User: tasselchof
 * Date: 08.06.15
 * Time: 2:52
 */

namespace Orderadmin\Storage\Entity;

use Application\Entity\Model\ExtractableInterface;
use Application\Entity\Traits\Entity;
use Doctrine\Common\Collections\Collection;
use Doctrine\ORM\Mapping as ORM;
use Gedmo\Mapping\Annotation as Gedmo;
use Orderadmin\Products\Entity\Order;
use Orderadmin\

[2017-11-18 23:29] #2859 closed

[2017-11-18 23:39] Tobion commented on #2326
You can set the `collation` option on column (see #2919). The collation also afffects the charset. @rquadling  can you give an example where you need to use `charset` but cannot use `collation` instead? Otherwise I'd consider this problem as Won't fix as there is a more flexible solution already.

[2017-11-19 00:16] #2906 closed

[2017-11-19 00:25] Tobion commented on #2811
Fix provided in https://github.com/doctrine/doctrine2/pull/6830

[2017-11-19 00:45] #2596 closed

[2017-11-19 03:36] chrisguitarguy commented on #929
Pretty sure this is/was fixed in https://github.com/doctrine/DoctrineBundle/pull/434 and can be closed here.

Platform detection may may the connection non-lazy and cause issues, however.

[2017-11-19 03:50] chrisguitarguy commented on #1097
I suspect this one can be closed as [`composer.json` requires PDO explicitly now](https://github.com/doctrine/dbal/blob/ea968dfd02b48eb6350b8ee1dd59c5390ed654a6/composer.json#L16).

[2017-11-19 04:04] lcobucci commented on #1097
@chrisguitarguy thanks!

[2017-11-19 04:05] lcobucci commented on #1097
Fixed in #2709

[2017-11-19 04:05] #1097 closed

[2017-11-19 04:11] chrisguitarguy commented on #1188
I'd say duplicate of #1110

[2017-11-19 04:12] lcobucci commented on #929
Closing as per @chrisguitarguy review.

[2017-11-19 04:12] #929 closed

[2017-11-19 04:41] #2815 closed

[2017-11-19 05:00] morozov commented on #1097
This is a thing I still don't understand about the DBAL: as a user,why in order to use `oci8` or `ibm_db2` I should also install PDO? I understand that _for some reason_ the DBAL it uses its contstants as part of its API but it looks like a design issue.

Would the community consider a patch which replaces the usage of PDO constants with its own ones?

[2017-11-19 05:27] lcobucci commented on #1097
@morozov we had that discussion already, right? maybe we can review this for `v3.0`?

[2017-11-19 05:34] lcobucci commented on #2917
Just one small comment, the checker should use the `phpcs.xml.dist` present in the repo and not only the doctrine standard. That's the default behaviour of `phpcs`.

[2017-11-19 05:46] morozov commented on #1097
@lcobucci https://github.com/doctrine/dbal/pull/808#issuecomment-298652811 is the only discussion I'm aware of. The patch wasn't about fixing the real issue. `v3.0` sounds reasonable to me.

[2017-11-19 11:51] #2819 closed

[2017-11-19 17:11] chrisguitarguy commented on #2
Fairly sure this can be closed. The change mentioned was added in 2.X. If it was breaking, it was part of a major version and okay by semver.

All the issues mentioned here seem to be random stack traces and things.

[2017-11-19 17:14] chrisguitarguy commented on #978
Link is fixed now! can probably close this one.

![screen shot 2017-11-19 at 11 13 02 am](https://user-images.githubusercontent.com/1010392/32993231-aa7fef42-cd1a-11e7-9818-41edc4d9c5d8.png)

[2017-11-19 17:24] chrisguitarguy commented on #1065
Looks like they [added](https://github.com/quantum13/cphalcon/blob/0453f0df49134fcb838e134559b7ed47ff134d8e/tests/unit/Phalcon/Db/Utils/SQLParserTest.php#L27-L48) the [license](https://github.com/quantum13/cphalcon/blob/0453f0df49134fcb838e134559b7ed47ff134d8e/phalcon/db/utils/sqlparser.zep#L23-L44). Can be closed?

[2017-11-19 18:34] morozov commented on #978
Thanks, @chrisguitarguy.

[2017-11-19 18:34] #978 closed

[2017-11-19 18:37] morozov commented on #1065
Looks like they got the answer to their question.

[2017-11-19 18:37] #1065 closed

[2017-11-19 18:39] #2 closed

[2017-11-20 07:36] morozov commented on #2917
@lcobucci this will be possible after I release a new version built with `phpcs ^3.1` due to squizlabs/PHP_CodeSniffer/issues/1591. It will have to be run like this:
[code]
The standard and the rest of parameters will be taken from `phpcs.xml.dist`.

[2017-11-20 12:46] rquadling commented on #2326
I can't remember the exact use case, but the charset was UTF-8 and I wanted to use a different collation (utf8_unicode_ci rather than utf8_general_ci) ... I think. Not exactly sure.

Or, put it another way, whatever the issue was at the time that led me to post this ... we're 21 months on and I've not been held up by this issue. :-/

[2017-11-21 07:16] BunnyHolder commented on #1088
Having temporary entity would be nice.

[2017-11-21 11:12] Vencarii opened #2922 "convertToPHPValue() adds a time zone to timestamp column"
I store data as "timestamp without time zone" in a postgres 9.2 database. Doctrine somehow adds a time zone when it converts the data to a php value, 2017-05-26 12:21:30.565211 becomes 2017-05-26 12:21:30.565211+02

When I query for that data I get the following stack trace in symfony 3.3.1:

[code]

[2017-11-21 11:26] #2922 closed

[2017-11-21 11:43] Ocramius commented on #2922
@Vencarii what's the resolution here?

[2017-11-21 11:58] martinepic commented on #2752
@Ocramius
I'm in the same situation.
Any position?

[2017-11-21 13:00] belgattitude commented on #2917
@morozov, I won't have time for few weeks but just to tell it will be super useful to me.

[2017-11-21 13:14] belgattitude opened #2923 "MariaDB 10.2 extended support (meta)"
Once initial MariaDB 10.2 support (#2825) has landed (2.7), some tasks can be addressed. Not an issue, but just to keep as reference.

Re-enable features (code already exists):

- [ ] JSON support. See https://github.com/doctrine/dbal/issues/3202.
- [ ] Support for BLOB/TEXT defaults. See https://github.com/doctrine/dbal/pull/4917.
- [x] Escaping of default literals (all platforms - see with #2850

[2017-11-21 13:15] martinepic commented on #2752
@Ocramius @jedkirby

I'm working on a project that has several primary composite keys.
Some entities have a primary key with auto increment + composite keys, I understand that the architecture of this project is a horrible one, but unfortunately it is the way I can work authentically.

I got a solution.
example:

`class TesteRepository extends EntityRepository implements TesteRepositoryInterface
{

[2017-11-21 13:43] Ocramius commented on #2922
Thanks for clarifying!

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Tue, Nov 21, 2017 at 2:37 PM, Vencarii <notifications@github.com> wrote:

[2017-11-21 20:11] morozov commented on #2917
@belgattitude I think we all need some rest :)

[2017-11-22 02:17] morozov commented on #2752
@martinepic it will work if the query doesn't have parameters like in your case but won't work for migrations as in the original one.

If only we could `Statement::query()` signature and add `$params` like `query($sql, array $params = [])`, we could solve this problem entirely. But before that, we need to understand what additional arguments of `PDOConnection::query()` can be used for and if it's

[2017-11-23 10:22] exebece commented on #2868
have this problem in doctrine2 using in symfony 3.3 version. no matter which ,,auto-identity'' aproach I chose, I got this error too.

[2017-11-23 11:16] simPod commented on #2868
We are waiting for PSQL10 support in Travis I guess. Meanwhile you can use code from my PR. https://github.com/doctrine/dbal/pull/2893

[2017-11-23 11:39] exebece commented on #2868
thank you, i'll analyze your commit and use it.

[2017-11-24 01:49] photodude opened #2924 "Test failure: MysqliConnectionTest::testRestoresErrorHandlerOnException on appveyor"
The following failure occurred on recent appveyor testing with
db=mariadb, driver=pdo_mysql
db=mssql, driver=sqlsrv, db_version=sql2008r2sp2
db=mssql, driver=pdo_sqlsrv, db_version=sql2008r2sp2

[code]
https://ci.appveyor.com/project/photodude/dbal/build/1.0.256/job/b74yrv4i6h3i0b1y
https://ci.appveyor.com/project/photodude/dbal/build/1.0.256/job/iakaekt0evwh68lr
https://ci.appveyor.com/project/ph

[2017-11-24 22:35] lcobucci commented on #2866
@cduran433 could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can use these tests as example: https://github.com/doctrine/dbal/blob/954ce2e82c5892dfbd51c4bf5bd154c85fc3ecf8/tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php#L1206-L1336

[2017-11-26 06:49] SCIF opened #2925 "Incorrect handling changed primary key"
I've received next error message:

[code]
Searching got me next ticket: https://github.com/doctrine/doctrine2/issues/6271

Here is a dump of diff:
[code]

Diff looks correct except one notice: name for primary keys is `primary` for newely generated index but typical postgres schema looks like `{$tableName}_pkey`. That difference causes generation incorrect SQL [here](https://github.com/doctrine/db

[2017-11-26 09:18] lcobucci commented on #2925
@SCIF thanks for being ready to help us! Writing functional tests for schema comparison is quite simple, you can use these tests as example: https://github.com/doctrine/dbal/blob/954ce2e82c5892dfbd51c4bf5bd154c85fc3ecf8/tests/Doctrine/Tests/DBAL/Functional/Schema/PostgreSqlSchemaManagerTest.php#L470-L505

[2017-11-27 10:16] greg0ire opened #2926 "Type names with backslashes cause failing upgrades"
I'm planning ahead and starting to use FQCNs as custom doctrine type getName implementation, as well as registering them under that name with Type::addType. Sadly, it seems SQL comments with backslashes are somehow not matched with the desired value, and the upgrade command fails with :

[code]

This is slightly different than what I described in doctrine/doctrine2#6752 .

Here is the column comme

[2017-11-30 07:41] sergiors opened #2928 "it looks like this broke in psql 10"
https://github.com/doctrine/dbal/blob/4f7c1b7231e64e1c0b3ed39136120f9e9bb246fb/lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php#L292

How can I add that line to solve the problem for pgsql 10?
[code]

[2017-11-30 08:44] lcobucci commented on #2928
@sergiors we don't support PGSQL 10 yet. There're some PRs discussing and fixing some things but they're blocked for now since Travis doesn't support PGSQL 10 too.

Please go through the recent PRs and check if they already solve this problem. If they do solve it, please close this issue. If not, you'll have some examples on how to fix it (starting with the tests, please).

[2017-11-30 11:21] SCIF commented on #2925
@lcobucci , please take a look on test introduced: https://github.com/SCIF/dbal/commit/c7ca968c13846080d46d9f8cf6c4ae43eb4a7caf

[2017-11-30 11:29] lcobucci commented on #2925
Can you send us a PR? It's way easier for us

[2017-11-30 11:30] SCIF commented on #2925
@lcobucci , I thought to send PR since I will fix it. Right now it's just test case reproducing issue.

[2017-11-30 13:46] lcobucci commented on #2925
@SCIF you can send the PR with the test only and add new commits with the fix later 👍

[2017-11-30 14:22] sergiors commented on #2928
Thanks @lcobucci I'm following the issue #2893

[2017-11-30 14:22] #2928 closed

[2017-11-30 21:59] SCIF commented on #2925
PK'es are treated as index. Let's assume it's correct idea and should not be changed.
So, [these lines](https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Platforms/AbstractPlatform.php#L2067-L2069) looks correct and next step is take a look [here](https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Platforms/AbstractPlatform.php#L1438). We can't distinct PK'es and general i

[2017-11-30 23:44] WhiteEagle88 opened #2930 "Comparator doesn't see changes in the length of TextType field"
Related to: https://github.com/doctrine/doctrine2/issues/6824
I changed field type to 'text' and found what 'Comparator' doesn't compare length for TextType

Maybe I something missed. Let me know

[2017-12-01 10:44] Zyqsempai commented on #2868
Guys, what the status of the issue?? When we can expect fix?

[2017-12-01 11:11] simPod commented on #2868
Read the comments please

https://github.com/doctrine/dbal/issues/2868#issuecomment-334538085
https://github.com/doctrine/dbal/issues/2868#issuecomment-346591512

[2017-12-05 11:00] SCIF commented on #2925
Hi @lcobucci , I changed my mind and implemented a fix in another way. Could you check it? All green except scrutinizer's check detected previously introduced bugs. Please take a look on my implementation.

[2017-12-05 18:25] Majkl578 commented on #2817
This is duplicate of #6565 (or the other one duplicate of this one but I'll keep that one open as it has more relevant discussion).

[2017-12-05 18:25] #2817 closed

[2017-12-05 19:37] Kleinkind commented on #1222
I'm still facing this Issue using symfony 4.0.1 & postgres 10.1. Am I missing something or is this still a problem?

Changing the Method `Doctrine\ORM\Mapping\DefaultQuoteStrategy::getTableName` to rely on the Platform-Implementation in order to decide, whether escaping the Identifier via `$platform->quoteIdentifier(...)` is necessary or not, solved the problem for me (of course changing vendors i

[2017-12-05 19:45] samusenkoiv commented on #1222
@Kleinkind I have the following annotation:

and have no problems

[2017-12-05 19:51] Kleinkind commented on #1222
Yes, that works, but that can't (or at least shouldn't) be the solution, right?

[2017-12-05 20:42] Kleinkind commented on #1222
Ok, maybe I was a little bit harsh on this, as it is explicitly mentioned in the Symfony- & Doctrine-Documentation
 - https://symfony.com/doc/current/doctrine.html#doctrine-adding-mapping
 - http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/basic-mapping.html#quoting-reserved-words
But as it seems to be a common pitfall, what is the reason not to rely on the platform to es

[2017-12-06 22:09] drscre commented on #2315
The downside of explicitly passing \PDO instance is that your connection becomes not lazy.

[2017-12-07 02:09] morozov commented on #2917
Here's how developers can validate their code before pushing on github: https://asciinema.org/a/151458.

[2017-12-09 00:41] Majkl578 commented on #2924
Assertion was added in #2704.

[2017-12-09 14:24] photodude commented on #2924
@Majkl578 looking at #2704 it seems some platforms have different strings in this test.
`Network is unreachable` is a valid error in some platforms,
`The requested address is not valid in its context` is a valid error in others.

[2017-12-15 08:38] Gregwar opened #2938 "Question about database URL"
Hello,

I observed a strange behaviour using `pdo_sqlsrv`. The following won't work:

[code]

When the following works:

[code]

Looks like the "protocol driver" and the host are not processed correctly?

[2017-12-16 11:26] vudaltsov commented on #1110
I think, I found a cleaner solution. At least for PostgreSQL.
And it looks like it follows @deeky666's advice in https://github.com/doctrine/dbal/pull/2490#issuecomment-272990941 since it uses `AbstractSchemaManager::getSchemaSearchPaths()` through [PostgreSqlSchemaManager::determineExistingSchemaSearchPaths()](https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Schema/PostgreSqlSchemaM

[2017-12-18 15:22] PirxDanford opened #2941 "Found an issue with PREG_JIT_STACKLIMIT_ERROR"
We are using the version 2.5.13, but the issue is also true for all the following versions of the file
https://github.com/doctrine/dbal/blob/729340d8d1eec8f01bff708e12e449a3415af873/lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php#L123

More informations about this can be found here
https://stackoverflow.com/questions/39685883/php-preg-jit-stacklimit-error-inefficient-regex

It would be great that

[2017-12-19 12:08] lcobucci commented on #2941
@PirxDanford sorry but can you provide more information about that, maybe even a test that confirms the issue?

I've applied a small change on your script and everything seems to work in all supported PHP versions: https://3v4l.org/EbQ7Y

[2017-12-19 12:55] Majkl578 commented on #2941
Can't reproduce locally with JIT enabled. Can you please provide information about your PCRE library - version and configuration? Thanks.

[2017-12-19 15:53] Jujunol commented on #2558
As far as I'm aware, `timestamp` isn't _"MySQL-Specific"_ It's used in MariaDB, PostgreSQL, Transact-SQL, and Oracle as well.

[2017-12-19 15:56] Ocramius commented on #2558
It has custom formats on all these platforms, and specifically the MySQL one should never really be used.

[2017-12-20 11:36] Bruce17 opened #2947 "SqliteSchemaManager comment miss match"
Hi,

there seems to be an error with the regex in `parseColumnCommentFromSQL` since the changes in https://github.com/doctrine/dbal/commit/8c8b82834d5a1b5dbfb229fdcaea88f2e2e12a73#diff-3ee26e34bba502d9bf80cff65c964b9a (PR https://github.com/doctrine/dbal/pull/2865). This regex assumes the sql has line breaks. Passing SQL without line breaks (single line SQL) will break this.

The unit test cases a

[2017-12-20 12:00] #2947 closed

[2017-12-20 12:02] Bruce17 commented on #2947
My fault ... closing

[2017-12-22 07:21] #2917 closed

[2017-12-22 15:29] derekrprice commented on #2176
Isn't adding a new public method to the ResultStatement object a backwards compatible change?  Why can't this be done in 2.x?  The method is part of the PDOStatement API, which the ResultStatement API otherwise appears to mimic.

[2017-12-22 15:34] Majkl578 commented on #2176
It is not. ResultStatement is an interface, any new methods introduced in interfaces are subject to BC breaks.

[2017-12-27 01:14] Majkl578 commented on #2868
#2893 has been merged and added Postgres 10 support, closing this one as duplicate.

[2017-12-27 01:14] #2868 closed

[2017-12-27 01:32] Majkl578 commented on #2938
The scheme should be `sqlsrv`, not `pdo_sqlsrv`, underscore is not a valid character for protocol scheme (it's parsed by `parse_url()` internally). See https://3v4l.org/9fK7Q vs. https://3v4l.org/OYQF8.

[2017-12-27 01:32] #2938 closed

[2017-12-27 01:35] Majkl578 commented on #2924
@photodude The simplest way seems to be to remove the assert for message and only assert that exception was thrown. Maybe it could be replaced by asserting exception code, if there is any.

[2017-12-27 03:25] photodude commented on #2924
@Ocramius Would @Majkl578's proposal^ to "only assert that exception was thrown" be acceptable?

[2017-12-27 04:27] morozov commented on #2924
FWIW, dropping the verification of the exception message is acceptable since it belongs to the current TCP/IP stack implementation. Unless there's something else which we can use to identify the nature of the error (like the error code mentioned above), we can just verify the fact of the exception thrown.

[2017-12-27 04:42] morozov opened #2953 "Unlike other drivers, DBAL has a hard dependency on PDO"
Historically, the DBAL public API uses `PDO` constants which creates a hard dependency and makes the abstraction not that abstract. For the end user, it means that even if none of the `PDO` drivers are going to be used, the production environment still has to have `ext-pdo` installed.

To eliminate the dependency, the `PDO` constants in the method signatures should be replaced by the DBAL's own on

[2017-12-27 04:55] morozov commented on #2953
So far, I've stumbled upon unclear issues:

1. [`ResultStatement::fetch()`](https://github.com/doctrine/dbal/blob/fcc00deed202e92c62953eb0d833dd203c42d429/lib/Doctrine/DBAL/Driver/ResultStatement.php#L85) declares support of `PDO::FETCH_ORI_*` constants. In fact, they are only supported by `PDO`. Most likely, it's not used anywhere and therefore can be dropped.
2. [`Statement::bindParam()`](https:

[2017-12-27 12:22] podorozhny commented on #2072
ping

[2017-12-27 12:23] Ocramius commented on #2072
@podorozhny pinging is useless - open a PR with a failing test case.

[2017-12-28 10:43] ankush8858 commented on #2642
Sometimes after updating php also if you are getting same error then please delete composer.lock file.

[2017-12-28 18:55] Majkl578 commented on #2926
Observed this as well, possibly platform-dependent (double-)quoting issue, needs investigation.

[2017-12-28 20:17] morozov opened #2954 "The IBM DB2 Statement driver suppresses errors triggered by db2_execute"
`db2_execute()` can trigger different kinds of errors internally:

1. A notice:
[code]
   Expected result:
[code]
   Actual result: nothing. The error is suppressed.
2. A catchable fatal error:
[code]
   Expected result:
[code]
   Actual result: nothing. The script silently exists.

Neither of the errors above seems to be needed/possible to handle on the DBAL level. The first one doesn't make `db2

[2017-12-28 22:47] photodude commented on #2924
I did a quick test switching `$e->getMessage()` with `$e->getCode()` in the test. Unfortunetly I got `0` as the error code. `0` does not seem like a valid code to me.

https://travis-ci.org/photodude/dbal/jobs/322699909

seems like just checking that an exception was thrown might be the primary option.

[2017-12-28 23:00] morozov commented on #2924
@photodude #2704 seems to be about a generic error, not necessarily the "Network is unreachable" one. Looks like not the best way to trigger a generic error was chosen.

The test checks the error message to prove that this is the error triggered by `mysqli::real_connect()`, not another accidental one. We probably could find some other circumstances under which it will trigger a predictable error a

[2017-12-29 03:13] photodude commented on #2924
Also note this is an issue specifically with testing on windows as it's coming from the WIP appveyor CI PR

[2017-12-29 03:16] morozov commented on #2924
@photodude I understand. That's why I'm suggesting instead of triggering the error whose message depends on the OS to trigger another one which doesn't.

[2017-12-29 14:17] yurtesen commented on #1110
I have also faced with this problem.

[2018-01-04 03:39] morozov opened #2961 "Code style check fails on develop"
The [failure](https://travis-ci.org/doctrine/dbal/jobs/324833235#L532) is caused by the fact that the shallow clone only has the reference to `master` but doesn't have references to other branches from the target repository.

[2018-01-04 06:44] #2961 closed

[2018-01-04 06:45] Ocramius commented on #2961
Next `develop` rebase should fix this 👍

[2018-01-04 20:16] morozov opened #2963 "OCI8Statement::fetch() ignores the PDO::FETCH_COLUMN mode"
The issue was discovered by a [continuousphp build](https://continuousphp.com/git-hub/doctrine/dbal/build/fea37953-01cc-4297-b23a-8de4b06d3e06). It could be reproduced as:
[code]

[2018-01-05 10:25] mikeSimonson commented on #2941
and php version

[2018-01-05 10:40] PirxDanford commented on #2941
Hi - I am just back from vacation. This error happened on the setup of a colleague. I'll provide more details next week.

[2018-01-06 00:35] ameshkin commented on #1340
same here.  Im very new to this silex setup that uses this code

[2018-01-06 11:11] Ocramius commented on #1340
Please report it again with a test case: we can't really help otherwise.

[2018-01-07 22:59] #2963 closed

[2018-01-08 13:33] PirxDanford commented on #2941
Hi again. So this is pretty tricky to reproduce.

Failing conditions:
- DBAL 2.5.13
- PHP 7.0.26 (with jit enabled)
- Apache 2.4.7
- PCRE 8.38

To prove it really is happening I provide you with this result snippet, from where it should be possible to find all other configuration details:
https://pastebin.com/5bsbM3yC

It will only fail within Apache and not in the CLI, but there could be other se

[2018-01-08 13:54] mikeSimonson commented on #2941
Can you check the size that is define on the line ```define PCRE_JIT_STACK_MAX_SIZE``` in the file named ext/pcre/php_pcre.c that phpbrew compile ?

[2018-01-08 15:03] PirxDanford commented on #2941
Yes that line is:
#define PCRE_JIT_STACK_MAX_SIZE (64 * 1024)

Also I set up a VM in the same way now and can reproduce the failure as well, so I can provide details directly now.

[2018-01-08 16:53] davoult opened #2969 "[MSSQL] reverse engineering from tables that don't have a primary key"
Hello,

I'm trying to create an entity on Symfony with the following command:
`php bin/console doctrine:mapping:convert --em isa --force  --from-database annotation ./src/Entity/Isa`

But, i have the following message:
` Table OBJET has no primary key. Doctrine does not support reverse engineering from tables that don't have a primary key.`

I have double checked and i have a PRIMARY Key on my tab

[2018-01-08 16:58] Ocramius commented on #2969
@davoult check if the schema manager in DBAL can fetch the PK - if not, that's a bug.

[2018-01-08 18:29] davoult commented on #2969
@Ocramius Thank you for your response.

With this command i can fetch the information about the PK:

`php bin/console doctrine:query:sql --connection=isa "SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'APPEL' AND COLUMN_NAME = 'NO_APPEL'"`

[code]

[2018-01-09 02:09] Prabhareg2 opened #2970 "How do i resolve this issue"
I'm getting this error, when trying to run a select query: " Doctrine\DBAL\Exception\DriverException: An exception occurred while
executing 'SELECT t0.id AS id1, t0.ended_at AS ended_at2,
t0.enter_action_id AS"

MySQL server has gone away
1 File "/var/www/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php"
line 115 in convertException
2 File "/var/www/vendor/doctrine/dbal/lib/Do

[2018-01-09 05:34] Ocramius commented on #2969
There's some misunderstanding: I mean the DBAL schema manager.

On 8 Jan 2018 19:29, "Sébastien DAVOULT" <notifications@github.com> wrote:

[2018-01-09 06:01] Ocramius commented on #2970
This is generally due to long running processes. If you have a long running process, you want to use `Doctrine\DBAL\Connection#ping()` and check if the connection is still alive before resuming operations. If not, you will need a new connection and `EntityManager`.

[2018-01-09 06:01] #2970 closed

[2018-01-09 11:12] davoult commented on #2969
Sorry, I'm learning how to use Doctrine.
How can i do that ?

Thank you,

[2018-01-09 11:53] Ocramius commented on #2969
Try using this: https://github.com/doctrine/dbal/blob/a5326972994d2906989c9b96d487d5b4e62a1d6a/lib/Doctrine/DBAL/Connection.php#L1456 and retrieving information about that table through it.

[2018-01-09 17:16] davoult commented on #2969
Thank you @Ocramius and sorry for delay.

I think the SchemaManager success to fetch the PrimaryKey:

![image](https://user-images.githubusercontent.com/4965616/34733457-bd4ae8c2-f568-11e7-9fdc-54fd596397c2.png)

[2018-01-09 17:23] Ocramius commented on #2969
Can you check where the exception occurs, and see if the schema manager is used the same way? It looks like the DBAL side is fine, but then maybe ORM is expecting fields that aren't there...

[2018-01-09 17:49] jnvsor opened #2972 "Platform-specific querybuilder classes"
Certain platform-produced sql such as upsert is best made in the abstractplatform with a query builder, allowing it to be changed afterwards. But said platform-specific sql can't be implemented with a generic query builder.

For example, the only way to produce this valid mysql query in the `QueryBuilder` class would be to tack the last half onto the `orderBy` part. That's pretty bad.

[code]

Can

[2018-01-09 17:51] Ocramius commented on #2972
No, this is not going to happen:

 1. Inheritance is not the correct approach for that
 2. We only maintain code that is cross-platform compliant. Anything else is outside the scope of this project.

[2018-01-09 17:51] #2972 closed

[2018-01-10 09:21] davoult commented on #2969
# Exeption trace:

[code]

Sorry, but i don't know if the schema manager uses the same way .

[2018-01-10 12:12] Ocramius commented on #2969
Check https://github.com/doctrine/doctrine2/blob/8be1e3f1d31227953dc3999508511b0bc8ef167e/lib/Doctrine/ORM/Mapping/Driver/DatabaseDriver.php#L278 - possibly interesting to check what that table thing contains, and where it comes from.

[2018-01-10 13:37] verganis opened #2974 "Issue with getRenameIndexSQL being case-insensitive"
We found out an issue with DB migration created through Doctrine/DBAL because an index created as "IDX_E0AEF1841F7B7B69" was later referred to as "idx_e0aef1841f7b7b69".

This works well on Windows systems but when the migration is performed on a Mac system it fails, simply because the index called "idx_e0aef1841f7b7b69" does not exist.

We are working on Symfony / Mysql stack and our DB collation

[2018-01-10 15:02] davoult commented on #2969
dump($table);

[code]

[2018-01-10 16:57] morozov commented on #2974
@verganis could you provide an self-contained use case to reproduce this issue? In MySQL, depending on the filesystem and the storage engine, object names can be case-sensitive or case-insensitive. Particularly, MyISAM table names are case-insensitive on Windows but are sensitive on Linux.

DBAL should use the same case everywhere and not rely on case insensitivity.

[2018-01-10 17:02] Ocramius commented on #2974
I think we implemented case-insensitive diffing for a lot of symbols due to
`EXPLAIN` reporting them with different casing. Would need to dig up the
ticket though...

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Wed, Jan 10, 2018 at 5:57 PM, Sergei Morozov <notifications@github.com>
wrote:

[2018-01-10 17:42] verganis commented on #2974
Hello, thanks for the quick reply.
We are facing this issue in a company project which is not open-source.
To create a self-contained example could take us some time.
We can see that the table name it's respected, it's the index which is suffering from a case change we can't really explain.
From a broader search we can see that each time an "ALTER INDEX" instruction is generated the same issue is

[2018-01-11 04:46] Majkl578 opened #2975 "[3.0 proposal] Deprecate mutable DateTime-based types"
I'd like to deprecate DateTimeType, DateTimeTzType, DateType and TimeType in favor of their immutable siblings. Possibly also alias the names in 3.0 so `datetime` uses immutable by default.
Using mutable DateTime is generally discouraged as of DateTimeImmutable addition in PHP 5.5. It leads to many WTF effects due to methods like `modify()` that modify itself, but also is not supported i.e. in ORM

[2018-01-11 05:02] Majkl578 opened #2976 "[3.0 proposal] Let BigInt be integer in PHP, not string"
BigInt has size of 8 bytes, same as PHP integer on 64-bit platfoms. It doesn't feel right to see and use an integer as string these days.
This would require 64-bit PHP architecture (x64, x32) for BigIntType, which shouldn't be an issue nowadays, but for 32-bit compatibility there could be _fallback type_ (or a switch in BigIntType) available which would mimic current behavior.
Another possible iss

[2018-01-11 09:16] Ocramius commented on #2976
This is not a BC Break worth pursuing, in my opinion. Most folks just need `INT` (no `BIGINT`), while those that do in fact need a `BIGINT` may have already very customized code that uses strings and GMP to operate.

[2018-01-11 09:16] #2976 closed

[2018-01-11 09:18] Ocramius commented on #2975
This is not a bug for DBAL, but rather for ORM.

DBAL doesn't touch the `DateTime` instances, so we're safe in this library.

What we can (and probably should) do in ORM is triggering deprecation warnings during metadata validation.

I fully agree with the fact that `DateTime` is obsolete and inadequate these days, but we provide a functionally pure API for type conversion, so the mutability is no

[2018-01-11 09:35] Ocramius commented on #2969
@davoult I suggest looking at why that `_primaryKeyName` is empty - that happens somewhere in the schema manager ( https://github.com/doctrine/doctrine2/blob/8be1e3f1d31227953dc3999508511b0bc8ef167e/lib/Doctrine/ORM/Mapping/Driver/DatabaseDriver.php#L262 )

[2018-01-11 09:37] davoult commented on #2969
I come back to you with some information:

I tried to reverse another Table on another Database on another MSSQL Server version (Version 2008), and the entites was to create successfuly.

I'm tried to create in this DataBase, one table without Primary Key, i'm throwing exception, it's normal.

So, at this moment, the issue was come from SQL Version or Database schema, so i have created a database

[2018-01-11 10:22] verganis commented on #2974
Additional details: after further investigation the table "team_closure" it's the one used by the Doctrine Tree Bundle, here is the definition of the Team Entity

[code]

At this point I am not sure if the issue comes from Doctrine/DBAL or from DoctrineExtensions

[2018-01-11 12:13] scaytrase opened #2977 "Unable to drop schema containing unknown custom doctrine types"
Same issue like #1340

Use case:

* Use standard symfony project with i.e. postgres database
* Create new git branch
* Create custom `Type`, register it as ususal
* Create database and schema with console commands
* Commit and switch back to previous branch
* Invoke `doctrine:schema:drop --full-database --force -n `

[code]

In our case we have docker compose scripts which can eventually reuse dat

[2018-01-12 08:47] #2954 closed

[2018-01-14 20:39] PabloKowalczyk commented on #2873
Any progress with this issue?

[2018-01-14 23:12] FSMaxB opened #2979 "getAlterTableName doesn't correctly quote the column name on MySQL"
I'm not sure how to reproduce this with DBAL directly, but I stumbled upon this problem via the Laravel framework.

Original issue reported with Laravel: https://github.com/laravel/framework/issues/22402

I didn't quite find the code in Laravel that causes this, but I am quite confident that it is caused by a bug in `getAlterTableSQL`.

DBAL seems to create the following queries:

I guess that the

[2018-01-16 11:04] mpecro opened #2981 "Multiple rows insertions in one query"
Is it possible to insert multiple rows in single query using the query builder ?

Something like this :

[code]

Or :

[code]

To get this SQL
[code]

Thank you

[2018-01-16 11:15] Ocramius commented on #2981
You probably want:

[code]

See https://github.com/doctrine/dbal/pull/682

Closing as `duplicate`

[2018-01-16 11:15] #2981 closed

[2018-01-17 06:23] Ocramius commented on #2979
Is this reproducible with DBAL 2.6?

[2018-01-17 12:39] FSMaxB commented on #2979
Yes. DBAL 2.6.3, I just checked.

[2018-01-18 08:36] andipohl commented on #2652
@efarrar May you please compile the SQL Anywhere-module for PHP 7.2?
Are the sources somewhere available to compile it myself?
Thank you

[2018-01-18 17:44] greg0ire commented on #1110
@vudaltsov I don't think this bug happens on anything but Postgres, does it? Maybe create a PR?

[2018-01-19 15:18] andipohl commented on #2652
Thanks to @efarrar: He uploaded the current sourcecode to [SAP-Wiki](https://wiki.scn.sap.com/wiki/display/SQLANY/The+SAP+SQL+Anywhere+PHP+Module)

[2018-01-19 16:57] brunorafaeI opened #2982 "Binary digit is not valid"
Hi, I'm having trouble inserting a boolean value of a json object into the database, because the field is of type Bit (Postgresql 9.6) to retrieve values from that field I needed to do a (mapping_types: bit to boolean in doctrine dbal - Symfony 3) and now it is not able to convert boolean to bit in insert. returning this error message:

`Invalid text representation: 7 ERROR:  \"t\" is not a valid

[2018-01-20 03:01] Ocramius commented on #2982
Sorry, I don't understand the issue.

 * What is the raw value?
 * Is it in the DB or in your PHP process? Are you trying to save it or
load it?
 * What is the involved DBAL type?
 * What is the DBAL type converting it to?

On 19 Jan 2018 17:57, "Bruno Rafael" <notifications@github.com> wrote:

[2018-01-20 03:10] Ocramius commented on #2652
How are the sources being developed? Isn't there a repo for contributions
to be suggested by the community?

On 19 Jan 2018 16:18, "Andreas Pohl" <notifications@github.com> wrote:

[2018-01-20 10:53] brunorafaeI commented on #2982
@Ocramius so, as I have already described, I'm trying to insert the information inside the database (Postgresql 9.6) from a JSON object, in this table there is a field of type BIT, which I can recover via Doctrine dbal, but for this I needed to insert a line of the configuration of SYMFONY 3 (mapping_types: bit: boolean), that is, Doctrine has no support for BIT (so I convert to boolean) I'm now h

[2018-01-20 11:10] Ocramius commented on #2982
That's the confusion. I thought you wanted to enter that entire json string in a field.

Doctrine has indeed no support for `BIT`, but writing a postgres-specific type should be feasible. The only problem is that all the examples I find represent a `BIT` type with the explicit cast `B'10101`, for example. You'd need the raw value, since DBAL provides no way to prepend that `B` marker to query para

[2018-01-20 11:10] Ocramius commented on #2982
Closing here: `BIT` is not to be implemented in DBAL.

[2018-01-20 11:10] #2982 closed

[2018-01-21 17:20] fogs opened #2983 "DATE_ADD does not work with intervals from columns in SQLite"
Hi there!

We using DATE_ADD() with a dynamic interval parameter from a table column, such as
`->andWhere($qb->expr()->gt("DATE_ADD(p.beginsOn, p.duration, 'month')", ':timestamp'))`

This works well in MySQL but not in SQLite; the latter produces
`AND DATE(b0_.c_beginsOn,'+b0_.c_duration MONTH') > ?)`

It seems to me like the only static intervals were anticipated; however SQLite can also handle

[2018-01-22 11:01] tristanbes opened #2985 "Bug with server_version for MariaDB >10.2.7"
Hello,

I think there is a problem when providing the `server_version` parameter.

when having a `server_version` set to `10.2.12`, the bug [discussed here](https://github.com/doctrine/dbal/pull/2825) is still present. (it generates endless migrations diff)

**When removing the `server_version` parameter, it works as excepted.**

[code]

We also tried
[code]

Could it be that the excepted version

[2018-01-22 15:41] pjyong opened #2987 "How to remove realCacheKey when I use my custom cache engine?"
I find DBAL library always connects sqlquery and connection info as realCacheKey in ResultCacheStatement class file.
But actually, I have my own cahceKey, I do not want to waste extra space on realCacheKey.
Can someone tell me how to remove that?
Thanks very much

[2018-01-22 15:45] Ocramius commented on #2987
@pjyong can you clarify the question? Adding connection info to the cache key is required because different backends may respond differently to the same query.

If you are applying higher level caching, then the `ResultCacheStatement` is not the right abstraction for tweaking the cache.

[2018-01-22 16:18] lcobucci commented on #2985
@tristanbes could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

[2018-01-22 16:28] tristanbes commented on #2985
ping @Kocal

[2018-01-23 01:21] pjyong commented on #2987
![screenshot from 2018 01 23 08 49 10](https://user-images.githubusercontent.com/3728556/35252970-e2b0867a-001d-11e8-87b9-82460664fc1d.png)
Thanks for your explanation.
I attached the pic to clarify the question. Is there better way to remove the real cache key? I think my project will always use MySQL.

[2018-01-23 01:21] pjyong commented on #2987
@Ocramius

[2018-01-23 04:34] kingshark8848 opened #2988 "renameColumn will changed default from NULL to 'NULL'"
DB version:  `MariaDB 10.2.7`
Laravel version: `5.5`
doctrine/dbal version `2.6`

issue description:
When use code below to change column name,

[code]

it will cause error:
` "SQLSTATE[22007]: Invalid datetime format: 1292 Incorrect datetime value: 'NULL' for column 'c__x5a' at row 1 (SQL: ALTER TABLE xxx CHANGE c__x5 c__x5a DATETIME DEFAULT 'NULL')" `

the column's default value is NULL, but was

[2018-01-23 07:09] belgattitude commented on #2988
fixed  in master, patch will be released in 2.7

[2018-01-23 07:14] Ocramius commented on #2988
See #2824 and #2825. Closing as `duplicate`.

[2018-01-23 07:14] #2988 closed

[2018-01-23 16:09] pjyong commented on #2987
Hi
I solved it. I overwrite QueryCacheProfile and CacheProvider, then use the same real key now.
Thanks very much.

[2018-01-24 13:54] Ocramius commented on #2985
Can this be isolated without Symfony? We have a test suite here...

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Mon, Jan 22, 2018 at 6:17 PM, Hugo Alliaume <notifications@github.com>
wrote:

[2018-01-25 04:28] gnat42 opened #2990 "DbalLogger modifies parameters"
I have an object that has an array column. Pretty basic array

[code]
However it gets serialized as
[code]

Note the [...]

This is because on line 90 of DbaLogger it tests that the parameters are longer than self::MAX_STRING_LENGTH (value of 32).  This makes sense for logging. The only way I can think of solving this is the normalizeParams needs to work on a copy of the params. This would cause a

[2018-01-25 05:14] gnat42 commented on #2990
And now it seems that the DbalLogger is part of symfony

[2018-01-25 05:14] #2990 closed

[2018-01-25 08:54] andipohl opened #2991 "[SQLAnywhere] bindParams destroys value reference before execute INSERT in PHP7"
We have the same problems here as in #2261. ae314b1 corrected this for oci8.

[2018-01-25 09:36] andipohl commented on #2991
My PR #2992 correct the problem.

[2018-01-25 10:46] MisterGrouik opened #2993 "Doctrine doesn't truncate sequences name to 63 characters"
Hi everyone,

"doctrine:schema:update --dump-sql" generates this SQL

CREATE SEQUENCE myst_survey_instances_payroll_item_id_myst_survey_instances_payroll_item_seq INCREMENT BY 1 MINVALUE 1 START 1;

Why isn't the sequence name truncated to 63 characters ? It should truncate beforehand to detect that this sequence already exists in my database.
Now I can't use "doctrine:schema:update --force" becau

[2018-01-25 11:15] Ocramius commented on #2993
Why should it be? The schema definition is clear: it should rather throw an exception upfront if the platform can't handle such long names.

[2018-01-25 11:34] MisterGrouik commented on #2993
The problem is that at the first "doctrine:schema:update",  the sequence is created with no problem because Postgre will truncate the name to 63 characters. But then when you'll do "doctrine:schema:update" again, Doctrine will generate the SQL for the sequence again because it doesn't detect the sequence in the database.
Indeed, Doctrine tries to detect the sequence will the full name and not the

[2018-01-25 11:35] MisterGrouik commented on #2993
I didn't have any exception at the first "doctrine:schema:update". Doctrine never told me that the sequence name was too long.

[2018-01-25 11:39] Ocramius commented on #2993
I mean that the exception should be added to the codebase :-)

[2018-01-25 11:43] MisterGrouik commented on #2993
How do you do that ? How can you specify the max length of a sequence ?

[2018-01-25 11:47] Ocramius commented on #2993
We can't. We'd simply make sure that when such a sequence is passed anywhere to the platform, the platform throws an exception instead of silently continuing execution.

[2018-01-25 20:02] mca-digital commented on #2868
@wzator suggestion works very fine!
Thanks!

[2018-01-25 21:22] nick4fake commented on #2873
It was a really unexpected finding. Are there any workarounds?

[2018-01-25 21:40] PabloKowalczyk commented on #2873
@nick4fake Yes, you can write something like this: https://github.com/PabloKowalczyk/Todora/blob/master/src/DateTimeImmutableMicrosecondsType.php
This class extends `Doctrine\DBAL\Types\VarDateTimeImmutableType` so it will be preserving microseconds  when fetching date from DB and `convertToDatabaseValue` implementation will save microseconds to DB.

**Note**: This class covers only `\DateTimeImmu

[2018-01-25 22:59] morozov opened #2994 "Code standard checks fail on develop"
See https://travis-ci.org/doctrine/dbal/jobs/333475280 a reference:
[code]

[2018-01-25 23:58] Majkl578 commented on #2994
Fixed in #2995.

[2018-01-25 23:58] #2994 closed

[2018-01-26 10:27] Ocramius commented on #2987
That is indeed a workable solution. Closing here, no work needed.

[2018-01-26 10:27] #2987 closed

[2018-01-26 14:26] jkamler opened #2997 "Unable to connect to DB Oracle v 11.2"
This issue was reported on https://github.com/symfony/symfony/issues/25935 but problem is on Doctrine side so this is reported here.

I am using Symfony 4.0.3 and I need connect to Oracle DB. I follow this instructions:

https://symfony.com/doc/current/doctrine.html

my .env file contains this

`DATABASE_URL=oci8://user:pwd@xxx.xxx.xxx.xxx:1521/something`
host address is from tnsnames.ora -> HOST,

[2018-01-26 18:35] efarrar commented on #2652
Currently the sources are being developed internally to the SQL Anywhere team (SAP). However, we now provide most of our other dynamic language drivers (Python, Ruby, etc) on our github pages (https://github.com/sqlanywhere). I think we should do the same for the SQL Anywhere PHP driver and will take this as an action item.

[2018-01-26 18:39] cfreear commented on #2652
Thanks for the update @efarrar, any chance of an official PHP 7.2 binary release?

[2018-01-27 07:22] Majkl578 commented on #2652
That would be great, less proprietary binaries is always better especially in Linux land. 👍
We can then try to resurrect #852 somehow to have a Travis stage for SASQL and see if there is any better way how to handle the developer key (maybe something changed during the 2 years since that PR).

[2018-01-28 14:38] Kocal commented on #2985
Hey,

I isolated the project from Symfony and this is what I found:

| PHP version |`server_version` | Travis |
| ----------- | ----------------| ------ |
| 7.1 | `'10.2.12'` (quotes) | :x:  [Failing](https://travis-ci.org/Kocal/project-doctrine-migrations-and-mariadb-issues/builds/334375207) |
| 7.2 | `'10.2.12'` (quotes) | :x:  [Failing](https://travis-ci.org/Kocal/project-doctrine-migrations-an

[2018-01-28 16:00] tristanbes commented on #2985
@Kocal you didn't require `doctrine/dbal master`, (see https://github.com/Kocal/project-doctrine-migrations-and-mariadb-issues/blob/master/composer.json#L3)

[2018-01-28 16:03] Kocal commented on #2985
Oh, I forgotten it again ... thx :+1:

[2018-01-28 17:49] nick4fake commented on #2985
Still an issue with doctrine/dbal master.

Setting server_version to any version returns update bug back

[2018-01-28 17:51] Kocal commented on #2985
Inside or oustide Symfony context?

[2018-01-28 17:57] nick4fake commented on #2985
Inside Symfony context with bitnami/mariadb:10.2.12-r0 image. Commenting out version helps, but this is not something we can do (as doctrine tries to connect to db on cache:clear)

[2018-01-28 18:00] nick4fake commented on #2985
@Kocal BTW, it seems you are using "server_version" parameter in your test, but isn't the correct naming serverVersion?

Doctrine bundle in symfony translates server_version to serverVersion.

[2018-01-28 18:02] Kocal commented on #2985
Oh, you are right, I wasn't aware about this.
I'm working on it 😄

[2018-01-28 18:09] Kocal commented on #2985
Updated, now it's when I don't specify `serverVersion` that everything is working

[2018-01-28 22:05] tristanbes commented on #2985
which is the exact problem we have in our Symfony application, so you just reproduced the bug we've been experiencing inside our Symfony app 👍

[2018-01-30 03:48] morozov opened #3004 "Rename protected and private class members starting with an underscore"
According to [PSR-2](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md), protected and private property and method names should not be prefixed with an underscore. Currently, we have some of them in the code base:
[code]

In order to fix the coding standard violations, they should be renamed which would be backward incompatible. A major release could be used

[2018-01-30 05:46] morozov opened #3005 "Statement objects should throw exception in exceptional cases"
As it was pointed out in https://github.com/doctrine/dbal/pull/2546#discussion_r96259485, the current API contract doesn't allow some methods to throw exceptions even in exceptional situations.

For instance:

1. `ResultStatement::fetch()`, `::fetchColumn()` will return `false` (or empty array in case of `fetchAll()`) if there's no more data to fetch or the statement hasn't been executed yet. In t

[2018-01-30 08:54] Tigrov commented on #2982
@Ocramius, related to your phrase "note that https://github.com/Tigrov/yii2-pgsql/blob/master/src/ArrayConverter.php is insecure due to it not using prepared statements"

You can see that the class `ArrayConverter` just converts array to string for DB and vice versa. As far as it allows the current implementation of Yii2.
And the result is placed as prepared statement using `$this->setSql($sql)->b

[2018-01-30 08:58] Ocramius commented on #2982
@Tigrov thanks for clarifying. Indeed, my mistake here, I thought `ArrayConverter` was building an actual piece of dynamic SQL.

[2018-01-30 14:03] GuigZ- opened #3006 "Problem with doctrine diff"
Hi,

When i use the doctrine diff, doctrine create a file with this line :

[code]

I use Symfony 4, with php 7 and MariaDB from latest version.

My mapping is
[code]

when i use very verbose on my command, doctrine create this request :

[code]

When i use PMA to export my table :
[code]

So the problem is not on my server i think...

[2018-02-01 07:19] #2953 closed

[2018-02-02 04:08] morozov commented on #3005
@Ocramius is fixing this one worth breaking BC in your opinion?

[2018-02-02 04:29] Majkl578 commented on #3005
I'd say it is. Returning false on error is PHP relic.
It can be implemented in backward- & forward-compatible way, i.e. by a temporary switch (2.x only) to enable exceptions in 2.x. Or even as Configuration option which will won't be possible to disable in 3.0.

[2018-02-02 09:26] Ocramius commented on #3005
Yes, returning `false` on error is just problematic. If the exception type is specific enough, adding `try-catch` around it is trivial.

[2018-02-03 21:54] silverbackdan opened #3011 "Abstract class / single table discriminator: delete not cascading many-to-one"
I have an Abstract class with this mapping:
[code]

Then the class extending this is
[code]

When I delete a Layout entity, the Page remains. Is this mapping the correct way around and shouldn't I expect the Page to be deleted when the Layout is?

This is the behaviour while running in a functional test using Behat and a Sqlite database. Is this behaviour supported in Sqlite?

I think the is the r

[2018-02-03 22:09] silverbackdan commented on #3011
I've been finding more about this. Will continue to investigate looking into tickets such as https://github.com/doctrine/dbal/issues/2833

[2018-02-03 22:23] silverbackdan commented on #3011
In my case, should the `<cascade><cascade-remove /></cascade>` configuration mean that doctrine should remove the related entities anyway?

I'm looking to also (ideally) detect all the entities that will be removed in a preFlush event. This is so I can check if the entity implements an interface that relates to a file path and to remove the file at the same time.

[2018-02-05 07:28] Ocramius commented on #3011
[code]

The `cascade-remove` will cause the `Silverback\ApiComponentBundle\Entity\Layout\Layout` to be removed together with the `Silverback\ApiComponentBundle\Entity\Content\Page` that references it when `EntityManager#remove()` and `EntityManager#flush()` are used.

`<join-column on-delete="CASCADE" />` will define an `ON DELETE="CASCADE"` DDL clause for RDBMSs that support foreign key operation

[2018-02-05 07:30] Ocramius commented on #3011
@silverbackdan please do send us a test case if what described above doesn't work. See https://github.com/doctrine/doctrine2/tree/master/tests/Doctrine/Tests/ORM/Functional/Ticket for examples.

[2018-02-06 08:11] silverbackdan commented on #3011
Ah ok, thanks very much @Ocramius - understood!

[2018-02-06 08:11] #3011 closed

[2018-02-07 16:09] bwowk commented on #2380
was it indeed fixed in 2.6.0?
if so, this should be closed

[2018-02-08 11:25] FSMaxB commented on #2979
Ping @Ocramius

[2018-02-08 11:29] Ocramius commented on #2979
@FSMaxB what about this?

[2018-02-08 11:32] FSMaxB commented on #2979
Has anyone looked into this yet?

[2018-02-08 11:34] Ocramius commented on #2979
@FSMaxB nope - don't think anybody will actively get to it for now.

[2018-02-09 10:24] xthiago commented on #2380
@succinct Did you have upgraded to `2.6.*` and the issue has been fixed? Please let us know.

[2018-02-09 13:41] GuigZ- commented on #3006
up ?

[2018-02-09 14:10] Ocramius commented on #3006
Needs to be reproduced in isolation (in a test case)

[2018-02-09 14:30] GuigZ- commented on #3006
So, if you have a field who can be nullable on MariaDB we have the problem..

I reproduce the bug on the same project with an other field.

[2018-02-09 14:46] Ocramius commented on #3006
See if this is related: https://github.com/doctrine/dbal/pull/2825

[2018-02-09 16:06] GuigZ- commented on #3006
Oh, the problem is the point 6 of your list.

Will be fix soon ?

[2018-02-09 16:52] Ocramius commented on #3006
Please do try DBAL `master` and see if it solves the issue first. We will do a release in the next weeks.

[2018-02-12 09:34] GuigZ- commented on #3006
I try, and is not fixed. :(

I wait the next update to try again.

[2018-02-13 14:15] mvorisek opened #3021 "Diff is not working if options are set directly in Type::getSQLDeclaration()"
I created a custom BooleanType with the following method:

    public function getSQLDeclaration(array $fieldDeclaration, AbstractPlatform $platform) {
        return $platform->getBooleanTypeDeclarationSQL($fieldDeclaration) . ' UNSIGNED';
    }

The issue is that the diff keeps altering the table as it thinks no unsigned type option should be presented.

I think there are two solutions:
a) Parse

[2018-02-15 16:19] Nyholm opened #3022 "What should be done before 2.6.4?"
I see the [milestone](https://github.com/doctrine/dbal/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.6.4) is currently empty.

Is there anything stopping us from releasing 2.6.4 now?

[2018-02-16 09:13] tostiheld opened #3023 "Out of memory when connection unavailable"
Whenever I forget to start a mariadb/mysql server instance on my dev machine, I get an out of memory error.

[code]

If I remember correctly there was a message saying the connection was unavailable previously.

I have both PHP 7.0.27 and 7.1.14 on my machine, the error occurs with both versions.

[2018-02-16 09:48] Ocramius commented on #3023
Sounds like PDO is producing a ridiculous exception message? https://github.com/doctrine/dbal/blob/63efa539343a8e6d296b259ca322de981b213498/lib/Doctrine/DBAL/Driver/PDOConnection.php#L47

[2018-02-16 16:32] morozov commented on #3023
@tostiheld could you try reproducing the issue in isolation like:
[code]
It works as expected for me:
[code]

[2018-02-16 17:59] tostiheld commented on #3023
I get:

[code]

Also this is my mariadb version:
[code]

Seems like the bug is somewhere else, although it's weird to me that it surfaces here.

[2018-02-16 18:12] morozov commented on #3023
[code]
Is this what you would expect to get in your case? It usually means that the MySQL socket path is incorrectly configured in PHP or there's no socket (which will be the case when the server is not running).

You can try capturing the result of `memory_get_usage()` in your code or in DBAL somewhere close to where the OOM happens and see if it's potentially used somewhere else, not in DBAL or

[2018-02-16 18:15] tostiheld commented on #3023
I would think that this is the desired behaviour, yes, because an oom error kills the php script. It's different than the error you got, so I don't know if that is an issue.

I will try to troubleshoot more tomorrow when I have time

[2018-02-19 10:18] samuelfa commented on #3006
Hi!

I have the same error. I'm using Symfony 3 in some projects and Symfony 4 in another one. The reason for that problem is when the system is preparing the structure from the database, then it is running the following query:

This query is giving the string NULL without any wrapping of double or single quotes when the column is configured with available NULL values and doesn't have any default

[2018-02-19 11:28] Ocramius commented on #3006
@samuelfa please see #2825

[2018-02-20 16:17] mattboothman commented on #2315
Looks like when using the workaround of passing an instance of `\PDO` to `DriverMapper` does have some side-effects:

When `\PDO` throws an exception, which will not be in instance of `DriverException`, DBAL Connection will catch `\Exception` and will pass it to `DBALException::driverExceptionDuringQuery` which will not pass the exception to the driver's `convertException()` method.

Exceptions th

[2018-02-20 21:20] lhopps commented on #2977
Solution for my project was to manually remove `(DC2Type:{MyCustomType})` from comments of any column using that type.

[2018-02-21 15:51] ostrolucky opened #3029 "PostgreSQL: backslashes in DC2 comment are quoted when persisted, but aren't unquoted when retrieved from DB"
So, we wanted to use https://github.com/acelaya/doctrine-enum-type with FCQN used for name of custom column type.

If type is named `App\\Enum\\AuthMethod`, DBAL generates this

[code]
This happens in [PostgreSqlPlatform#quoteStringLiteral](https://github.com/doctrine/dbal/blob/ad403747a41e057b81b882a26473d64766513251/lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php#L1192).

No reverse process h

[2018-02-21 15:52] ostrolucky commented on #3029
Dupe of https://github.com/doctrine/dbal/issues/2926

[2018-02-21 15:52] #3029 closed

[2018-02-26 12:08] ciscospirit commented on #2985
Hello,

we also have the same problem with mariadb 10.2.8 and typo3 installations.
can you give us a step to step description how to fix that issues?

I already read https://github.com/doctrine/dbal/pull/2825 but i don't know how to patch my typo3 installation to get it to work...

please help me out...

[2018-02-26 12:10] Ocramius commented on #2985
This still doesn't have an isolated test case - anything to be done here, or can I close it as dupe of #2825?

@ciscospirit you will need to wait for a release.

[2018-02-26 12:13] ciscospirit commented on #2985
@Ocramius thanks for your fast reply... is there no manual fix for this? like patching some files until a official fix will be released? otherwise i can just downgrade to mariadb 10.1

[2018-02-26 12:15] tristanbes commented on #2985
@Ocramius how is this a dupe of #2825 ?

It's not a duplicate of it. Right now in all our Symfony application we need to remove all `server_version` because of some bug that you can see the result in this comment : https://github.com/doctrine/dbal/issues/2985#issuecomment-361067759

@Kocal spent some time isolating, testing , and reproducing inside a Symfony application. If it's not enough to qual

[2018-02-26 12:20] tristanbes commented on #2985
Also, the test made on this very same comment were made outside Symfony like you asked
https://github.com/doctrine/dbal/issues/2985#issuecomment-361067759

What's missing when you say "isolated test case" ?
Thanks.

[2018-02-26 12:26] Ocramius commented on #2985
What we need is something to be added in the DBAL test suite.

[2018-02-26 19:09] Ocramius commented on #1200
Closing as `won't fix`

[2018-02-26 19:09] #1200 closed

[2018-02-28 19:24] frandieguez commented on #2566
Any news on getting this integrated?

[2018-02-28 19:37] Ocramius commented on #2566
@frandiguez this needs a test case first.

[2018-03-01 18:01] stfast commented on #2819
Since I opened this bug, I found there is no issue at all if you disable pcre.jit in php.ini:

# cat php.ini
...
pcre.jit=0
...

And this error dissapears:

[Thu Mar 01 18:48:16.056472 2018] [php7:error] [pid 9432] [client 10.192.96.14:42479] PHP Fatal error:  Uncaught Doctrine\\DBAL\\DBALException: Failed to connect to the database: Invalid platform version "5.5.5-10.2.12-MariaDB" specified. The

[2018-03-05 09:20] junliuxian opened #3035 "MySqlSchemaManager no enum value"
I want to do something with doctrine/dbal. But I do find it discarded the enum column value of MySQL.

[2018-03-05 09:27] Ocramius commented on #3035
Please refer to https://stackoverflow.com/questions/8750724/what-do-you-use-instead-of-enum-in-doctrine2/9057352

DBAL does not support `ENUM` types out of the box, as each `ENUM` is different.

[2018-03-05 09:27] #3035 closed

[2018-03-06 11:03] lopezator opened #3036 "getTableNames ability to return tableNames unprefixed"
There are some useCases where you need the tables names without any prefix (i.e. some business logic inside a postGenerateSchema event) to be independent from the database name. Imagine different database names in prod/dev/test but same table names.

[2018-03-07 01:32] Ocramius commented on #2566
Can't find a PR for that: can you open or dig up one?

[2018-03-07 11:03] fabiang opened #3038 "[Question] Partial Indexes on SQL Server"
Hallo,

Is there any reason why the platform definition for SQL Server returns false for `supportsPartialIndexes()`? As far as I can see SQL Server [supports them since 2008](https://www.mssqltips.com/sqlservertip/1785/sql-server-filtered-indexes-what-they-are-how-to-use-and-performance-advantages/). Microsoft just named them "filtered indexes".

What confuses me is that new indexes are always cre

[2018-03-07 13:49] Ocramius commented on #3038
@fabiang they aren't supported by our platform implementation: if you can apply the partial filter tests existing for the PostgreSQL platform also to SQL Server, then please do open a PR with the added tests and this one method changed.

[2018-03-07 17:43] BenMorel opened #3039 "Drop Drizzle support for v3.0?"
According to [Wikipedia](https://en.wikipedia.org/wiki/Drizzle_(database_server)), Drizzle is an abandoned project.

The latest commit on the [GitHub repo](https://github.com/stewartsmith/drizzle) dates back to 2013, while the [latest version](https://github.com/stewartsmith/drizzle/releases) dates back to 2012.

**Should we drop support for Drizzle in v3?** Now would be a good time to do so.

[2018-03-07 18:33] Ocramius commented on #3039
👍

On 7 Mar 2018 18:43, "Benjamin Morel" <notifications@github.com> wrote:

[2018-03-07 22:04] BenMorel commented on #3039
PR opened as #3040

[2018-03-07 22:04] #3039 closed

[2018-03-09 10:02] magnetik commented on #3023
I think I'm facing this with PHP 7.2.3 (from deb sury)

[2018-03-10 23:21] zion03 opened #3043 "How to query on doctrine `json_array` type"
I'm trying to perform `where` clause on `json_array` in Doctrine which mapped to PostgresSQL 9.6 `jsonb`.

I'm usning `@>` operator:

    $em->createQuery(
    'SELECT p
    FROM App\Entity\Node p
    WHERE p.categoriesId @> :id'
    )->setParameter('id', 1)->execute();

But to my surprise, I got an error: `Error: Expected =, <, <=, <>, >, >=, !=, got '@'.`

I'm right understand that Doctrine don'

[2018-03-11 13:35] Ocramius commented on #3043
You seem to be attempting an ORM DQL query rather than a DBAL  SQL query (start with a `Doctrine\DBAL\Connection` instance)

Try with just DBAL and it should work.

Closing as `invalid` here :-)

[2018-03-11 13:35] #3043 closed

[2018-03-13 17:41] pensiero commented on #2409
Same problem here, I would like to generate proxies during the build of a Docker image, and obviously there is no sql connection.

I'm using `ZF2` with `doctrine/orm: 2.5.x`.

I tried with `server_version`, but nothing change. Maybe is there something else that is trying to connect?

This is the full log:

[code]

[2018-03-13 17:48] Ocramius commented on #2409
If the platform version is given, then the connection stays lazy.

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Tue, Mar 13, 2018 at 6:41 PM, Oscar Fanelli <notifications@github.com>
wrote:

[2018-03-13 17:57] pensiero commented on #2409
Holy banana! I wrote:
[code]

instead of
[code]

Symfony deals it differently then ZF2.

[2018-03-13 17:58] pensiero commented on #2409
Thanks @Ocramius

[2018-03-14 09:16] saschaende opened #3046 "Where not empty (TYPO3 + Doctrine)"
Solution:

$authors = $queryBuilder
->select('author')
->from('pages')
->where($queryBuilder->expr()->neq('author','""'))
->execute()->fetchAll();

[2018-03-14 10:52] Ocramius commented on #3046
Closing: not an issue.

[2018-03-14 10:52] #3046 closed

[2018-03-14 16:12] cmorbitzer opened #3047 "Memory leak with PDOConnection->prepare()"
`Doctrine\DBAL\Driver\PDOConnection()->prepare()` returns a prepared statement with an extra reference to it, so efforts to destroy the statement or close the connection does not free the associated memory in PHP.

Scripts that execute many statements (e.g., a script that performs an insert for each chunk of rows returned from a select statement) and daemons that run indefinitely will eventually t

[2018-03-14 16:34] Ocramius commented on #3047
@cmorbitzer where is the reference kept, exactly? Any variable that holds it, or is PDO simply broken?

[2018-03-14 16:43] cmorbitzer commented on #3047
I think it's a reference inside PDO or PDOStatement. In the examples above, it would appear that the refcount for `$dbh` and `$stmt` should be zero by the end of the script but the memory is obviously not being freed. It appears that the statement is not destroyed at the end of the loop, and that actually retains a reference to the connection object. We see there are 102 references to `$dbh` by th

[2018-03-14 17:13] Ocramius commented on #3047
A bit too late for that now :-)

Yeah, this is a PDO bug if the reference is held in internals. It can probably not be GC'd because it's not a normal zval...

[2018-03-14 18:40] morozov commented on #3047
FWIW, as of #2958 `Driver\PDOStatement` doesn't extend `\PDOStatement` anymore. Technically, we can rework the other classes as well if needed. @cmorbitzer could you check if the issue is reproducible on `develop`?

[2018-03-14 23:14] Majkl578 opened #3049 "Test failures caused by invalid database connection result in fatal error"
When PHPUnit is started with invalid DB config in local phpunit.xml, it crashes with uncaught PHP fatal error.

[code]

[2018-03-15 18:30] morozov opened #3052 "Drop support for SQL Server older than 2008"
The reasons are:
1. SQL Server 2008 is [the oldest officially supported](https://en.wikipedia.org/wiki/Microsoft_SQL_Server#Currently) by Microsoft version.
2. Same is about [AppVeyor](https://www.appveyor.com/docs/services-databases/).
3. Fixing some issues on the older versions (e.g. #3020) requires additional effort if at all possible.

[2018-03-15 18:39] Majkl578 opened #3053 "Drop support for PostgreSQL <9.3"
Anything below 9.3 is already EOL'd and not supported.
9.3 will be EOL'd on 9/2018 so depending on timeline it could be dropped too.
Keeping these for 3.0 would mean lock-in for another X years.

https://www.postgresql.org/support/versioning/

[2018-03-15 18:41] Majkl578 opened #3054 "Drop support for SQL Anywhere <=12"
SQL Anywhere 12.x and older are already EOL'd and not supported.

https://sqlanywhere-forum.sap.com/questions/26068/sql-anywhere-end-of-life-overview

[2018-03-16 10:08] Ocramius commented on #2616
Handled in #2617

[2018-03-16 10:08] #2616 closed

[2018-03-17 02:19] morozov opened #3057 "Improve asset caching on AppVeyor"
According to the [console output](https://ci.appveyor.com/project/doctrine/dbal/build/1.0.10/job/q04lgt5nj66fvoa7), Chocolatey and Composer packages are downloaded for every build:
[code]
Unless the PR being built changes dependencies, they should be taken from cache.

[2018-03-17 02:21] morozov commented on #3057
@photodude please take a look if you have time.

[2018-03-17 02:24] photodude commented on #3057
@morozov cache invalidation on appveyor is an odd thing. See this issue
https://help.appveyor.com/discussions/problems/6049-build-cache-does-nothing

[2018-03-17 02:32] morozov commented on #3057
It [worked for me](https://ci.appveyor.com/project/morozov/diff-sniffer-core/build/job/360ajpecsv6v75r7) at least for Composer packages and most likely for the Chocolatey as well.

[2018-03-17 03:11] photodude commented on #3057
@morozov I get the following issue
[code]
https://ci.appveyor.com/project/photodude/dbal/build/job/orai5hqa5v1jq8fs#L1714

So we have too a big of a cache?

[2018-03-17 03:42] Majkl578 commented on #3057
Cache limit for free accounts is 1GB across all projects (whole account): https://www.appveyor.com/docs/build-cache/#cache-size-beta

[2018-03-17 04:35] morozov commented on #3057
Hm… we can replay the steps from AppVeyor on a Windows VM and see what takes that much. It's unlikely that every build we download a gigabyte of data. Maybe there's something stale in the cache which we don't need.

Besides that, maybe caching C:\PHP72 is not the best idea (even if it's in my example) since this way it'll be never updated once installed.

If we do have that much in the cache, we'l

[2018-03-17 05:50] Majkl578 opened #3058 "Fate of PDOIbm driver"
While working on adding DB2 to our CI stage, I found there are two drivers for DB2: IBMDB2 (ibm_db2 extension) and PDOIbm (pdo_ibm extension).
While the former works and seems to be supported, the latter is not supported by DriverManager, not documented and seems to be completely unused.

Decision should be made about this lonely driver.

[2018-03-17 09:13] Ocramius commented on #3058
I've never seen this thing being used in the wild: let's kill it for 3.0.0.

Can you integrate it in https://github.com/doctrine/dbal/pull/3055?

[2018-03-17 19:02] Majkl578 commented on #3058
Will do.

Found this in UPGRADE for 2.5:

longer be supported and has been removed from the ``Doctrine\DBAL\DriverManager`` drivers map. It is highly encouraged to to use `ibm_db2` driver instead if you want to connect to an IBM DB2 database as it is much more stable and secure.

So it shouldn't even be a surprising BC break, only remnant from 2.5.

[2018-03-18 16:05] Ocramius commented on #3052
Handled in #3055

[2018-03-18 16:05] #3052 closed

[2018-03-18 16:05] Ocramius commented on #3053
Handled in #3055

[2018-03-18 16:05] #3053 closed

[2018-03-18 16:05] Ocramius commented on #3054
Handled in #3055

[2018-03-18 16:05] #3054 closed

[2018-03-18 16:05] Ocramius commented on #3058
Handled in #3055

[2018-03-18 16:05] #3058 closed

[2018-03-19 10:27] edyan opened #3059 "Postgres : send date as string crashes the query (cast)"
Hi, I am developing a tool (https://github.com/edyan/neuralyzer) where I implement doctrine's dbal to interact with databases and anonymize it. When I generate a fake date and I use it on a prepared statement, I get the following result (on Postgres 9 or 10, PHP 7.1 on Debian) :

[code]

My Code :
[code]

* `$cols[$field]['type']` is autodetected via doctrine (it's a Doctrine Type). For that one i

[2018-03-20 02:58] morozov opened #3060 "Development branch build fails on SQL Server"
See job [#355522504](https://travis-ci.org/doctrine/dbal/jobs/355522504):

[2018-03-20 09:25] Ocramius commented on #3059
This is not something DBAL can help you with: your SQL expression simply has a type error in it (according to PostgreSQL) and you will need to adapt it manually. DBAL has no abstraction for designing SQL besides very basic things.

Yes, parameter binding causes a cast to a compatible string type. In your case, the  DB complains that you probably need to append a `:: date` cast to the `CASE` block.

[2018-03-20 09:25] #3059 closed

[2018-03-20 16:06] Ocramius commented on #3060
Handled in https://github.com/doctrine/dbal/pull/3061

[2018-03-20 16:06] #3060 closed

[2018-03-22 15:02] akrz opened #3066 "Missing parameter fetchArgument for fetch and fetchAll methods"
If I want to fetch a record and I want to use PDO::FETCH_CLASS, I can't do

[code]

because the method signature only has one parameter:
[code]

The fetchAll method actually has a second parameter in the signature to assign an argument
[code]
But the Interface only has one parameter:
[code]
So it throws an annoying warning when I want to use
[code]

The workaround is setting the fetch mode and the

[2018-03-22 15:03] Ocramius commented on #3066
@morozov @deeky666 we should really really really disallow the `\PDO::FETCH_CLASS` abomination.

[2018-03-22 15:05] akrz commented on #3066
@Ocramius Can I ask why?

[2018-03-22 15:08] Ocramius commented on #3066
@akrz it sets property fields with something inconsistent with reflection behavior, and creates instances by skipping ctor calls as well. If you really want to go in that direction, then you want to use a standard hydrator and avoid the bugs/quirks of PDO, by using something built in userland: even if slower, it is not worth the pain to go with the PDO internals here.

[2018-03-22 15:10] morozov commented on #3066
Please see https://github.com/doctrine/dbal/pull/2958#issuecomment-355372897 for more details.

[2018-03-22 15:12] morozov commented on #3066
I'd remove it together with `$columnIndex` for `FETCH_COLUMN` and drop `...$args` entirely.

[2018-03-22 19:33] edyan commented on #3059
Thanks Ocramius, I did many tests and that's because of the CASE. Obviously it's not Doctrine's job to manage that.

[2018-03-22 19:53] Hessuss opened #3067 "SchemaException when mssql table has set schema"
Hi.
I have a trouble.

I use Symfony 2.8.20, php7.2
in php.ini:
extension=php_pdo_sqlsrv_72_ts
extension=php_sqlsrv_72_ts

config.yml:
[code]
when i set entity like this :

[code]
Everything is fine.
The system  creates table "dbo.tbl administrator parameters" I can modify the entity and use them.

but i must set different table schema than DBO.

when i set it like this :
[code]
nothing happens, t

[2018-03-22 21:57] Ocramius commented on #3067
@Hessuss what version of ORM/DBAL is this running on?

[2018-03-23 08:55] amoseev commented on #1345
Hi!
I also faced with missing `$stmt->rowCount()` information in the process of migration to Doctrine.

[2018-03-23 08:57] Ocramius commented on #1345
This is not applicable, since `$stmt->rowCount()` may not work on platforms that stream over resultsets.

[2018-03-23 08:57] #1345 closed

[2018-03-23 11:04] Hessuss commented on #3067
doctrine/annotations                 v1.2.7        Docblock Annotations Parser
doctrine/cache                       v1.5.4        Caching library offering an object-oriented API for man...
doctrine/collections                 v1.3.0        Collections Abstraction library
doctrine/common                      v2.5.3        Common Library for Doctrine projects
doctrine/dbal                        v2.

[2018-03-23 11:18] Ocramius commented on #3067
That's running on some extremely old dependencies: please do upgrade to ORM and DBAL 2.6.x first.

[2018-03-23 13:04] Hessuss commented on #3067
I am sorry, I thought that symfony after updating the "composer update" command updates everything to the newest version. I made an update to version 2.6.3.

Still error :/
composer show -i

[code]
when entity set :
[code]

still generate "dbo.tbl_admin_parameters"

when entity set like this :
[code]

i see this errors:

[2018-03-23 13:05] Ocramius commented on #3067
Ah, at least it's creating things in the correct DB now. This is normal behavior though, as the ORM will only introspect the default schema for the DB you are connected to, while all other schema are ignored.

[2018-03-23 13:29] Hessuss commented on #3067
Earlier he also created tables in the proper database.

You say it's work fine, ok, but for what is "schema='schema_name'" :
[http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/annotations-reference.html#annref-table](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/annotations-reference.html#annref-table)

[code]
it doesn't work

What if I have tw

[2018-03-24 17:01] gdc676463 opened #3068 "typo report"
Dear doctrine team:

On page:
[code]

There may be a typo in:
[code]
and may fix with:
[code]

I will make a PR soon to fix this.

[2018-03-24 19:27] #3068 closed

[2018-03-26 21:36] deeky666 commented on #3066
Not to mention all of those non-PDO drivers not/rarely supporting Class/Object hydration natively. We are currently doing basic "userland" hydration for those drivers just to keep compatibility with our driver API. This is something that should be done outside of DBAL. I wish we could get rid of fetch modes completely and simply provide associative arrays as results and leave everything else for o

[2018-03-27 05:03] antonmedv commented on #1110
Any updates?

[2018-03-27 05:09] Ocramius commented on #1110
@antonmedv can you provide a failing test case for the DBAL test suite?

[2018-03-27 05:40] antonmedv commented on #1110
I think @garex already did: https://github.com/doctrine/dbal/pull/2490/files#diff-27e8892e001d5c205813663f22e02b32R18

[2018-03-28 13:10] IMSoP commented on #2683
I believe master is now the 3.x release, so doesn't support old PHPs anyway. I have raised a PR against 2.5 here: https://github.com/doctrine/dbal/pull/3073

Will it also need applying to 2.6?

[2018-03-28 13:14] Ocramius commented on #2683
Closing here: we no longer support PHP 5.3 and PHP 5.4.

[2018-03-28 13:14] #2683 closed

[2018-03-28 13:51] IMSoP commented on #2683
@Ocramius Can you clarify regarding support?

Reading more carefully, I see that 2.6, not 3.0, is the first release to require PHP 7.1, so this fix is definitely not needed there.

However, is the 2.5 branch completely unsupported, or should bugs be raised differently, or do new minimum PHP requirements apply?

[2018-03-28 13:54] Ocramius commented on #2683
@IMSoP https://github.com/doctrine/dbal/pull/3073 will likely be merged and fixed, since the screw-up is on our side, but otherwise `2.5.x` will only receive security fixes.

[2018-03-28 13:54] IMSoP commented on #2683
OK, that makes sense.

[2018-03-28 13:54] Majkl578 commented on #2683
Not just yet.

Master represents upcoming 2.7 and requires PHP 7.1.
Develop is currently upcoming 3.0 and requires PHP 7.2, will be merged into master once 2.7 is released.

[2018-03-28 13:55] IMSoP commented on #2683
@Majkl578 Yeah, I misread something when I was flicking through branches.

[2018-03-30 09:30] tristanbes commented on #2985
Can someone help me to add this failing test please ? We need it fixed for the `doctrine/dbal` 2.7.
MariaDB 10.2 has been out for 2 years already :(
I don't even know where to begin to add this failing test.

[2018-03-30 12:46] mihas2 commented on #3066
And $cursorOrientation not support, and the "prepare" method does not support the settings of the scrollable cursor

[code]

[2018-03-30 22:17] Ocramius commented on #2985
@tristanbes this bit:

y and this is what I found:

|`serverVersion` | Travis | GitHub |
| ---------------| ------ | ------- |
| `'10.2.12'` (quotes) | :x: [Failing](https://travis-ci.org/Kocal/project-doctrine-migrations-and-mariadb-issues/builds/334428495) | [Branch](https://github.com/Kocal/project-doctrine-migrations-and-mariadb-issues/tree/server-version-with-quotes) |
| `10.2.12` (no quotes)

[2018-03-30 22:18] Ocramius commented on #2985
They broke compat all over the place in a minor - can't do much about that.

[2018-03-30 22:41] Majkl578 commented on #2985
Just locally inspected the repository mentioned above. The config file is parsed in `bootstrap.php` and then only passed as already-loaded PHP array.
In both "with-quotes" and "without-quotes" branches the value of `serverVersion` is parsed as `10.2.12` string without quotes.
Since the config loading is out of DBAL's scope, this looks like a bug in some upper layer.

[2018-03-31 19:01] morozov opened #3075 "testSettingUnknownOptionIsStillSupported() is reported as risky."
In some cases, [`testSettingUnknownOptionIsStillSupported()` is reported as risky](https://ci.appveyor.com/project/doctrine/dbal/build/1.0.81/job/utt2h7bq2p2b5jj7#L239):

[2018-03-31 19:01] morozov commented on #3075
@greg0ire, mind taking a look?

[2018-03-31 20:14] greg0ire commented on #3075
AFK this we, but I can try it from my phone :P

[2018-04-01 15:48] zion03 opened #3078 "How to avoid replacing some `?` in bindValue"
I have query fragment `WHERE n.attributes ? ?`
and then execute
`$statement = $this->getEntityManager()->getConnection()->prepare($sql);`
with params
[code]

Is there way to quote first `?` as it's a PostgreSQL JSONB operator (not pleaceholder). I assume the fasted way will go to  named prepared statements but it's not easy in my source.

[2018-04-01 19:52] photodude commented on #2924
Closing as addressed with the completion and changes in the initial AppVeyor project

[2018-04-01 19:52] #2924 closed

[2018-04-02 02:52] morozov opened #3079 "Connection::query() should accept string $sql as first parameter"
Currently, `Connection::query()` doesn't accept arguments and makes implementors use `func_get_args()` internally. It causes [false positives on Scrutinizer](https://scrutinizer-ci.com/g/doctrine/dbal/inspections/3c50cd7c-82e7-4e06-99d1-60a8e4c525aa/code-structure/class/Doctrine%5CTests%5CDBAL%5CFunctional%5CLastInsertIdTest):

Can be fixed by not extending `PDO` by `PDOConnection` similarly to wh

[2018-04-02 10:46] Ocramius commented on #3078
Parameter binding is only for values. Operators are not values, so they (usually) cannot be bound to parameters, but that depends to what the PostgreSQL client library can do.

You'll probably need either

https://github.com/doctrine/dbal/blob/f76bf5ef631cec551a86c2291fc749534febebf1/lib/Doctrine/DBAL/Connection.php#L842-L857

or

https://github.com/doctrine/dbal/blob/f76bf5ef631cec551a86c2291fc74

[2018-04-02 10:46] #3078 closed

[2018-04-03 08:44] Ocramius commented on #3078
https://stackoverflow.com/questions/30629076/how-to-escape-the-question-mark-operator-to-query-postgresql-jsonb-type-in-r?rq=1

[2018-04-03 09:18] zion03 commented on #3078
Okay, I understand.
Is there a way to execute raw query without replacing values or any other checking on `PDO` using` DBAL` connection as is.
I have a big query and much better for me prepare it by myself.
i.e:

And executing it as is

[2018-04-03 09:44] zion03 commented on #3078
Sorry, look like problem in a `PDO` driver

[2018-04-03 10:04] zion03 commented on #3078
Solution: https://stackoverflow.com/questions/30461558/jsonb-existential-operators-with-parameterised-queries

[2018-04-03 10:44] simonberger commented on #1958
I just wanna note an impact on our side cause of this issue.

[2018-04-03 11:11] Ocramius commented on #1958
This needs a test case to be added to the DBAL test suite.

[2018-04-03 18:00] phpepe commented on #2072
I've the same problem here.
Solved by  sending a manual query before the migration:
`ALTER TABLE [tablename] DROP FOREIGN KEY IDX_xxx ;
`
instead of generated SQL:
`DROP INDEX IDX_xxx ON [tablename];
`

[2018-04-03 18:06] morozov commented on #2072
@phpepe is it related to #2929?

[2018-04-03 19:00] SCIF commented on #2072
Hi @phpepe , may be [this one](https://github.com/doctrine/dbal/pull/2945)?

[2018-04-04 08:12] dominikzogg opened #3081 "collate gets suffix '_unicode_ci' which is bad for latin1"
If there is not 'collate' defined the suffix '_unicode_ci' gets added which breaks everything which is not utf8 related.

https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Platforms/MySqlPlatform.php#L513

[2018-04-04 08:45] tristanbes commented on #2985
Following your logic @Majkl578, if there is a bug in the upper layer, wouldn't it mean that it should break when specifiying `serverVersion` for MySQL (let's say `5.5` or `5.6`, which seems not to be the case.

@Ocramius I don't understand very well your question:

The only difference on the projects you linked is specifying the `serverVersion` (or not). We didn't change drviers/platforms between

[2018-04-04 08:49] Ocramius commented on #2985
Do a `var_dump(get_class($connection->getDriver()))` and `var_dump(get_class($connection->getPlatform()))` under these different configurations.

[2018-04-04 09:29] corphi opened #3082 "Custom PDO fetch modes and 2.7.0"
[Announced](https://github.com/doctrine/dbal/releases/tag/v2.7.0) as a deprecation only, an [exception is thrown](https://github.com/doctrine/dbal/blob/f76bf5ef631cec551a86c2291fc749534febebf1/lib/Doctrine/DBAL/Driver/PDOStatement.php#L234) when passing unrecognized fetch modes, such as `PDO::FETCH_KEY_PAIR`. That is a BC break. In another instance, a [silenced deprecation warning](https://github.

[2018-04-04 09:32] tristanbes commented on #2985
Thanks for the clarification.

Well, when giving any values to serverVersion, it takes the `MySQL57Platform`
When not specifying `serverVersion` it takes `MariaDb1027Platform`

[code]

serverVersion | Travis | GitHub
-- | -- | --
'10.2.12' (quotes) | ❌ Failing | `Doctrine\DBAL\Driver\PDOMySql\Driver` + `Doctrine\DBAL\Platforms\MySQL57Platform`
10.2.12 (no quotes) | ❌ Failing | `Doctrine\DBAL\Drive

[2018-04-04 09:33] Ocramius commented on #3082
@corphi unlikely happened intentionally: if you have a piece of code that reproduces the regression, we can make a patch release with a fix.

[2018-04-04 10:04] alongosz commented on #3082
@Ocramius for us it also breaks a [piece of code](https://github.com/ezsystems/ezpublish-kernel/blob/v7.1.0/eZ/Publish/Core/Persistence/Legacy/Content/FieldValue/Converter/RelationListConverter.php#L335).
We have the usage:
`$stmt->fetchAll(PDO::FETCH_ASSOC | PDO::FETCH_GROUP)` (it was fine since [PDOStatement::fetchAll doc](http://php.net/manual/en/pdostatement.fetchall.php) allowed bitwise-ORs f

[2018-04-04 10:41] Ocramius commented on #3082
Uhhh, I think we never considered bitmasking fetch modes on our side, so that is most likely lack of knowledge on our end.

[2018-04-04 11:42] dbu commented on #3082
We see the problem coming up in PHPCR-ODM (because dbal is used in jackalope-doctrine-dbal) as well: https://travis-ci.org/doctrine/phpcr-odm/jobs/361545802#L474

Is there an easy fix for this? And should we change code that relied on this, or is it an intended feature?

[2018-04-04 12:49] andrerom commented on #3082
Same here, seeing the bitmasking fetch modes hitting us, breaking stable releases out there.

[2018-04-04 13:15] tristanbes commented on #2985
As pointed out by @Majkl578,
For MariaDB, the correct `serverVersion` is `mariadb-x.x.x`
You can check the condition there: https://github.com/doctrine/dbal/blob/f76bf5ef631cec551a86c2291fc749534febebf1/lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php#L136

Putting `mariadb-10.2.12` for `serverVersion` is WORKING ! 👍🎉
Now i'm going to try to fix it in the docs because all mariaDB ppl are doing it

[2018-04-04 13:26] #2985 closed

[2018-04-04 13:52] Ocramius commented on #3082
Test cases please: adding "me too" is **NOT** useful

[2018-04-04 13:56] Majkl578 commented on #3082
Likely side-effect of #2996.

[2018-04-04 16:33] Majkl578 commented on #3022
2.7.0 has been released today.

[2018-04-04 16:33] #3022 closed

[2018-04-04 16:34] Majkl578 commented on #2923
Done today. :tada:

What is the status here now?

[2018-04-04 16:36] Nyholm commented on #3022
Excellent news. Thank you.

[2018-04-05 14:29] JillevdW commented on #2848
Any update on the status of this issue? I'm running into this exact issue.

[2018-04-05 16:04] morozov commented on #2848
@JillevdW could you provide a minimal reproducible test scenario?

[2018-04-05 20:59] DimaUlyanets commented on #2848
Had the same issue after updating composer a moment ago. Fixed that issue by rolling back:
 - Removing doctrine/common (v2.8.1)
  - Installing doctrine/common (v2.7.3)

  - Removing doctrine/dbal (v2.7.0)
  - Installing doctrine/dbal (v2.5.13)

PHP - 7.1.5
Ubuntu - 16.04

[2018-04-05 23:35] imonroe commented on #2848
I am not sure how to trigger it reliably.  I found my way here by Googling error messages.  I was seeing on every page page that required authentication:

SQLSTATE[HY000]: General error: PDO::ATTR_STATEMENT_CLASS requires format array(classname, array(ctor_args)); the classname must be a string specifying an existing class 

It looked from the stack traces that it was being triggered because of so

[2018-04-05 23:47] morozov commented on #2848
@imonroe given you have access to the environment it's reproducible in, could you try running a  sample project like the following and see if it's sufficient?
[code]
[code]

Until we make it reproducible, we cannot fix it.

[2018-04-05 23:51] morozov commented on #2848
Interestingly, similar non-reproducible PDO-related issues (#2628, #2847) were also reported by Laravel users. Is it possible that Laravel somehow bypasses the requirement for PDO in `composer.json` and lets you use the DBAL without the extension?

[2018-04-06 01:27] morozov commented on #2848
@imonroe please check the version of your `php-fpm`. Looks like it's lower than 7.1 but the code requires ^7.1.

[2018-04-06 01:59] imonroe commented on #2848
Upgrading PHP-FPM to 7.2 totally did the trick.

[2018-04-06 11:51] mikeSimonson commented on #2848
The person who got it working is not the one who filled the issue but it looks like this can be closed now ? @morozov

[2018-04-06 11:53] #2847 closed

[2018-04-06 12:15] ashgibson opened #3091 "2.7 breaks renaming columns in mysql 5.7"
I am using this package with latest version of Laravel (5.6.15) and my migrations have started breaking when using $table->renameColumn().

It looks like when I try and rename a nullable column the sql that is generated adds not null. It is also not including UNSIGNED for unsigned integers.

[2018-04-06 14:24] amenk commented on #2848
Had the same problem here. Downgrading to `composer  require doctrine/dbal=2.6.3` did the trick so far. Whenever; i was not able to reproduce in a minimal example on the same machine using https://github.com/doctrine/dbal/issues/2848#issuecomment-379109082 - either via php cli or with mod_php 7.1.16

[2018-04-06 14:28] mikeSimonson commented on #2848
Is the webserver that you use (the env in which you have the issue) also running php 7.1 ?

[2018-04-06 14:41] ashgibson commented on #3091
2.7.0

[2018-04-06 14:52] amenk commented on #2848
I just found out it is running PHP Version 7.0.29

[2018-04-06 15:01] amenk commented on #2848
I switched to php 7.1 and everything works fine with . Given the case that I composer-installed with php7.1 and then tested with php7.0 nobody can blame DBAL.

[2018-04-06 18:59] ajoy39 commented on #3091
+1 on this issue, running Laravel migrations that rename columns with doctrine/dbal 2.7 generates the following error:

``
  SQLSTATE[0A000]: Feature not supported: 1846 ALGORITHM=COPY is not supported. Reason: Columns participating in a fore
  ign key are renamed. Try ALGORITHM=INPLACE. (SQL: ALTER TABLE watchlist CHANGE user_id watchlist_id INT NOT NULL)
``

Downgrading to 2.6.3 allows me to run

[2018-04-06 19:49] morozov commented on #3091
@ajoy39 please try reducing the test to DBAL-only. You can debug the Laravel app and see what calls it makes to Doctrine. AFAIK, no one of the maintainers uses Laravel.

[2018-04-06 21:07] fnagel opened #3093 "When updating to version v2.7 type DateInterval throws errors"
When using doctrine/dbal with Symfony, the following error is thrown after updating from 2.6.3 to 2.7.0:

[code]

Using `"doctrine/dbal": "2.6.*"` fixes this. Is this a usage issue or a bug?

[2018-04-06 21:10] morozov commented on #3093
@fnagel what database does this happen on? Could you provide an isolated reproduction scenario? On its own, the error message may not be really helpful.

[2018-04-06 21:32] fnagel commented on #3093
Wow! That's a lightning fast response time :-D

I'm using MySQL 5.7.19 with Symfony 3.3.16. I will try to come up with a isolated test case asap. Is there something I could build upon? Or is a minimal Symfony project suitable?

[2018-04-06 21:38] morozov commented on #3093
Ideally, it should be built w/o any external dependencies. Just DBAL. Something like https://github.com/doctrine/dbal/issues/2848#issuecomment-379109082.

[2018-04-07 04:44] #3082 closed

[2018-04-07 05:40] Majkl578 commented on #3093
Hmm, this is because after #2579 DateIntervalType always expects a sign, which is not there for pre-2.7 records.

[2018-04-07 05:46] Majkl578 commented on #3093
@fnagel Could you please try with #3097?

[2018-04-07 13:32] wespiremedia commented on #2848
Same problem here after `composer update`,  rolled back to 2.6.3 fixed it for now.

[2018-04-07 18:37] #3093 closed

[2018-04-07 20:04] Majkl578 commented on #3075
Should be fixed by #3090 + #3095.

[2018-04-07 20:04] #3075 closed

[2018-04-07 20:09] Majkl578 commented on #3049
Haven't seen this since then, it's possible it's been fixed upstream.

[2018-04-08 00:09] morozov commented on #3049
Still reproducible. Just caught it by trying to run PostgreSQL tests without installed extension:
[code]

[2018-04-08 00:11] Majkl578 commented on #3049
@morozov Could you try without Symfony listener installed/enabled? So we can report it on appropriate place. 👍 Thanks.

[2018-04-08 00:14] morozov commented on #3049
Doesn't fail this way without the listener!

[2018-04-08 01:06] Majkl578 commented on #3049
Reported here: https://github.com/symfony/symfony/issues/26861

[2018-04-08 21:35] #2848 closed

[2018-04-09 09:02] fnagel commented on #3093
Just tested 2.71 -- everything works again as expected. Thanks a lot for your fast response! <3

[2018-04-09 09:27] digitlimit commented on #2848
**Issue Resolved**
I was getting same error.
I am  running Nginx in Ubuntu 16.04, I have php7.1 installed however it turned out Nginx configuration points to php7.0-fpm.sock

![image](https://user-images.githubusercontent.com/2041419/38490245-7dbb58fe-3be0-11e8-8049-ca8527027b35.png)

Changing php7.0-fpm.sock to php7.1-fpm.sock resolved this issue

![image](https://user-images.githubusercontent.co

[2018-04-09 11:41] dominikzogg opened #3100 "Updating from dbal 2.6.3 to 2.7.1 breaks the gedmo timestampable"
We've updated from dbal 2.6.3 to 2.7.1 and have the issue, that the gedmo timestampable stopped working, when the column is on the main table of a JOINED table.

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'updated_at' in 'field list'

[2018-04-09 11:52] #3100 closed

[2018-04-09 13:56] jstolp opened #3101 "SQLServer [ PDO_STR | PDO_INPUT_OUTPUT ] -> Invalid parameter type: 2147483650"
Hello Doctrine / DBAL team,

First of all GREAT WORK! I Love this piece of software.

But i'm facing a challenge in the following piece of code:

`
        // Create query from the declared parameter arrays
        $allParameters = array_merge($inputParameters, $outputParameters);
        $placeholders = ':' . join(',:', array_keys($allParameters));
        $query = "EXEC {$storedProcedure} {$plac

[2018-04-09 14:01] Majkl578 commented on #3101
You composer.json shows fixed dependency on 2.7.0 `"doctrine/dbal": "2.7.0"` although you are mentioning 2.7.1.
The bug you are facing was present in 2.7.0 and was fixed in 2.7.1. Please make sure you are really using 2.7.1 (and set dependency in composer.json to `^2.7.1`), the exception has been changed to deprecation only.

[2018-04-09 14:05] jstolp commented on #3101
Thanks Michael, I'll try it out in a bit and let you know if this fixes my
issue.
We'll close it for future reference for developers.

On Mon, 9 Apr 2018, 16:01 Michael Moravec, <notifications@github.com> wrote:

[2018-04-09 14:11] jstolp commented on #3101
For all developers in the future.
This fixed the issue... **https://github.com/doctrine/dbal/releases/tag/v2.7.1**

Composer.json

[code]

Update, and done!

Thanks Michael

[2018-04-09 14:11] #3101 closed

[2018-04-10 12:58] jarnovanleeuwen commented on #3091
+1

Since 2.7 `unsigned` is dropped when renaming an integer column, causing failure due to mismatching foreign key columns.

[2018-04-10 13:31] ajoy39 commented on #3091
2.7.1 also fixed this for me

[2018-04-10 15:05] Majkl578 commented on #3091
Ok, thanks for the info. This was likely fixed by #3089 (assuming you are using the `unsigned=true` option).
Closing it here then. :+1:

[2018-04-10 15:05] #3091 closed

[2018-04-10 16:04] #3049 closed

[2018-04-12 17:02] pfeiferbit commented on #2380
Wouldn't it be possible to have it backported to 2.5.* ?

Doctrine 2.6.* has a dependency on PHP 7.1 which my hoster cannot fulfill - but with 2.5.* the schema will never be validated successfully due to this bug.

[2018-04-12 19:30] Ocramius commented on #2380
2.5.* is only going to get security fixes.

[2018-04-16 07:34] javiereguiluz opened #3110 "Don't use the server_version option to define the vendor name"
In this comment: https://github.com/doctrine/dbal/issues/2985#issuecomment-378595588 you can see that when using MariaDB, the `server_version` option must include not only the version number but also the vendor name: `server_version: 'mariadb-10.2.12'` instead of `server_version: '10.2.12'`.

I wonder if this could be solved differently to keep the vendor name out of the `server_version` value. Th

[2018-04-16 15:53] violuke commented on #2985
For me on doctrine v2.6.1 (with Symfony) we need a `server_version` of `10.2.14-mariadb` (so the `mariadb` bit at the end, not the beginning. I hope this helps others.

[2018-04-16 15:57] tristanbes commented on #2985
well it doesn't seem to make a difference since the condition is
`$mariadb = false !== stripos($version, 'mariadb'); `

So as soon as mariadb is detected, it should be ok ?

[2018-04-16 16:05] violuke commented on #2985
When I use it with `mariadb-` at the start, I get the following, but with it at the end it seems to be ok.

[code]

Thanks

[2018-04-16 16:14] tristanbes commented on #2985
and are you sure you are using `doctrine/dbal` >=2.7 @violuke

What does tell you `composer show doctrine/dbal` ?

[2018-04-17 06:57] javiereguiluz commented on #3110
I don't use MariaDB (maybe @tristanbes, the original issue reporter, can help us here) but it looks like the version returned by MariaDB follows a different format. According to their official docs (https://mariadb.com/kb/en/library/version/) it would be something like this: `10.0.3-MariaDB-1~precise-log`

[2018-04-17 09:08] tristanbes commented on #3110
I confirm that the format is different:
Connecting to the database via the cli gives something like:
`Server version: 10.2.14-MariaDB-10.2.14+maria~stretch-log mariadb.org binary distribution`

[2018-04-17 13:59] violuke commented on #2985
@tristanbes, no I'm using 2.6.1 of doctrine/orm and 2.6.3 of doctrine/dbal. I said I was on 2.6 originally. Does this change from 2.6 to 2.7?

[code]

Thanks

[2018-04-17 14:01] tristanbes commented on #2985
Yes, MariaDB is only supported with dbal >= 2.7

[2018-04-18 15:37] chrisguitarguy opened #3111 "PDO::FETCH_KEY_PAIR Missing from FetchMode Constants"
There's no constant in `Doctrine\DBAL\FetchMode` for `PDO::FETCH_KEY_PAIR`.

Was this intentional? Could it be added? Happy to send a PR for this, but wasn't sure if the omission was intentional.

See also #3082 where FETCH_KEY_PAIR was also mentioned.

[2018-04-18 16:37] morozov commented on #3111
@chrisguitarguy it is intentional because this mode is only supported in PDO but not other underlying drivers. We may want to implement it across platforms in `3.0` but it requires some refactoring of the driver layer first.

[2018-04-18 16:44] Majkl578 commented on #3111
You can still use the constant in 2.x though and it should work as long as you use PDO-based driver. Note that it'll emit deprecation warning now in 2.x since it's not explicitly supported a fetch mode across drivers.
See #2996 + #2958.

Marking as feature request for 3.0 where it may eventually become a supported FetchMode.

[2018-04-18 16:55] chrisguitarguy commented on #3111
Ah, I gotcha. Didn't think about non-PDO drivers.

For what it's worth, I "fixed" my own deprecation warning by just doing `FetchMode::ASSOCIATIVE` and using `array_column` to pull out what I needed. That may be a solution for other drivers, but DBAL probably doesn't have enough info about the query to do that without parsing SQL I'd guess.

[2018-04-18 16:57] morozov commented on #3111
@chrisguitarguy you probably can use `FetchMode::NUMERIC` and the first two columns instead without depending on the column names.

[2018-04-20 11:38] chrisguitarguy commented on #3111
Looked into this a bit more and I think I pretty much understand how it would get implemented. PDO stuff just works, but things like the mysqli, oci, and sql server drivers would need a supported added in their `{DriverName}Statement` classes.

Is that on the right track?

I've only every fixed stuff in DBAL for postgres and mysql, are there docs on how to run the OCI or other tests anywhere?

[2018-04-20 17:05] morozov commented on #3111
@chrisguitarguy, please hold off on implementing it. While it's technically possible, currently, there's no proper place to put the implementation. If it's implemented on the `Driver\Statement` level, it will have to be duplicated for every non-PDO driver (same as currently `FetchMode::STANDARD_OBJECT` and `FetchMode::CUSTOM_OBJECT` are).

As for testing on OCI, your options are:

1. Don't bother.

[2018-04-20 23:55] morozov opened #3114 "Portability Statement still fetches all data in iterator mode"
As of https://github.com/doctrine/dbal/pull/2718, in iterator mode, statements are supposed to fetch entries one by one for more efficient memory usage.

Apparently, the portability statement wrapper still fetches all entries in memory:
https://github.com/doctrine/dbal/blob/11037b4352c008373561dc6fc836834eed80c3b5/lib/Doctrine/DBAL/Portability/Statement.php#L140-L145

It renders the entire optimiz

[2018-04-23 11:05] Gemorroj opened #3116 "Sqlite: JSON support"
php have enabled json support since 7.3 version
although, I think you can ask for a backport and in older versions of php
see https://github.com/php/php-src/pull/2852
and http://www.sqlite.org/json1.html

[2018-04-26 13:46] AntoniusGolly commented on #1119
Still not fixed? We have the same issue.

[2018-04-26 14:02] Ocramius commented on #1119
Closing as duplicate of #2072

[2018-04-26 14:02] #1119 closed

[2018-04-27 01:35] #2723 closed

[2018-04-28 11:12] fredeastside opened #3118 "MasterSlaveConnection::ping() does't work, it throws PDOException"
Hi,

When I use ```MasterSlaveConnection::ping()``` it doesn't work correctly. The problem's in custom ```MasterSlaveConnection::query()``` method. Now there don't exist block try-catch and line ```$statement->setFetchMode($this->defaultFetchMode);```. A script falls down with PDOException when execute ```SELECT 1``` query. Actually, this method has one different line ```$this->connect('master');`

[2018-04-29 11:37] belgattitude commented on #3110
For the full story: read the first paragraph in #2825 about the mariadb version detection.

MariaDB server returns the version with their vendor name (+ some prefixes or suffixes are added per distributions to handle some replications issues). Their clients 'libmariadb-client', connector/j'... will trip the vendors and prefixes transparently... In other words if you're using jdbc or php compiled w

[2018-04-29 11:39] belgattitude commented on #3110
I like the idea of @ocramius

@javiereguiluz do you think it would be ok ?

[2018-04-29 16:49] Majkl578 opened #3121 "Document how to opt-in for deprecations"
We shipped some deprecations in 2.7 using `@trigger_error(..., E_USER_DEPRECATED)`, but haven't provided a way to enable those.

We should document how to do so, for tests and/or globally.

[2018-04-29 19:59] Majkl578 commented on #2469
Hi, I am closing this as there are already 2.6 and 2.7 releases

[2018-04-29 20:00] #2469 closed

[2018-04-29 20:01] Majkl578 commented on #2468
Hi, I am closing this as there are already 2.6 and 2.7 releases and we test Oracle on Continuous PHP.
Should any issues still persist, please open new issue based on 2.7 branch.

[2018-04-29 20:01] #2468 closed

[2018-04-29 20:08] Majkl578 commented on #2652
SAP Wiki still doesn't provide binaries for PHP 7.2 at the end of April 2018 (5 months after PHP 7.2.0 release).
Since DBAL 3.0 will be PHP 7.2+ only, this would mean there is no compatible combination of SQL Anywhere driver and DBAL.

[2018-04-29 20:28] #3114 closed

[2018-04-29 22:44] morozov commented on #3118
@fredeastside please feel free to provide a pull request with a fix and a test for it.

[2018-04-30 09:12] mi-hol commented on #2886
@mwns was the issue solved?

[2018-04-30 13:28] srigi commented on #2868
This issue should be re-opened. Fetching data for sequence definition is not working with Postgres&nbsp;10.3. Fix in #2893 in not enough.

Code from @TiFaBl actually fixes the problem. Whats the fastest way for fix to be released? Should I start PR with tests/fixed-code?

[2018-04-30 13:29] Ocramius commented on #2868
First a failing test case

[2018-04-30 17:52] Majkl578 commented on #3121
@greg0ire will take care of that (can't set him as assignee here).

[2018-05-01 21:22] #1227 closed, assigned to Majkl578

[2018-05-01 21:25] Majkl578 commented on #1221
PDOStatement is subtype of Statement interface. Also as of DBAL 3.0 PDO will not be part of the contract anymore.

[2018-05-01 21:25] #1221 closed

[2018-05-01 21:29] #1323 closed

[2018-05-01 21:30] #1287 closed

[2018-05-01 21:30] #1286 closed

[2018-05-01 21:31] #1274 closed

[2018-05-01 22:23] Majkl578 opened #3124 "Split DBALException into smaller specific exceptions, consider dropping "Exception" suffixes"
Much like ORM has split ORMException into smaller specific exceptions and made ORMException a marker interface (doctrine/doctrine2#6743), DBAL should follow this principle as well.

TBD

[2018-05-02 02:55] #3121 closed

[2018-05-02 08:49] comp64 opened #3126 "Allow extending MariaDb1027Platform class"
MariaDb1027Platform is marked as final. I suggest removing the final modifier.

The point is to be able to override the behavior of the Platform like for example changing the truncate table query.
I agree that I can just write my own Platform based on MySqlPlatform, which is non-final, but then there is a hard-coded reference in MySqlSchemaManager that checks if the platform is instanceof MariaDb1

[2018-05-02 12:07] Ocramius commented on #3126
We can't guarantee BC on subclassing, so no, the class will not be made open. Please C&P it instead, if you want to customise it.

[2018-05-03 14:12] igorjacauna commented on #1110
Any updates? I stopped a migration of project to doctrine because of this. :disappointed:

[2018-05-03 17:03] morozov commented on #1110
@igorjacauna I do not recall any work on this issue during the last year, so most likely no updates. Please feel free to submit a failing test.

[2018-05-03 17:14] garex commented on #1110
@igorjacauna I suggest you to switch to hibernate ))

[2018-05-04 15:44] FanchTheSystem opened #3129 "driver syntax is not the same in doctrine.dbal.driver and doctrine.dbal.url"
Hello,

Using last symfony, in the file : config/packages/doctrine.yaml

For driver it work only with _
[code]

For url it work only with -
[code]

So you can't have in your .env file somerthing like:
`
DATABASE_URL=${DBDRIVER}://...
`

Maybe you should add an alias or two ;)

It is the same for mysql as example:
https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configura

[2018-05-04 16:02] Majkl578 commented on #3129
Underscore is not valid character for URI scheme, thus `-` is used as a workaround.
It's translated back here: https://github.com/doctrine/dbal/blob/f76bf5ef631cec551a86c2291fc749534febebf1/lib/Doctrine/DBAL/DriverManager.php#L398-L424

[2018-05-04 22:02] spdustin opened #3130 "Updating existing app to use utb8mb4 — proper steps?"
What are the proper steps to update an existing app using Doctrine/MySQL to support the `utb8mb4` charset? Is there a helper generator for creating such a migration?

[2018-05-05 20:01] Majkl578 opened #3132 "Extract sharding exception codes into constants"
It looks pretty random now, constants would help understanding these codes.

https://github.com/doctrine/dbal/blob/v2.7.1/lib/Doctrine/DBAL/Sharding/ShardingException.php#L36

[2018-05-08 16:31] morozov commented on #3111
@thomask let's leave it here for now.

[2018-05-11 08:44] TomasPilar opened #3139 "PostgreSQL 10: sequence definition failed"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.7.1

#### Summary

Commad `orm:schema-tool:update` run invalid SQL`SELECT min_value, increment_by FROM XXX` after upgrade from PostgreSQL 9.6 to 10.3.

#### Current behavior

There is a invalid SQL query for PostgreSQL 10+ at [PostgreSqlSchemaManager.php](https://github.com/doctrine/dbal/blob/master/lib

[2018-05-11 09:28] riccardonar opened #3140 "Lost parameters: wrong ESCAPED_BRACKET_QUOTED_TEXT"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.5.7

#### Summary

This commit https://github.com/doctrine/dbal/commit/3a351369582dade60c750e2cef540eb7b568e6b3 change preg_match_all and not consider the shortest match so can lost some parameters

#### Current behavior

`Doctrine\DBAL\SQLParserUtils::getUnquotedStatementFragments` for this statement

[2018-05-11 12:41] Majkl578 commented on #3139
Are you sure you are correctly using PostgreSQL 10 platform and not 9.6?
In case of PostgreSQL 10, list of all sequences with their increment_by and min_value is known beforehand so the query should not be executed at all (that code path should be skipped).

[2018-05-11 12:51] TomasPilar commented on #3139
Hi Michal, yes i am pretty sure.
[code]

Here is issue with same bug #2868 which i found approx. 10 minutes before your answer. So this issue is duplicated issue. Sorry for this.

[2018-05-11 12:51] #3139 closed

[2018-05-11 13:06] Majkl578 commented on #3139
That is version of your PostgreSQL server, but is your DBAL connection using PostgreSQL 10 platform?
Could yould you please dump output of `get_class($connection->getDatabasePlatform())` to see what platform is your connection using?

[2018-05-11 13:48] TomasPilar commented on #3139
You're right. Platform class is for PostgreSQL 9.4 `Doctrine\DBAL\Platforms\PostgreSQL94Platform`. Command is OK when i switch to `Doctrine\DBAL\Platforms\PostgreSQL100Platform`.
Thank you!

[2018-05-12 00:34] spacetraveller commented on #2859
Thanks for breaking the ability to have the option of having a CURRENT_TIMESTAMP set to default. We use Symfony to handle migrations and have other technologies which user the DB, and now due to this "fix" (or downgrade), I'm unable to set a default timestamp into the schema. Not happy about this "fix" at all, why was it removed ? Makes no sense and is a BAD decision, giving LESS flexibility to us

[2018-05-12 00:48] Majkl578 commented on #2859
@spacetraveller Please open new issue for your problem referencing this one. If possible, also provide a test case for the broken use case. Thanks.

[2018-05-12 01:39] spacetraveller opened #3142 "DBAL does not support default parameter for datetime types"
In more recent versions of dbal, the insertion of default option for datetime is no longer being performed, with the result that you're unable to generate a DB schema with a default CURRENT_TIMESTAMP.

        $this->addSql('ALTER TABLE cs_user_inbox CHANGE time_added time_added DATETIME NOT NULL');

/**
     * @var \DateTime
     *
     * @ORM\Column(name="time_added", type="datetime", nullable=f

[2018-05-12 18:48] gigi commented on #1240
Hi, @beberlei! Do you have any plans to implement this?

[2018-05-13 01:48] fabriciojs opened #3145 "Index should be fulfilled if its columns match the leftmost part of a longer compound index"
DBAL does not consider `KEY(A, B)` to fulfill `KEY(A)`, assuming that it should, since the leftmost part matches the whole later index.

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.6.x

# Context

I am working in a project where I stumbled upon a DBAL (2.6) behavior that I couldn't understand why it was built that way (the situation happens at least since 2.5 wh

[2018-05-13 02:08] fabriciojs commented on #1195
@digilist I have created a new issue with what I assume is the same concern you presented here (+2 years  later): https://github.com/doctrine/dbal/issues/3145

[2018-05-13 16:00] digilist commented on #3145
Great work, thank you :+1: would love to see this fixed

[2018-05-14 23:52] morozov opened #3152 "When building queries, DBAL doesn't consider reserved keywords"
### Bug Report

When building queries, DBAL doesn't consider reserved keywords

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.7.1

#### Summary

Assuming `'FILE'` is a reserved keyword on the Oracle platform, I can create a table with the `'file'` column using the schema manager but I can't execute an `INSERT` or `UPDATE` statement using the `Connection` API. I al

[2018-05-14 23:57] morozov commented on #3152
The same is reproducible with `'select'` as the column name on other platforms.

[2018-05-15 19:31] morozov commented on #3152
@Ocramius we can use this issue as a starting point for discussion of whether/how identifiers should be quoted in the DBAL.

[2018-05-16 23:05] spacetraveller commented on #3142
Just including part of the composer.json for your reference..

`"require": {
        "php": ">=7.0.0",
        "creof/doctrine2-spatial": "^1.2",
        "doctrine/common": "^2.7.0",
        "doctrine/dbal": "^2.5",
        "doctrine/doctrine-bundle": "^1.6",
        "doctrine/doctrine-migrations-bundle": "^1.3",
        "doctrine/orm": "^2.5",
        "incenteev/composer-parameter-handler": "^2.0

[2018-05-16 23:07] spacetraveller commented on #2859
Hey Majk578, please see https://github.com/doctrine/dbal/issues/3142 for the detaiils of the issue.

[2018-05-16 23:32] Ocramius commented on #3142
Not going to happen for a few reasons:

 1. ORM assumes read/write to be symmetrical: default values lead to non-idempotent writes, and the ORM therefore cannot operate on fields with default values (which should not be mapped - transient)
 2. The `CURRENT_TIMESTAMP` is a MySQL-specific that doesn't use a value, but rather a pseudo-expression that is "something special". ORM has no real way other

[2018-05-16 23:32] #3142 closed

[2018-05-16 23:35] Ocramius commented on #2859
Reminder to not use `default` with mapped fields, as it breaks the symmetry between written and read data.

[2018-05-18 14:45] Ocramius commented on #1240
Closing this one as `won't fix`. Cassandra is not a relational database, and greatly differs from what we understand under relational DB, therefore shouldn't be covered by DBAL, but by a dedicated adapter.

[2018-05-18 14:45] #1240 closed

[2018-05-18 19:12] dypa opened #3155 "Reserved word `from` and unknown column 'c0_.from' in 'field list'"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.7.1

#### Summary

Reserved word `from` not works in DQL and query builder

#### Current behavior

[code]

#### How to reproduce

[code]

DQL query `SELECT l.from, l.to FROM App\Entity\Constructor\Link l WHERE l.from IN (:items) OR l.to IN (:items)`

query builder
[code]
#### Expected behavior

Expected

[2018-05-19 12:04] Ocramius commented on #3155
@dypa what's the ORM version?

[2018-05-22 12:07] J4VMC opened #3159 "findOneBy() throws 2 exceptions when used with MSODBCSQL17 and SQL Server 2008 R2"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.7.1

#### Summary

Up-to-date Symfony 4 application that connects to a remote SQL Server 2008 R2 with MSODBCSQL17
and SQLSRV Doctrine DBAL driver in a Docker container running PHP-FPM 7.2 and Nginx.

Using Doctrine to persist entities and retrieve one more than one record works without problems, but the

[2018-05-22 21:44] leoqbc commented on #3152
Hi guys I'm facing the same problem in MYSQL, I have a field called 'desc':

[code]

The "desc" word throws a SyntaxException.

My solution was to put mysql quote as array parameter like this:

[code]

May it can be a parcial solution, can we discuss a fix??

Best.

[2018-05-23 03:28] andytruong commented on #1798
That would be great to have standard API for this.

[2018-05-23 03:39] andytruong commented on #1798
Look like we already have implementation for View: https://github.com/doctrine/dbal/blob/2.7/lib/Doctrine/DBAL/Schema/AbstractSchemaManager.php#L517

[2018-05-23 04:12] morozov commented on #1798
Given that these kinds of objects are non-standardized across platforms and therefore cannot be defined in an abstract way, I don't see a value in having DB**A**L manage them.

[2018-05-23 04:31] morozov commented on #3159
According to our implementation, the `FETCH NEXT X ROWS ONLY` syntax is only supposed to be used with SQL Server 2012 and newer.

Could you make sure you're not passing `serverVersion=2012` or greater in your `DATABASE_URL`?

[2018-05-23 07:37] J4VMC commented on #3159
@morozov I copied and pasted an anonymised version of our `DATABASE_URL`. We don't make use of or mention Server 2012 anywhere in the code.

[2018-05-23 07:40] Ocramius commented on #3159
Can you dump the output of `Doctrine\DBAL\Connection#getPlatform()` please?

On Wed, 23 May 2018, 09:37 Javier, <notifications@github.com> wrote:

[2018-05-23 07:50] J4VMC commented on #3159
@Ocramius shall I dump that in the controller on in the repo?

[2018-05-23 07:53] Ocramius commented on #3159
@J4VMC wherever you want: that will give you the selected platform, which is what @morozov is trying to figure out :-)

[2018-05-23 07:54] J4VMC commented on #3159
@Ocramius it is in fact using 2012 Platform
[code]

But I thought `SQLServer2008Platform` was the default one? Do I specify the platform on `doctrine.yaml`?

[2018-05-23 08:31] J4VMC commented on #3159
It's all sorted now, I've been able to get it to use `SQLServer2008Platform`.

Thanks @morozov and @Ocramius

[2018-05-23 08:31] #3159 closed

[2018-05-23 09:00] Ocramius commented on #3159
@J4VMC can you clarify what had to be changed, so that other lost souls that are forced onto SQL Server 2008 can get some help here? :-)

[2018-05-23 09:08] J4VMC commented on #3159
So in my case, I had to change a few things to get it all sorted:

The `DATABASE_URL` now looks like `DATABASE_URL=sqlsrv://User:Password@server.example.local:1433/DBName` (like any other else) instead of `DATABASE_URL=sqlsrv://User:Password@server.example.local:1433/DBName?serverVersion=2008`

Then after your post, I had a moment of enlightenment and I ran `SELECT @@VERSION` in an SQL console. I

[2018-05-23 09:50] J4VMC commented on #3159
I'll write a blog post about it, because it's been a proper mission trying to get the app working as I wanted. I had many challenges, this issue being one of them.

[2018-05-23 12:33] jbdelhommeau commented on #2880
Do you say if this bug is resolved ? I still have the problem with jsonb.

[2018-05-23 19:32] leoqbc commented on #3152
Make sense, as I imagined, not easy to patch...

Well ```Connection::quoteIdentifier()``` worked fine for me.

Maybe it can be refactored in future, since It breaks SOLID's SRP IMHO, but I dont know the complete API.

Thanks @morozov and good luck on this.

[2018-05-24 02:09] morozov commented on #3159
@jwage would it make sense to update the [documentation](https://github.com/doctrine/dbal/blob/2.7/docs/en/reference/configuration.rst#automatic-platform-version-detection)?

Two facts to be highlighted:
1. For the SQL Server, the version should be not the product name (2012, 2018, etc.) but the internal version (e.g. 10.0.4067.0). As far as I understand, the originally provided `2012` is greater

[2018-05-24 07:50] Ocramius commented on #3159
I'd rather say that the SQL platform can be made a constructor dependency, with `LazyPlatform` as the current thing that is leading to so many headaches (unsure about dependency direction for now).

[2018-05-24 11:32] andrey-helldar opened #3161 "Unknown database type enum, MySQL57Platform may not support it"
### Bug Report

|    Q        |   A
|------------ | ------
| Database    | MySQL 5.7.20
| Doctrine/DBAL     | 2.7.1
| Framework     | Laravel 5.6.22

#### Summary

I get an error when I try to start the migration to a field change.

#### Current behavior

[code]

#### How to reproduce

Seeder:
[code]

The structure of the database I am trying to modify:
[code]

BUT if you migrate to add or remove

[2018-05-24 11:36] Ocramius commented on #3161
Closing as duplicate. See:

 * https://stackoverflow.com/a/9057352/347063
 * https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/cookbook/mysql-enums.html

The database platform needs to be configured to detect any custom types, and `ENUM`s are indeed custom.

[2018-05-24 11:36] #3161 closed

[2018-05-24 17:04] morozov commented on #2787
Fixed by #3149.

[2018-05-24 17:04] #2787 closed

[2018-05-25 05:13] morozov commented on #3079
Closing as fixed by https://github.com/doctrine/dbal/pull/3080.

[2018-05-25 05:13] #3079 closed

[2018-05-26 22:10] Majkl578 opened #3163 "Consider passing AbstractPlatform in Connection constructor directly"
https://github.com/doctrine/dbal/pull/3131#discussion_r187760888

[2018-05-26 22:12] Majkl578 opened #3164 "Consider allowing execution of Connection::delete() with no identifiers"
https://github.com/doctrine/dbal/pull/3131#discussion_r187760967

[2018-05-26 22:15] Majkl578 opened #3165 "Consider enforcing result cache driver in QueryCacheProfile"
https://github.com/doctrine/dbal/pull/3131/files#r187761096

[2018-05-26 22:18] Majkl578 opened #3166 "Improve exception hiearchy"
This should be follow-up of #3131 once merged.

[2018-05-26 22:34] Majkl578 commented on #3116
The referenced PR only enables JSON support for bundled SQLIte. What happens with non-bundled variant, i.e. in Debian and externally linked libsqlite3? How does one detect whether the used SQLite supports it?
I.e. Debian enabled this as of 3.9.1-1 and is available in Stretch only.

Unless it's clear (and it's not from the discussion in the PR - see comment from Christoph), this seems to be a no-go

[2018-05-27 05:29] morozov commented on #3129
I’d leave it as is and have properly documented. Also, made sure error messages are helpful.

[2018-05-27 06:04] morozov opened #3167 "The semantics of the GUID expression is inconsistent across platforms"
|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.7.1

#### Summary

As a developer, I expect the GUID expression generated by `AbstractPlatform::getGuidExpression()` to have the same semantic (namely, [UUIDv1](https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_1_(date-time_and_MAC_address))) across supported platforms.

#### Current behavior

1. On M

[2018-05-27 18:58] msheakoski opened #3168 "PostgreSQL check constraint requires redundant "CHECK" in the statement"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.7.1

#### Summary

When adding a check constraint for PostgreSQL, the insertion of the "CHECK" SQL keyword should be automatically handled by PostgreSqlPlatform. [SQLServerPlatform](https://github.com/doctrine/dbal/blob/f4f987d72549dfa43bd2d129a2e274d8e4196686/lib/Doctrine/DBAL/Platforms/SQLServerPlatfo

[2018-05-28 08:47] FanchTheSystem commented on #3129
Yes I think the only "clean" solution is to have an explicit warning in the documentation.
And maybe recommend usage of shorter version like 'plsql'

[2018-05-29 10:08] tolbon opened #3169 "[Docs] DBAL/Types seems break with new theme"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no

#### Summary

see [Types Docs](https://www.doctrine-project.org/projects/doctrine-dbal/en/2.7/reference/types.html#mapping-matrix) seems not supporting fusion cells.

I don't know how to repair that else I make a PR. With the old theme it's work perfectly maybe new theme bad config/params introduce this.

[2018-05-29 10:10] Majkl578 commented on #3169
@jwage Can you please look into this? AFAIK we talked about it back then.

[2018-05-29 12:10] jwage commented on #3169
The RST parser we are using now does not support tables with different column and row spans. We need to figure out another way to render this data.

[2018-05-29 19:45] jcchavezs opened #3170 "Pass the exception into the `stopQuery`."
### Feature Request

The `SQLLogger::stopQuery` method does not receive any information about the output of the query.

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

##### Problem 1: When calling `startQuery`, `stopQuery` is always being called.

`stopQuery` is not being called when there is an exception thrown in `Connection::

[2018-05-30 04:11] spernica commented on #2848
We have same error because:
PHP 7.2.2 running on server for our web app, but our **cron job** runs on PHP 7.0.29.

[2018-05-30 11:41] Majkl578 commented on #2848
@spernica DBAL 2.6 does not support PHP 7.0, you will need to fix your cron job to use PHP 7.1+.

[2018-05-31 13:00] jcchavezs commented on #3170
Ping @morozov

[2018-05-31 13:25] MichaelBelgium opened #3171 "DBAL type "date" gets saved as "datetime" in database"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | Probably
| Version     | 2.5.13

#### Summary

(from https://github.com/doctrine/migrations/issues/708)

I don't think this is the purpose?
The point is, when making a migration and you add a column with type "date" (`Doctrine\DBAL\Types\Type::DATE`) the type in the database is **datetime**

The MySQL version i use is 5.7 a

[2018-05-31 18:57] morozov commented on #3170
@jcchavezs I like the idea. We do a similar thing in our project by using a custom connection wrapper class. There are a few things to keep in mind though:

1. We cannot change the `stopQuery()` signature in 2.x since it'd be a breaking change. It could be temporarily worked around using `func_get_args()`.
2. The implementation probably should use the `finaly` block to avoid code duplication.

Ple

[2018-05-31 19:32] jcchavezs commented on #3170
Hi Sergei,

Glad to see this is feasible.

@beberlei suggested we instead introduce a new interface (let say
SQLLoggerWithErrors) extending from SQLLogger that includes the method
`stopQueryWithError` and we pass the exception there. His idea is to check
if the logger is `instanceof` SQLLoggerWithErrors or SQLLogger and then
decide what method to use.

The advantage of this approach is that we hav

[2018-06-04 10:08] Yelfive opened #3172 "Default value when Doctrine\DBAL\Schema\AbstractSchemaManager::listTableColumns"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version       | 2.6.3

#### Summary

#### Current behavior

When MySQL column has default values, the PDO returns a quoted value like `'some default value'`,
and this becomes an issue when comparing db and entity, the migration file will escape the quotes too:

[code]

and the `\'hello\'` then results into exception.

[2018-06-04 10:14] Yelfive commented on #3172
Here's my suggestion

[code]

[2018-06-04 16:37] morozov commented on #3172
@Yelfive there was a recent effort to improve handling default values in https://github.com/doctrine/dbal/pull/2850 but it wasn't finished and got eventually reverted. Please feel free to submit a patch.

[2018-06-04 16:48] morozov commented on #3170
@jcchavezs personally, I think adding a new method is overkill given that there's a backward-compatible way of introducing the feature without adding a method.

What I'm concerned about more, is that our logging API still doesn't comply with the Open/closed principle. Every time we want to add some details to logging, we need to change the API.

There's an ongoing effort https://github.com/doctrin

[2018-06-05 05:36] jcchavezs commented on #3170
Sorry, in the end I did not open it: https://github.com/doctrine/dbal/pull/3174

[2018-06-05 07:39] Yelfive commented on #3172
Good to know that and i have a quick fix for my project(in case some need to deal with too)

[code]

[code]

[code]

[2018-06-05 11:33] tonykiselis opened #3175 "Commits silently fail after node quorum rejects changes (Percona cluster + Galera plugin)"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | ^2.0

#### Summary

Commit from code side passes as if commit was successful when no data was written into the database. Issue reveals itself when Doctrine is being used with Percona multi-master cluster with galera plugin.

Commits silently fail. You end up with "lost data" as rest of the code executes a

[2018-06-05 19:24] Majkl578 opened #3176 "Eliminate dependency on doctrine/common"
There's currently hard dependency on `doctrine/common` which pulls unnecessary packages like Lexer or Annotations.
What is actually used:
`Doctrine\Common\Cache` -> to be replaced by `doctrine/cache`
`Doctrine\Common\EventManager` -> needs to be extracted into `doctrine/event-manager`
`Doctrine\Common\Util\Debug` -> move into `doctrine/dbal` / extract to `doctrine/debug` / replace by something els

[2018-06-05 20:14] morozov commented on #3175
Looks like all implementors of the `Connection::commit()` violate the signature and return nothing and/or throw an exception in the case of failure. As part of `2.x`, we can return the boolean value consistently across platforms, in `3.x` (#3005) we should start throwing exceptions.

@tonykiselis what about rollbacks? Besides having been called in a wrong state, can it fail and therefore have to b

[2018-06-05 20:42] tonykiselis commented on #3175
I found that weird too. Although, it's also kinda weird that in most cases it should throw exception so you can wrap commit in a try/catch, but on deeper level it returns bool?

Well, there is no rollback. I mean, you can try/catch commit which fails in this case and it will pass as data would have been commited. Although none is present. I don't feel qualified to comment on inner workings of Perc

[2018-06-05 20:52] morozov commented on #3175
According to the method signature,

https://github.com/doctrine/dbal/blob/0d26c7fae7f003f2a5261ba098ea92371ecc965a/lib/Doctrine/DBAL/Driver/Connection.php#L85-L90

neither of the implementors are supposed to throw exceptions but are supposed to return booleans. This indeed is not OO-friendly and most likely was borrowed from PDO.

Sorry, I should have asked it clearer. My question was, should we f

[2018-06-06 07:21] stof commented on #3176
Is this one really useful ? This debugging component is quite bad IMO (using it in the past have hurt my debugging, because the dumping has side effects as it initializes collections, which made the bug I was debugging disappear).
I suggest recommending `symfony/var-dumper` instead, which spent lots of effort to ensure it stays side-effect-free

[2018-06-06 11:37] hackzilla opened #3177 "Doctrine migrations keeps doing the same database change over and over again"
|    Q        |   A
|------------ | -----
| DBAL Version     | 2.7.1
| Migration Version     | 1.7.2

### Support Question

every time I do a migration diff I get the same change, regardless of how many times I apply it.

originally raised at https://github.com/doctrine/migrations/issues/728

an example migration that is failing:

[code]

After have a look around, the issue appears to be that the

[2018-06-06 13:40] hackzilla commented on #3177
I tracked the code down to ```/vendor/doctrine/dbal/lib/Doctrine/DBAL/Platforms/MySqlPlatform.php``` and ```public function getListTableIndexesSQL($table, $currentDatabase = null)```

However, I can see it hasn't changed in the last 7 years.
So the issue must be with MySQL, and something they've changed in last few months.

[2018-06-07 19:05] Majkl578 commented on #3176
@stof For the rest of 2.x we'll just import a simplified version of Util\Debug here and let's see what happens for 3.x, we may move console commands outside of main DBAL repo, making it easier to use symfony/var-dumper.

[2018-06-09 03:58] cbotsikas commented on #2566
@Ocramius here's your PR.

[2018-06-09 04:12] cbotsikas commented on #2566
I came across this issue trying to change a column in a Laravel application from text to longtext. I traced the migration and the issue was that the change was ignored since [$changedProperties was empty](https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Schema/Comparator.php#L235) although the _length was different.
The creation migration in Laravel was like this:
[code]
and the chan

[2018-06-09 23:44] cbotsikas commented on #2566
I have added some comments [on my PR](https://github.com/doctrine/dbal/pull/3182). There's an issue with a failing test which i feel is not well defined.
Please have a look and let me know if i'm missing something..

[2018-06-11 13:16] FallDi commented on #1939
Cache also not working for `fetch(FetchMode::ASSOCIATIVE)` if only one result in set.

Root cause
`$this->emptied = true;`

Workaround: call `fetchColumn`/`fetch` one more time to force caching

[2018-06-11 15:23] ostrolucky commented on #3142
`CURRENT_TIMESTAMP` is NOT MySQL specific. Same issue is with PostgreSQL 9.6.

[2018-06-11 20:09] morozov commented on #1939
@FallDi could you provide a full code example where this issue is reproducible? The one line provided in the description is not informative enough.

[2018-06-11 20:12] #3176 closed

[2018-06-11 20:30] Ocramius commented on #3142
@ostrolucky my bad! Indeed the expression exists elsewhere too, but the other engines support multiple expressions for `DEFAULT <expression>`.

Amending my comment above.

[2018-06-12 05:31] morozov commented on #3175
While the fix for this issue seems trivial, I'm having a hard time creating a functional test which would fail on `COMMIT` using a regular setup (w/o replication or messing around with the DB internals). @Ocramius, @Majkl578, any ideas?

[2018-06-12 07:13] FallDi commented on #1939
@morozov please find case below

[code]

However if we call `$statement->fetchColumn()` twice until it not return false then all works fine

[code]

[2018-06-12 15:38] morozov commented on #1939
@FallDi according to the [documentation](https://github.com/doctrine/dbal/blob/2.7/docs/en/reference/caching.rst) (see the very end of the page),

I agree it's not the best developer experience. Given that we want to cache the entire data set anyways, it would make sense to buffer it entirely right after execution and then fetch the data directly from cache.

If you think the design needs to be ch

[2018-06-12 16:46] #3036 closed

[2018-06-13 08:03] FallDi commented on #1939
Thank you!

Now it clear for me. I think you can close this issue

[2018-06-13 11:31] Majkl578 commented on #3175
I only have one idea: violating an [_initially deferred_ foreign key](https://www.postgresql.org/docs/10/static/sql-createtable.html) that fails on COMMIT, not after the statement which violated the constraint.